<div class="col">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black"><i class="fa fa-dashboard m-r-xs"></i>控制台</h1>
            </div>
            <div class="col-sm-6 text-right hidden-xs text-md">
                <span class="pull-right label bg-danger inline p-t-5 m-r-xs">警告</span>
                <span class="pull-right label bg-warning inline p-t-5 m-r-xs">提示</span>
                <span class="pull-right label bg-success inline p-t-5 m-r-xs">正常</span>
            </div>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-md-6">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <h4 class="font-thin m-t-none m-b-none text-muted">项目监控</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
                            <a href>项目列表</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-info inline m-t-sm">Member</span>
                            <a href>发布审核</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
                            <a href>结标审核</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <h4 class="font-thin m-t-none m-b-none text-muted">投资人监控</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
                            <a href>提现审核</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-info inline m-t-sm">Member</span>
                            <a href>充值列表</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
                            <a href>投标列表</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <h4 class="font-thin m-t-none m-b-none text-muted">日志监控</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
                            <a href>定时任务日志</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-info inline m-t-sm">Member</span>
                            <a href>投资人监控</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <h4 class="font-thin m-t-none m-b-none text-muted">资金监控</h4>
                    </div>
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
                            <a href>满标出款</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-info inline m-t-sm">Member</span>
                            <a href>提现出款</a>
                        </li>
                        <li class="list-group-item">
                            <a href class="thumb-sm m-r">
                                <img src="img/a0.jpg" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
                            <a href>划款打印</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
