<div name="form" class="bs-example form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="attrVM.title"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <form ng-submit="findAttrs(false)">
                <div class="col-md-3 p-r-none">
                    <input type="text" class="form-control" id="code" ng-model="attrCondition.code" placeholder="属性编号"> </div>
                <div class="col-md-3 p-r-none">
                    <input type="text" class="form-control" id="name" ng-model="attrCondition.name" placeholder="属性名称">
                </div>
                <div class="col-md-3 p-r-none">
                    <input type="text" class="form-control" id="tags" ng-model="attrCondition.tags" placeholder="标签">
                </div>
                <div class="col-md-3 p-r-none">
                    <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                        <span class="w2em" ng-if="!loading" ng-cloak>查询</span>
                        <i class="fa fa-spin fa-spinner w2em" ng-if="loading" ng-cloak></i>
                    </button>
                    <!-- <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button> -->
                </div>
            </form>
        </div>
        <div class="panel panel-default m-b-none">
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="width:60px;">选择</th>
                            <th>
                                属性名称
                                <a ng-href="" class="fa fa-arrow-up" ng-click="doSort('asc','name')" title="正序"></a>
                                <a ng-href="" class="fa fa-arrow-down" ng-click="doSort('desc','name')" title="倒序"></a>
                            </th>
                            <th>
                                属性编码
                            </th>
                            <th>
                                标签
                            </th>
                            <th>类型</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="loading" ng-cloak>
                            <td class="text-center" colspan="5"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                        </tr>
                        <tr ng-if="!loading&&(!attrList||attrList.length==0)" ng-cloak>
                            <td class="text-center" colspan="5">暂无数据</td>
                        </tr>
                        <tr ng-repeat="attr in attrList">
                            <td>
                                <label class="checkbox-inline i-checks i-checks-sm p-t-none">
                                    <input id="chk{{attr.code}}" type="checkbox" ng-model="checkedAttrList[attr.code]" ng-change="toggleAttr(attr)" /><i></i>
                                </label>
                            </td>
                            <td>
                                <label for="">{{attr.name}}</label>
                            </td>
                            <td>
                                {{attr.code}}
                            </td>
                            <td>
                                {{attr.tags}}
                            </td>
                            <td>
                                <div ng-if="attr.fieldType==1">短文本</div>
                                <div ng-if="attr.fieldType==2">长文本</div>
                                <div ng-if="attr.fieldType==3">单项选择</div>
                                <div ng-if="attr.fieldType==4">多项选择</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
                    <div class="row">
                        <div class="col-sm-12 text-right text-center-xs">
                            <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                        </div>
                    </div>
                </footer>
 -->
        </div>
    </div>
    <div class="modal-footer">
        <div id="selectedAttrsArea" class="m-b-sm">
            <label class="label bg-light m-l-xs" ng-repeat="item in selectedAttrs">
                {{item.name}} <i class="fa fa-times pointer m-l-xs text-danger" ng-click="removeSelectedAttr(item)"></i>
            </label>
            <!-- <span>
                <span style="color:#ff0000;cursor:pointer" > X </span>{{item.name}} &nbsp;
            </span> -->
        </div>
        <button type="button" ng-click="ok()" class="btn btn-primary" ng-disabled="attrVM.processing">
            <span class="w2em" ng-if="!attrVM.processing" ng-cloak>确定</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="attrVM.processing" ng-cloak></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>
