<!--<div ng-controller="SupplierOrderCtrl">-->
    <!--<ul class="breadcrumb breadcrumb-page">-->
        <!--<div class="breadcrumb-label text-light-gray">-->
            <!--当前位置:-->
        <!--</div>-->
        <!--<li><i class="menu-icon fa fa-cogs mr5"></i>供应商管理</li>-->
        <!--<li class="active"><i class="menu-icon fa fa-sitemap mr5"></i>订单列表</li>-->
    <!--</ul>-->
    <div class="panel form-horizontal">
        <div class="panel-heading">
            <i class="menu-icon fa fa-sitemap mr5"></i><span class="panel-title">订单详情</span>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form id="purchaseOrderform" name="purchaseOrderform" method="post" >
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            订单编号
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.orderNum"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            出单时间
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.orderTime|zmDate:'yyyy-MM-dd HH:mm:ss'"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            签署时间
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.signOffDate==null?'未签署':purchaseOrder.signOffDate|zmDate:'yyyy-MM-dd HH:mm:ss'"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            订单总价
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.total?(purchaseOrder.total|number:2|CurrencyFilter:purchaseOrder.currency):0"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            贸易条款
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.fob"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            结算方式
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="purchaseOrder.settlementType"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            订单状态
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="purchaseOrder.orderStatus"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-light">
                        <table class="table table-bordered table-hover">
                        <thead style="background-color: transparent">
                        <tr>
                            <th class="text-center">
                                序号
                            </th>
                            <th class="text-center w200">
                                产品中文名称
                            </th>
                            <th class="text-center">
                                产品规格属性
                            </th>
                            <th class="text-center w80">
                                货号
                            </th>
                            <th class="text-center w200">
                                预计交货时间
                            </th>
                            <th class="text-center">
                                数量
                            </th>
                            <th class="text-center w80">
                                实收
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="purchaseOrder.itemList.length==0">
                            <td colspan="4" class="text-center">
                                未找到相关数据
                            </td>
                        </tr>
                        <tr ng-repeat="item in purchaseOrder.itemList" class="valign-middle">
                            <td class="text-center">
                                <a ng-click="showItemDetail(item)"><span ng-bind="$index + 1"></span></a>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.item"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.specialAttrs"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.supplierSku"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.expectedReceiptDate|zmDate:'yyyy-MM-dd HH:mm:ss'"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.quantity"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.quantityReceived"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            产品图片
                        </label>
                        <div class="col-sm-10 pt7">
                            <img ng-src="{{getPicUrl(detail.picUrl)}}"
                                 alt="" width="200" height="200"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            产品中文名称
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            产品英文名称
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.enName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            产品规格属性
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.attrs"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            货号
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.supplierSku"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            数量
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.quantity"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            单价
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.price|number:2"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            计价单位
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.settlementCurrency"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            总价
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.total|number:2"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            订货单位
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.unit"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            包装规格
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.packLength"></span>-<span ng-bind="detail.packWidth"></span>-<span ng-bind="detail.packHeight"><!--</span>-
                        <span ng-bind="detail.packWeight"></span>-<span ng-bind="detail.packType"></span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            要求交货时间
                        </label>
                        <div class="col-sm-10 pt7">
                            <span ng-bind="detail.expectedReceiptDate|zmDate:'yyyy-MM-dd HH:mm:ss'"></span>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            预计交货时间
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.expectedReceiptDate|zmDate:'yyyy-MM-dd HH:mm:ss'"></span>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            交货地址
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.deliveryPlace"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            文件单据
                        </label>
                        <div class="col-sm-10 pt7">
                        <!--暂无-->待更新
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            包装要求
                        </label>
                        <div class="col-sm-10 pt7">
                        <!--<span ng-bind="detail.packLength"></span>-<span ng-bind="detail.packWidth"></span>-<span ng-bind="detail.packHeight"></span>-
                        <span ng-bind="detail.packWeight"></span>-<span ng-bind="detail.deliveryFlag"></span>-<span ng-bind="detail.packType"></span>-->
                            待更新
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            质保期
                        </label>
                        <div class="col-sm-10 pt7">
                        <!--<span ng-bind="detail.xx"></span>-->待更新
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            备注内容
                        </label>
                        <div class="col-sm-10 pt7">
                        <span ng-bind="detail.description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary mr5" ng-click="back()">
                                返回列表
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<ex-loading show-model="loading"></ex-loading>-->
<!--</div>-->
