
<div class="panel panel-default">
    <div class="panel-heading font-bold">
        <span class="panel-title" ng-bind="view.title"></span>
        <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="view.loading" ng-cloak></i>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1 text-right font-bold">订单号:</div>
            <div class="col-sm-2" ng-bind="order.header.orderNo"></div>
            <div class="col-sm-1 text-left font-bold">&nbsp;</div>
            <div class="col-sm-1 text-left font-bold">Incoterm:</div>
            <div class="col-sm-2" ng-bind="order.header.incoterm"></div>
            <div class="col-sm-5 text-right font-bold">
                <a ng-href='http://admin.exiao.com/mgr-so/saleorders/export/{{order.header.orderNo}}'   class="btn btn-primary mr5"
                   title="Bill"
                   ng-disabled="">下载</a>
                <button type="button" class="btn btn-primary mr5" ng-click="back()">
                    返回
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">Basic Information</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right font-bold">&nbsp;</div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">订单日期</div>
                    <div class="col-sm-1" ng-bind="order.header.orderDate|exDate:'yyyy-MM-dd HH:mm:ss'"></div>
                    <div class="col-sm-1 text-left font-bold">买家名称</div>
                    <div class="col-sm-1 so_text_wrap">{{firstName}}<br/>{{lastName}}</div>
                    <div class="col-sm-1 text-left font-bold">公司名称</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.header.buyerCompanyName"></div>
                    <div class="col-sm-1 text-left font-bold">邮箱名称</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.header.buyerEmail"></div>
                    <div class="col-sm-1 text-left font-bold">国家</div>
                    <div class="col-sm-1"
                         ng-bind="order.header.buyerCountry?order.header.buyerCountry:''"></div>
                </div>
                <div class="row"> <div class="col-sm-12 text-right font-bold">&nbsp;</div></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">运输方式</div>
                    <div class="col-sm-1" ng-bind="order.logisticsItems&&order.logisticsItems.length > 0?order.logisticsItems[0].deliveryMode:''"></div>
                    <div class="col-sm-1 text-left font-bold">装货港</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.logisticsItems&&order.logisticsItems.length > 0?order.logisticsItems[0].fromPort:''"></div>
                    <div class="col-sm-1 text-left font-bold">目的港</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.logisticsItems&&order.logisticsItems.length > 0?order.logisticsItems[0].toPort:''"></div>
                    <div class="col-sm-1 text-left font-bold">Supply Lead Time</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.header.supplyLeadTime"></div>
                    <div class="col-sm-1 text-left font-bold">Shipment Lead Time</div>
                    <div class="col-sm-1" ng-bind="order.header.planDeliveryDates"></div>
                </div>
                <div class="row"> <div class="col-sm-12 text-right font-bold">&nbsp;</div></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">订单总金额</div>
                    <div class="col-sm-1" ng-bind="order.header.orderTotal"></div>
                    <div class="col-sm-1 text-left font-bold">Product Amount</div>
                    <div class="col-sm-1" ng-bind="order.header.productPrice"></div>
                    <div class="col-sm-1 text-left font-bold">Shipping Cost</div>
                    <div class="col-sm-1" ng-bind="order.header.shippingCost"></div>
                    <div class="col-sm-1 text-left font-bold">Duty&Tax</div>
                    <div class="col-sm-1" ng-bind="order.header.dutyTax"></div>
                    <div class="col-sm-1 text-left font-bold">Promotion</div>
                    <div class="col-sm-1" ng-bind="order.header.discount"></div>
                </div>
                <div class="row"> <div class="col-sm-12 text-right font-bold">&nbsp;</div></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">订单状态</div>
                    <div class="col-sm-2">
                        {{order.header.orderStatus |handleOrder:onlinePayStatus}}
                        <br/>
                        {{order.header.orderStatus |handleOrderMemo:onlinePayStatus}}
                    </div>
                    <div class="col-sm-1 text-left font-bold">Ref. No</div>
                    <div class="col-sm-2 so_text_wrap" ng-bind="order.header.referenceNo"></div>

                    <div class="col-sm-1 text-left font-bold"
                         ng-if="order.header.buyerCountryCode&&order.header.buyerCountryCode=='US'">EIN</div>
                    <div class="col-sm-1 text-left font-bold"
                         ng-if="order.header.buyerCountryCode&&order.header.buyerCountryCode=='IN'">IEC</div>
                    <div class="col-sm-1 so_text_wrap"
                         ng-if="order.header.buyerCountryCode&&(order.header.buyerCountryCode=='US'||order.header.buyerCountryCode=='IN')" ng-bind="order.header.buyerEINOrIEC"></div>
                    <div class="col-sm-1 text-left font-bold">Tracking ID</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="order.header.campaignId"></div>
                </div>
                <div class="row"> <div class="col-sm-12 text-right font-bold">&nbsp;</div></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">来源</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignSource"></div>
                    <div class="col-sm-1 text-left font-bold">媒介</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignMedium"></div>
                    <div class="col-sm-1 text-left font-bold">广告系列</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignCampaign"></div>
                </div>
                <div class="row"> <div class="col-sm-12 text-right font-bold">&nbsp;</div></div>
                <div class="row">
                    <div class="col-sm-1 text-left font-bold">广告组</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignAdGroup"></div>
                    <div class="col-sm-1 text-left font-bold">创意</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignAds"></div>
                    <div class="col-sm-1 text-left font-bold">关键词</div>
                    <div class="col-sm-1" ng-bind="order.header.campaignKeyword"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">Payment Information</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right font-bold">&nbsp;</div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <!--
                    <div class="col-sm-1 text-left font-bold">支付方式</div>
                    <div class="col-sm-1" ng-bind="order.payItems&&order.payItems.length == 2?(order.payItems[0].payMethod+' '+order.payItems[1].payMethod):''"></div>
                    <div class="col-sm-1 text-left font-bold">支付金额</div>
                    <div class="col-sm-1" ng-bind="order.header.orderTotal"></div>
                    -->
                    <div class="col-sm-1 text-left font-bold">授权交易ID</div>
                    <div class="col-sm-1 so_text_wrap" ng-bind="transactionId"></div>
                    <div class="col-sm-1 text-left font-bold">订金金额</div>
                    <div class="col-sm-1" ng-bind="onlinePayItem?onlinePayItem.payAmount:''"></div>
                    <div class="col-sm-2 text-left font-bold">订金支付方式</div>
                    <div class="col-sm-1" ng-bind="onlinePayItem?onlinePayItem.payMethod:''"></div>
<!--                    <div class="col-sm-1 text-left font-bold">尾款金额</div>
                    <div class="col-sm-1" ng-bind="offlinePayItem?offlinePayItem.payAmount:''"></div>-->
                    <div class="col-sm-2 text-left font-bold">尾款支付方式</div>
                    <div class="col-sm-1" ng-bind="offlinePayItem?offlinePayItem.payMethod:''"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">Contact Information</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>


                <div class="row">
                    <div class="col-sm-12 text-right font-bold">&nbsp;</div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>

                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">Consignee</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Contact Name: </div>
                    <div class="col-sm-10" ng-bind="consigneeAddr?consigneeAddr.lastName +' '+ consigneeAddr.firstName:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Company:</div>
                    <div class="col-sm-10" ng-bind="consigneeAddr?consigneeAddr.company:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Address: </div>
                    <div class="col-sm-10" ng-bind="consigneeAddr?consigneeAddr.countryName+consigneeAddr.stateName+consigneeAddr.cityName+consigneeAddr.addressLine:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Telephone:</div>
                    <div class="col-sm-10" ng-bind="consigneeAddr?consigneeAddr.phoneNumber:''"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right font-bold">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">billing</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Contact Name: </div>
                    <div class="col-sm-10" ng-bind="billAddr?billAddr.lastName +' '+billAddr.firstName:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Company:</div>
                    <div class="col-sm-10" ng-bind="billAddr?billAddr.company:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Address: </div>
                    <div class="col-sm-10" ng-bind="billAddr?billAddr.countryName+billAddr.stateName+billAddr.cityName+billAddr.addressLine:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Telephone:</div>
                    <div class="col-sm-10" ng-bind="billAddr?billAddr.phoneNumber:''"></div>
                </div>


                <div class="row">
                    <div class="col-sm-12 text-left font-bold">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">shipping</div>
                    <div class="col-sm-1 text-right font-bold">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Contact Name: </div>
                    <div class="col-sm-10" ng-bind="shipAddr?shipAddr.lastName +' '+ shipAddr.firstName:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Company:</div>
                    <div class="col-sm-10" ng-bind="shipAddr?shipAddr.company:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Address: </div>
                    <div class="col-sm-10" ng-bind="shipAddr?shipAddr.countryName+shipAddr.stateName+shipAddr.cityName+shipAddr.addressLine:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-bold">Telephone:</div>
                    <div class="col-sm-10" ng-bind="shipAddr?shipAddr.phoneNumber:''"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-left font-bold">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-left font-normal b-dark">Specific Requirements:</div>
                    <div class="col-sm-10" ng-bind="order.header.specificRequirements"></div>
                </div>
               <!-- <div class="row">
                    <div class="col-sm-12 text-left font-bold">quickly shipping </div>
                </div>-->

                <div class="row">
                    <div class="col-sm-12 text-left font-bold">&nbsp;</div>
                </div>

                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-11 text-left font-normal b-dark">Product Summary</div>
                    <div class="col-sm-1 text-left font-bold">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right font-bold">&nbsp;</div>
                </div>

                <div class="line line-dashed b-b pull-in"></div>
                <form id="orderform" name="orderform" method="post">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                    <tr>
                                        <th>
                                            序号
                                        </th>
                                        <th>
                                            Item No
                                        </th>
                                        <th>
                                            Product
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                        <th>
                                            Unit
                                        </th>
                                        <th>
                                            PKG
                                        </th>
                                        <th>
                                            VOL(CBM)
                                        </th>
                                        <th>
                                            G.Weight
                                        </th>
                                        <th>
                                            Unit Price
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Ship Cost
                                        </th>
                                        <th>
                                            Duty&Tax
                                        </th>
                                        <th>
                                            SLT
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="order.itemList.length==0">
                                        <td colspan="4" class="text-center">
                                            未找到相关数据
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in order.productItems">
                                        <td>{{($index+1)}}</td>
                                        <td>
                                            {{item.productCode}}
                                        </td>
                                        <td class="so_text_wrap">
                                            {{item.productName}}
                                        </td>
                                        <td>
                                            {{item.qty}}
                                        </td>
                                        <td>
                                            {{item.unit}}
                                        </td>
                                        <td>
                                            {{item.packNum}} {{item.pack}}
                                        </td>
                                        <td>
                                            {{item.volumn|handleVolumn:item.volumnUnit}}
                                        </td>
                                        <td>
                                            {{item.weight|handleWeight:item.weightUnit}} {{item.weightUnit}}
                                        </td>
                                        <td>
                                            {{item.unitPrice}}
                                        </td>
                                        <td>
                                            {{item.amount}}
                                        </td>
                                        <td>
                                            {{item.shipping}}
                                        </td>
                                        <td>
                                            {{item.dutyTax}}
                                        </td>
                                        <td>
                                            {{item.moqSupplytime}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-2 text-right font-bold">
                            <button type="button" class="btn btn-primary mr5" ng-click="back()">
                                返回列表
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--<ex-loading show-model="loading"></ex-loading>-->
<!--</div>-->
