<div class="header">
    <h2><i class="fa fa-dashboard"></i>项目还款计划列表</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="listView.search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">借款人编号</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.data.borrowerId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-l-0">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">项目编号</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.data.projectId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-l-0">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <select class="form-control form-white" ng-model="listView.condition.data.status" ng-options='status.value as status.text for status in listView.statusList'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-l-0">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-info">查找</button>
                            <button type="button" class="btn btn-default" ng-click="listView.reset()">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<table id="repaymentListTable" table-full-size bs-table-control="bsRepaymentListTableControl"></table>
