<form name="channelForm" novalidate ng-submit="channelVM.submit(channelForm.$invalid)">
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-bind="channelVM.title"></span>
            <i class="fa fa-spin fa-spinner m-l-5 m-t-5 text-lg" ng-if="channelVM.loading" ng-cloak></i>
        </h4>
    </div>
    <div class="modal-body p-r">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error':channelForm.name.$invalid && (channelForm.name.$dirty||channelVM.submitted)}">
                    <label for="" class="control-label">渠道名称</label>
                    <div>
                        <input type="text" ng-model="channelVM.data.name" name="name" class="form-control" maxlength="20" required>
                    </div>
                    <div class="form-error">请输入渠道名称</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" ng-class="{'has-error':channelForm.joinupType.$invalid && (channelForm.joinupType.$dirty||channelVM.submitted)}">
                    <label class="control-label">接入方式</label>
                    <div>
                        <select class="form-control" name="joinupType" ng-model="channelVM.data.joinupType" ng-options="item.value as item.text for item in channelVM.joinupTypeList" required>
                            <option value="">- 请选择接入方式 -</option>
                        </select>
                    </div>
                    <div class="form-error">请选择接入方式</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error':channelForm.creditLimit.$invalid && (channelForm.creditLimit.$dirty||channelVM.submitted)}">
                    <label for="" class="control-label">授信额度</label>
                    <div class="input-group">
                        <input type="number" name="creditLimit" ng-model="channelVM.data.creditLimit" class="form-control" required ng-pattern="/^\+?[1-9]\d*$/">
                        <span class="input-group-addon">元</span>
                    </div>
                    <div class="form-error" ng-if="channelForm.creditLimit.$error.required">授信额度不能为空!</div>
                    <div class="form-error" ng-if="channelForm.creditLimit.$error.pattern">授信额度必须是正整数!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error':channelForm.assetCount.$invalid && (channelForm.assetCount.$dirty||channelVM.submitted)}">
                    <label for="" class="control-label">接入资产数</label>
                    <div class="input-group">
                        <input type="number" name="assetCount" ng-model="channelVM.data.assetCount" class="form-control" required ng-pattern="/^\+?[1-9]\d*$/">
                        <span class="input-group-addon">元</span>
                    </div>
                    <div class="form-error" ng-if="channelForm.assetCount.$error.required">接入资产数不能为空!</div>
                    <div class="form-error" ng-if="channelForm.assetCount.$error.pattern">接入资产数必须是正整数!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error':channelForm.totalAsset.$invalid && (channelForm.totalAsset.$dirty||channelVM.submitted)}">
                    <label for="" class="control-label">接入资产总额</label>
                    <div class="input-group">
                        <input type="number" name="totalAsset" ng-model="channelVM.data.totalAsset" class="form-control" required ng-pattern="/^\+?[1-9]\d*$/">
                        <span class="input-group-addon">元</span>
                    </div>
                    <div class="form-error" ng-if="channelForm.totalAsset.$error.required">接入资产总额不能为空!</div>
                    <div class="form-error" ng-if="channelForm.totalAsset.$error.pattern">接入资产总额必须是正整数!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="channelVM.processing">
            <span class="w2em" ng-if="!channelVM.processing" ng-cloak>确定</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="channelVM.processing" ng-cloak></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="channelVM.cancel()">取消</button>
    </div>
</form>
