<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">订单号</span>
                    <input type="text" class="form-control" ng-model="condition.orderKey" />
                </div>
            </div>
             <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">订单来源</span>
                    <select class="form-control input-sm" ng-model="condition.orderType">
                        <option value="" ng-selected="!condition.isValid">全部</option>
                        <option value="goExW">goExW</option>
                        <option value="exiao">exiao</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">物流运单号</span>
                     <input type="text" class="form-control" ng-model="condition.blNo" />
                </div>
            </div>
             <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">运单号</span>
                   <input type="text" class="form-control" ng-model="condition.trackNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">运单状态</span>
                    <select class="form-control input-sm" ng-model="condition.status">
                        <option value="" ng-selected="!condition.isValid">全部</option>
                        <option value="0">未完成</option>
                        <option value="1">完成</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">运输方式</span>
                    <select class="form-control input-sm" ng-model="condition.transportMode">
                        <option value="" ng-selected="!condition.isValid">全部</option>
                        <option value="1">航空</option>
                        <option value="2">火车</option>
                        <option value="3">海运</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                    <span class="w2em" ng-if="!loading" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="loading" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>物流文件列表</span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped tight-table b-t b-light">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th >
                            订单号
                        </th>
                        <th>
                            订单来源
                        </th>
                        <th>
                            EC运单号
                        </th>
                        <th>
                            物流供应商
                        </th>
                        <th>
                            运输方式
                        </th>
                        <th>
                            提单/运单号
                        </th>
                        <th>
                            运单文件
                        </th>
                        <th>
                            费用明细
                        </th>
                        <th>
                            通知书
                        </th>
                        <th>
                            委托书
                        </th>
                        <th>
                            发货图片
                        </th>
                        <th>
                            破损证明
                        </th>
                        <th>
                            签收单
                        </th>
                        <th>
                            其他文件
                        </th>
                        <th>
                            运单状态
                        </th>
                        <th style="width:80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="loading" ng-cloak>
                        <td class="text-center" colspan="17"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="17">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td ng-bind="(queryResult.pageNo-1)*10+$index+1">
                        </td>
                        <td ng-bind="item.externOrderNo">
                        </td>
                        <td ng-bind="item.orderType">
                        </td>
                        <td ng-bind="item.trackNo">
                        </td>
                        <td ng-bind="item.vendorCode">
                        </td>
                        <td ng-bind="item.transportMode">
                        </td>
                        <td ng-bind="item.blNo">
                        </td>
                        <td >
                            <a href="{{item.blPath | trackFilePath}}" target="blank" >{{item.blFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.invoicePath | trackFilePath}}" target="blank">{{item.expenseDetailFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.noticePath | trackFilePath}}" target="blank">{{item.noticeFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.agencyPath | trackFilePath}}" target="blank">{{item.agencyFile}}</a>
                        </td>
                         <td>
                            <a href="{{item.cargoPath | trackFilePath}}" target="blank">{{item.cargoFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.cargoPath | trackFilePath}}" target="blank">{{item.damageFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.cargoPath | trackFilePath}}" target="blank">{{item.receiptFile}}</a>
                        </td>
                        <td>
                            <a href="{{item.otherFilePath | trackFilePath}}" target="blank">{{item.otherFile}}</a>
                        </td>
                        <td ng-bind="item.statusDesc">
                        </td>
                        <td class="text-bg">
                            <a href ng-click="modify(item)" class="fa fa-edit text-sm" title="编辑">上传</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
