<div class="panel panel-default m-b-none">
    <form name="scheduleform" method="post" ng-submit="ok(scheduleform.$valid)" novalidate>
        <div class="panel-heading font-bold">
            <span ng-bind="scheduleVM.title"></span> <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="scheduleVM.loading" ng-cloak></i>
        </div>
        <div class="panel-body">
            <div ng-if="scheduleVM.type==3" ng-cloak>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务编号</div>
                    <div class="col-sm-10" ng-bind="scheduleVM.data.jobId"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务名称</div>
                    <div class="col-sm-10" ng-bind="scheduleVM.data.jobName"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务分组</div>
                    <div class="col-sm-10" ng-bind="scheduleVM.data.jobGroup"></div>
                </div>

                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务运行时间表达式</div>
                    <div class="col-sm-10" ng-bind="scheduleVM.data.cronExpression"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务描述 </div>
                    <div class="col-sm-10" ng-bind="scheduleVM.data.remark"></div>
                </div>
            </div>

            <div ng-if="scheduleVM.type!=3" ng-cloak>
                <div class="row" ng-class="{'has-error': scheduleform.jobId.$invalid && !scheduleform.jobId.$pristine }">
                    <div class="col-sm-2 text-right font-bold text-danger">任务编号</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" name="jobId" required maxlength="50" ng-model="scheduleVM.data.jobId" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row" ng-class="{'has-error':scheduleform.jobName.$invalid&&!scheduleform.jobName.$pristine}">
                    <div class="col-sm-2 text-right font-bold text-danger">任务名称</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" name="jobName" class="form-control" maxlength="50" ng-model="scheduleVM.data.jobName" required />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务分组</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" id="jobGroup" class="form-control" maxlength="50" ng-model="scheduleVM.data.jobGroup" />
                    </div>
                </div>

                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务运行时间表达式</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" id="cronExpression" class="form-control" maxlength="50" ng-model="scheduleVM.data.cronExpression" />
                    </div>
                </div>

                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">任务描述 </div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" id="remark" class="form-control" maxlength="50" ng-model="scheduleVM.data.remark" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary m-r-sm" ng-disabled="scheduleVM.saving||scheduleform.$invalid" ng-if="scheduleVM.type!=3" ng-cloak>
                <span class="w2em" ng-if="!scheduleVM.saving" ng-cloak>保存</span>
                <i class="fa fa-spin fa-spinner w2em" ng-if="scheduleVM.saving" ng-cloak></i>
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">返回</button>
        </div>
    </form>
</div>
