<div class="header">
    <h2><i class="fa fa-dashboard"></i>提现审核</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">申请时间</span>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listView.condition.requestDateStart" is-open="birthdayOpened1" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened1=true" />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listView.condition.requestDateEnd" is-open="birthdayOpened2" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened2=true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">操作来源</span>
                                <select class="form-control form-white" ng-model="listView.condition.operateOrigin" ng-options='o.value as o.text for o in listView.operateOrigin'>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">安全等级</span>
                                <select class="form-control form-white" ng-model="listView.condition.securityLevel" ng-options='s.value as s.text for s in listView.securityLevel'>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <button class="btn btn-info m-r-20">查找</button>
                    <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 m-b-12">
                <button type="button" class="btn btn-success btn-xs" ng-click="checkRow()"><i class="fa fa-check m-r-5"></i>批量审核</button>
            </div>
        </div>
        <table id="withdrawCheckTable" table-full-size bs-table-control="bsWithdrawCheckTableControl"></table>
    </div>
</div>
