
<div class="modal-over bg-black signin-form">
    <div class="modal-center animated fadeInUp text-center" style="width:300px;margin:-200px 0 0 -150px;">
        <div class="thumb-lg">
            <img src="img/a0.jpg" class="img-circle">
        </div>
        <p class="h4 m-t m-b"></p>
        <form name="form" class="form-validation" ng-submit="login(form.$valid)" novalidate>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" id="txtLoginName" name="username" placeholder="用户名" tabindex="1" class="form-control no-border" ng-model="loginVM.data.username" autocomplete="off" focus-if="!loginUser.loginName" required>
                    <label for="txtLoginName" class="icon icon-user signin-form-icon"></label>
                </div>
                <div class="list-group-item">
                    <input type="password" id="txtPassword" name="password" placeholder="密码" tabindex="2" class="form-control no-border" ng-model="loginVM.data.password" focus-if="loginUser.loginName" required>
                    <label for="txtPassword" class="icon icon-key signin-form-icon"></label>
                </div>
            </div>
            <button type="submit" tabindex="3" class="btn btn-lg btn-primary btn-block" ng-disabled='form.$invalid||loginVM.processing'>
                <span ng-if="!loginVM.processing" ng-cloak>登录</span>
                <span ng-if="loginVM.processing" ng-cloak>登录中 <i class="fa fa-spin fa-spinner"></i></span>
            </button>
            <div class="text-danger wrapper text-center" ng-if="loginVM.authError" ng-bind="loginVM.authError">
            </div>
            <div class="line line-dashed"></div>
            <div class="text-center" ng-include="'view/shared/page_footer.html'"></div>
        </form>
    </div>
</div>
