<!-- Page background -->
<div id="page-signin-bg">
    <div class="bg-overlay"></div>
    <img src="img/signin-bg.jpg" alt="">
</div>
<!-- / Page background -->
<div class="account separate-inputs">
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>
                    <form name="loginForm" class="form-signin" novalidate ng-submit="login()">
                        <div class="append-icon">
                            <input type="text" name="username" id="username" class="form-control form-white username" ng-disabled="loginVM.processing" placeholder="用户名" autocomplete="off" required ng-model="loginVM.userName" ng-change="loginVM.inputChanged()">
                            <i class="icon-user"></i>
                        </div>
                        <div class="append-icon">
                            <input type="password" name="password" class="form-control form-white password" placeholder="密码" required ng-model="loginVM.password" ng-change="loginVM.inputChanged()">
                            <i class="icon-lock"></i>
                        </div>
                        <div class="form-control m-b-10 bg-red no-border" ng-bind="loginVM.msg" ng-if="loginVM.msg">
                        </div>
                        <!-- <div class="append-icon m-b-20">
                            <input type="password" name="dynamicKey" class="form-control form-white password" placeholder="动态口令" ng-model="loginVM.dynamicKey">
                            <i class="icon-key"></i>
                        </div> -->
                        <button id="submit-form" class="btn btn-lg btn-success btn-block ladda-button" data-style="expand-left" ng-click="login()" ng-disabled="loginForm.$invalid||loginVM.processing"><i ng-if="loginVM.processing" class="fa fa-spinner faa-spin animated m-r-5"></i>登录</button>
                    </form>
                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span>Copyright © 2016 </span><span>H2FINANCE</span>.<span>All rights reserved.</span>
        </p>
    </div>
</div>
