<div class="panel form-horizontal">
    <div class="panel-heading">
        <i class="menu-icon fa fa-sitemap mr5"></i><span class="panel-title">运单跟踪信息</span>
    </div>
    <div class="panel-body">
        <div style="float:right;">
            <button type="button" class="btn btn-default ml5" ng-click="back()">
                返回列表
            </button>
        </div>
        <div class="clear-fix"></div>
        <div class="panel-body">
            <ul id="subWaybill-tabs" class="nav nav-tabs">
                <li class="active">
                    <a data-target="#swbInfo" data-toggle="tab">跟踪详情</span>
                    <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="swbDetailLoading" ng-cloak></i></a>
                </li>
                
            </ul>
            <div class="tab-content tab-content-bordered" >
                <div class="tab-pane fade active in" id="trackDetailInfo">
                    <div class="row">
                        <form id="trackDetailForm" name="trackDetailForm" class="form-horizontal" method="post" ng-submit="updateTracking()" novalidate>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">EC运单号</span>
                                    <input  type="text"  class="form-control" ng-model="subWaybill.trackNo" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">物流供应商</span>
                                    <!--<input  type="text"  class="form-control" ng-model="trackDetail.vendorCode"/>-->
                                    <select class="form-control form-group-margin" ng-model="trackDetail.vendorCode" name="vendorCode" ng-disabled="true">
                                        <option value="" default>- 请选择 -</option>
                                        <option ng-repeat="item in vendorList" value="{{item.vendorCode}}">
                                            {{item.vendorName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运单/提单号</span>
                                    <input  type="text"  class="form-control" maxlength="15" ng-model="trackDetail.blNo" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总数量</span>
                                    <input type="test" class="form-control" ng-pattern="/^[1-9]\d*$/" maxlength="10" ng-model="subWaybill.totalQty" ng-keypress="allowIntOnly($event)" ng-disabled="true"/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">EC子运单/包裹单</span>
                                    <input  type="text"  class="form-control" ng-model="subWaybill.subTrackNo" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运输方式</span>
                                    <!--<input  type="text"  class="form-control" ng-model="trackDetail.transportMode"/>
                                    <select class="form-control" ng-model="trackDetail.transportMode">
                                        <option value=""></option>
                                        <option value="POST">By post</option>
                                        <option value="EXPRESS">By courier</option>
                                        <option value="OCEAN">By ocean</option>
                                        <option value="AIR">By air</option>
                                    </select>-->
                                    <select class="form-control form-group-margin" ng-model="trackDetail.transportMode" name="transportMode" ng-disabled="true">
                                        <option value="" default>- 请选择 -</option>
                                        <option ng-repeat="item in transportModeList" value="{{item.value}}">
                                            {{item.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">船名/航班号</span>
                                    <input  type="text"  class="form-control" maxlength="10" ng-model="trackDetail.intendedVFNo" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总重量</span>
                                    <input type="test" class="form-control form-control-w" ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" ng-model="subWaybill.totalWeight" ng-keypress="allowFloatOnly($event)" ng-disabled="true"/>
                                    <select class="form-control form-control-l" ng-model="subWaybill.weightUnit" ng-disabled="true">
                                        <option value="KG">KG</option>
                                    </select>
                                </div>
                            </div>

                            
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">SO运费收入</span>
                                    <input type="text" class="form-control form-control-w" ng-model="subWaybill.soTotalShippingCost" ng-disabled="true"/>
                                    <select class="form-control form-control-l" ng-model="subWaybill.soCurrency" ng-disabled="true">
                                        <option value=""></option>
                                        <option value="USD">USD</option>
                                        <option value="CNY">CNY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">贸易条款</span>
                                    <select class="form-control" ng-model="trackDetail.incoterm" name="incoterm" ng-disabled="true">
                                        <option value="" default>- 请选择 -</option>
                                        <option ng-repeat="item in incotermList" value="{{item.value}}">
                                            {{item.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">集装箱号</span>
                                    <input  type="text"  class="form-control" maxlength="20" ng-model="trackDetail.containerNo" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总体积</span>
                                     <input  type="text"  class="form-control form-control-w" ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" ng-model="subWaybill.totalVolume" ng-keypress="allowFloatOnly($event)" ng-disabled="true"/>
                                     <select class="form-control form-control-l" ng-model="subWaybill.volumeUnit" ng-disabled="true">
                                        <option value="CBM">CBM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运费</span>
                                    <input  type="text"  class="form-control form-control-w" ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" ng-model="trackDetail.shippingCost" ng-keypress="allowFloatOnly($event)" />
                                    <select class="form-control form-control-l" ng-model="trackDetail.currency">
                                        <option value=""></option>
                                        <option value="USD">USD</option>
                                        <option value="CNY">CNY</option>
                                    </select>
                                    <!--
                                    <span class="input-group-btn">
                                    <select class="form-control input-sm" ng-model="trackDetail.transportMode">
                                        <option value="" ng-selected="!condition.isValid"></option>
                                        <option value="RMB">RMB</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                    </select>
                                    </span>
                                    -->
                                </div>
                            </div>
                            
                            <!--
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">发货地</span>
                                    <input  type="text"  class="form-control" ng-model="subWaybill.originCity"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">目的地</span>
                                    <input  type="text"  class="form-control" ng-model="subWaybill.destCity"/>
                                </div>
                            </div>
                            </br>
                            -->
                            <div class="line line-dashed b-b pull-in"></div>

                            
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货国家</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.polCountry" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货港口</span>
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.pol" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">目的国家</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.podCountry" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">目的港口</span>
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.pod" ng-disabled="true"/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货公司</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.consignerName" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货人</span>
                                        <input  type="text"  class="form-control" maxlength="50" ng-model="subWaybill.consignerContacter" ng-disabled="true"/>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货人电话</span>
                                        <input  type="text"  class="form-control" maxlength="20" ng-model="subWaybill.consignerContactNo" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货人邮件</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.consignerEmail" ng-disabled="true"/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货地址</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.originCountry" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.originState" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.originCity" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.consignerAddr" ng-disabled="true"/>
                                    </div>
                                </div>

                                <!--
                                 <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">发货地址</span>
                                        <select class="form-control form-group-margin" ng-model="subWaybill.originCountryCode" name="originCountryCode" required>
                                            <option value="" default>- 请选择国家 -</option>
                                            <option ng-repeat="item in countryList" value="{{item.countryCode}}">
                                                {{item.countryName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <select class="form-control form-group-margin" ng-model="subWaybill.originStateCode" name="originStateCode" required>
                                            <option value="" default>- 请选择州省 -</option>
                                            <option ng-repeat="item in originStateList" value="{{item.stateCode}}">
                                                {{item.stateName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <select class="form-control form-group-margin" ng-model="subWaybill.originCityCode" name="originCityCode" required>
                                            <option value="" default>- 请选择城市 -</option>
                                            <option ng-repeat="item in originCityList" value="{{item.cityCode}}">
                                                {{item.cityName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.consignerAddr"/>
                                    </div>
                                </div>
                                -->
                                <!--
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <i class="text-danger m-r-xs">*</i>发货地址
                                    </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-3 p-r-none" ng-class="{'has-error':esinform.tab3.province.$invalid&&(view.submitted||esinform.tab3.province.$dirty)}">
                                        <select class="form-control" ng-model="subWaybill.originCountryCode" name="country" ng-options="key as key for (key,value) in division" ng-change="product.originCityCode=''" required>
                                            <option value="">- 省 -</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 p-r-none" ng-class="{'has-error':esinform.tab3.city.$invalid&&(view.submitted||esinform.tab3.city.$dirty)}">
                                        <select class="form-control" ng-model="subWaybill.originCityCode" name="city" ng-options="key as key for (key,value) in division[product.deliveryProvince]" ng-change="product.district=''" required>
                                            <option value="">- 市 -</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6" ng-class="{'has-error':esinform.tab3.deliveryPlace.$invalid&&(view.submitted||esinform.tab3.deliveryPlace.$dirty)}">
                                        <input type="text" autocomplete="off" class="form-control" name="consignerAddr" maxlength="200" placeholder="详细地址" ng-model="subWaybill.consignerAddr" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">收货公司</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.consigneeName" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">收货人</span>
                                        <input  type="text"  class="form-control" maxlength="50" ng-model="subWaybill.consigneeContacter" ng-disabled="true"/>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">收货人电话</span>
                                        <input  type="text"  class="form-control" maxlength="20" ng-model="subWaybill.consigneeContactNo" ng-disabled="true"/>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">收货人邮件</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.consigneeEmail" ng-disabled="true"/>
                                    </div>
                                </div>
                            
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">收货人地址</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.destCountry" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.destState" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.destCity" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group m-b">
                                        <input  type="text"  class="form-control" size="50" ng-model="subWaybill.consigneeAddr" ng-disabled="true"/>
                                    </div>
                                </div>

                                


                                <div class="col-xs-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">通知方公司</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.notifyName" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">通知人</span>
                                        <input  type="text"  class="form-control" maxlength="50" ng-model="subWaybill.notifyContacter" ng-disabled="true"/>
                                    </div>
                                </div>
                                 <div class="col-xs-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">通知人电话</span>
                                        <input  type="text"  class="form-control" maxlength="20" ng-model="subWaybill.notifyContactNo" ng-disabled="true"/>
                                    </div>
                                </div>
                                 <div class="col-xs-3">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">通知人邮件</span>
                                        <input  type="text"  class="form-control" maxlength="100" ng-model="subWaybill.notifyEmail" ng-disabled="true"/>
                                    </div>
                                </div>
                            
                            <div class="line line-dashed b-b pull-in"></div>

                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">装载日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.ontruckDate" is-open="openOntruck" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openOntruckDate($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openOntruckDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">出口报清关日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.originCCD" is-open="openOrgCCD" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openOriginCCD($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openOriginCCD($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">预计离港日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.etd" is-open="openETD" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openEtd($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEtd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">预计到港日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.podETA" is-open="openB" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openPodEta($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openPodEta($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="col-xs-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">装载工具号牌</span>
                                    <input  type="text"  class="form-control" maxlength="20" ng-model="trackDetail.truckNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">预计出货日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.polETD" is-open="openA" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openPolEtd($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openPolEtd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">实际离港日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.atd" is-open="openATD" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openAtd($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openAtd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">实际到港日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.podATA" is-open="openAta" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openPodAta($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openPodAta($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>


                            <div class="col-xs-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">装载联系人</span>
                                    <input  type="text"  class="form-control" maxlength="20" ng-model="trackDetail.truckContactPerson" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">实际出货日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.polATD" is-open="openPOLATD" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openPolAtd($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openPolAtd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">预计到达日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.destETA" is-open="openC" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openDestEta($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDestEta($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">目的地清关日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.destCCD" is-open="openCcd" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openDestCCD($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDestCCD($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">装载联系电话</span>
                                    <input  type="text"  class="form-control" maxlength="20" ng-model="trackDetail.truckContactNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">实际到达日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.destATA" is-open="openDesAta" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openDestAta($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDestAta($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">签收日期</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="trackDetail.receiptDate" is-open="openReceipt" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openReceiptDate($event)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openReceiptDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="input-group m-b">
                                        <span class="input-group-addon">签收人</span>
                                        <input  type="text"  class="form-control" maxlength="50" ng-model="trackDetail.recipients" />
                                </div>
                            </div>
                            
                            <div class="line line-dashed b-b pull-in"></div>

                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">备注</span>
                                    <textarea id="remarks" name="remarks" class="form-control" cols="50" rows="3" ng-model="subWaybill.remarks" maxlength="200"></textarea>
                                </div>
                            </div>
                            
                            <div class="line line-dashed b-b pull-in"></div>

                            <div class="form-group">
                                <div ng-if="!isCompleted">
                                <div class="col-sm-offset-10">
                                    <button type="submit" class="btn btn-primary" >
                                        <span ng-bind="isSaving? '更新中...':'更新'"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="complete()">
                                        <span ng-bind="isFinishing? '完成中...':'完成'"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="back()">
                                        <span ng-bind="'取消'"></span>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>             

                

                    
                  
            </div>
        </div>
    </div>
</div>