<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="row">
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">EC运单号:</span>
                        <input type="text" class="form-control" ng-model="condition.trackNo" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">物流供应商:</span>
                        <!--<input type="text" class="form-control" ng-model="condition.vendorCode" />-->
                        <select class="form-control form-group-margin" ng-model="condition.vendorCode" name="vendorCode">
                            <option value="" default>全部</option>
                            <option ng-repeat="item in vendorList" value="{{item.vendorCode}}"> {{item.vendorName}} </option>
                        </select>
                    </div>
                </div>
                 <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">物流运单号:</span>
                        <input type="text" class="form-control" ng-model="condition.blNo" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">船名/航班号:</span>
                        <input type="text" class="form-control" ng-model="condition.intendedVFNo" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">集装箱号:</span>
                        <input type="text" class="form-control" ng-model="condition.containerNo" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">运单状态:</span>
                        <select class="form-control" ng-model="condition.completeStatus">
                            <option value="0" ng-selected="!condition.isValid">未完成</option>
                            <option value="1">完成</option>
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">创建时间</span>
                         <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="condition.bookingDateFrom" is-open="openB" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openBegin($event)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBegin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                 <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon"> 至 </span>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="condition.bookingDateTo" is-open="openE" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openEnd($event)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">运输方式:</span>
                        <select class="form-control" ng-model="condition.transportMode">
                            <option value="">全部</option>
                            <option value="POST">By Post</option>
                            <option value="EXPRESS">By Courier</option>
                            <option value="OCEAN">By Ocean</option>
                            <option value="AIR">By Air</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">发货城市:</span>
                        <input type="text" class="form-control"  ng-model="condition.originCity" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group m-b">
                        <span class="input-group-addon">目的城市:</span>
                        <input type="text" class="form-control"  ng-model="condition.destCity" />
                    </div>
                </div>
                
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                        <span class="w2em" ng-if="!loading" ng-cloak>查询</span>
                        <i class="fa fa-spin fa-spinner w2em" ng-if="loading" ng-cloak></i>
                    </button>
                    <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
                </div>
                
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>运单跟踪列表</span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped tight-table b-t b-light">
                <thead>
                    <tr>
                        <th class="pointer" ng-click="reSort('waybillNo')">
                            EC运单号
                            <span class="fa m-l-2 text-sm {{sortClass('waybillNo')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('vendorCode')">
                            物流供应商
                            <span class="fa m-l-2 text-sm {{sortClass('vendorCode')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('transportmode')">
                            运输方式
                            <span class="fa m-l-2 text-sm {{sortClass('transportmode')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('BLNo')">
                            提单/运单号
                            <span class="fa m-l-2 text-sm {{sortClass('BLNo')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('intended_vfno')">
                            船名/航班号
                            <span class="fa m-l-2 text-sm {{sortClass('intended_vfno')}}">
                        </th>

                        
                        <th class="pointer" ng-click="reSort('containerno')">
                            集装箱号
                            <span class="fa m-l-2 text-sm {{sortClass('containerno')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('origincity')">
                            发货地
                            <span class="fa m-l-2 text-sm {{sortClass('origincity')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('destcity')">
                            目的地
                            <span class="fa m-l-2 text-sm {{sortClass('destcity')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalqty')">
                            总件数
                            <span class="fa m-l-2 text-sm {{sortClass('totalqty')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalweight')">
                            总重量
                            <span class="fa m-l-2 text-sm {{sortClass('totalweight')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalvolume')">
                            总体积
                            <span class="fa m-l-2 text-sm {{sortClass('totalvolume')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('ETD')">
                            ETD
                            <span class="fa m-l-2 text-sm {{sortClass('ETD')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('ATD')">
                            ATD
                            <span class="fa m-l-2 text-sm {{sortClass('ATD')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('pod_ETA')">
                            ETA
                            <span class="fa m-l-2 text-sm {{sortClass('pod_ETA')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('pod_ATA')">
                            ATA
                            <span class="fa m-l-2 text-sm {{sortClass('pod_ATA')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('consignee_contacter')">
                            收货人
                            <span class="fa m-l-2 text-sm {{sortClass('consignee_contacter')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('consignee_ContactNo')">
                            收货人电话
                            <span class="fa m-l-2 text-sm {{sortClass('consignee_ContactNo')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('shippingcost')">
                            运费
                            <span class="fa m-l-2 text-sm {{sortClass('shippingcost')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('status')">
                            运单状态
                            <span class="fa m-l-2 text-sm {{sortClass('status')}}">
                        </th>
                        <th style="width:80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="loading" ng-cloak>
                        <td class="text-center" colspan="20"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="20">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td nowrap>
                            <a href ng-click="editTracking(item.trackDetailId)" class="editLink" title="跟踪状态">{{item.waybillNo}}</a>
                        </td>
                        <td>
                            {{item.vendorCode}}
                        </td>
                        <td>
                            {{item.transportMode}}
                        </td>
                        <td>
                            {{item.blNo}}
                        </td>
                        <td>
                            {{item.intendedVFNo}}
                        </td>
                        <td>
                            {{item.containerNo}}
                        </td>

                        
                        <td>
                            {{item.originCity}}
                        </td>
                        <td>
                            {{item.destCity}}
                        </td>
                        <td>
                            {{item.totalQty}}
                        </td>
                        <td>
                            {{item.totalWeight}}
                        </td>
                        <td>
                            {{item.totalVolume}}
                        </td>
                        <td>
                            {{item.etd | date:'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{item.atd | date:'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{item.eta | date:'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{item.ata | date:'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{item.consigneeContacter}}
                        </td>
                        <td>
                            {{item.consigneeContactNo}}
                        </td>
                        <td>
                            {{item.shippingCost}} {{item.currency}} 
                        </td>
                        
                        <td>
                            {{item.statusDesc}}
                        </td>
                        <td class="text-bg">
                            <a href ng-click="editTracking(item.trackDetailId)"  class="fa fa-edit" title="跟踪">跟踪</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
