<div class="panel form-horizontal">
    <div class="panel-heading">
        <i class="menu-icon fa fa-sitemap mr5"></i><span class="panel-title">物流跟踪信息</span>
    </div>
    <div class="panel-body">
        <div style="float:right;">
            <button type="button" class="btn btn-default ml5" ng-click="back()">
                返回列表
            </button>
        </div>
        <div class="clear-fix"></div>
        <div class="panel-body">
            <ul id="subWaybill-tabs" class="nav nav-tabs">
                <li class="active">
                    <a data-target="#swbInfo" data-toggle="tab">跟踪详情</span>
                    <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="swbDetailLoading" ng-cloak></i></a>
                </li>
                
            </ul>
            <div class="tab-content tab-content-bordered" >
                <div class="tab-pane fade active in" id="trackDetailInfo">
                    <div class="row">
                        <form id="trackDetailForm" name="trackDetailForm" class="form-horizontal" method="post" ng-submit="updateTracking()" novalidate>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">EC运单号</span>
                                    <span class="form-control" ng-bind="trackDetail.trackNo"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运单创建时间</span>
                                    <span class="form-control" ng-bind="trackDetail.placeDate | date:'yyyy-MM-dd'"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">订单状态</span>
                                    <span class="form-control" ng-bind="trackDetail.statusDesc"></span>
                                </div>
                            </div>
                           
                            <div class="line line-dashed b-b pull-in"></div>
                            
                        </form>
                    </div>
                </div>          
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>物流跟踪列表</span>
                    <div class="btn-group pull-right">
                        
                    </div>
                </div>
                <div class="wrapper-md ng-scope">
                  <div class="row">
                    <div class="col-sm-6"  >
                      <div class="panel panel-default" ng-repeat="detailLogInfo in trackDetail.detailLogInfos">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                   <th class="col-sm-3">
                                        子运单号
                                    </th>
                                    <th class="col-sm-3">
                                        操作时间
                                    </th>
                                    <th class="col-sm-3">
                                        内容
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="(!detailLogInfo||detailLogInfo.length==0)" ng-cloak>
                                    <td class="text-center" colspan="3">暂无数据</td>
                                </tr>
                                <tr ng-repeat="logInfo in detailLogInfo">
                                    <td ng-bind="logInfo.subTrackNo"></td>
                                    <td ng-bind="logInfo.recordDate | date:'yyyy-MM-dd'"></td>
                                    <td ng-bind="logInfo.remark"></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>