[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

.m-b-20 {margin-bottom: 20px !important;}
.m-r-5 {margin-right:5px;}
.no-padding{padding: 0px;}
.m-0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-60 {
  margin-top: 60px !important;
}
.m-t-100 {
  margin-top: 100px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-6 {
  margin-bottom: 6px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-b-60 {
  margin-bottom: 60px !important;
}
.m-b-80 {
  margin-bottom: 80px !important;
}
.m-b-100 {
  margin-bottom: 100px !important;
}
.m-b-140 {
  margin-bottom: 140px !important;
}
.m-b-245 {
  margin-bottom: 245px !important;
}
.m-b-m30 {
  margin-bottom: -30px !important;
}
.m-b-m50 {
  margin-bottom: -50px !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-l-60 {
  margin-left: 60px !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-r-60 {
  margin-right: 60px !important;
}
.p-0 {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}

.main-content .page-content .header-right {
    position: absolute;
    right: 0;
    top: 23px;
}
.main-content .page-content {
	padding: 0 10px;
}
.todo-list li .todo-right {
    display: inline;
    font-family: "Open Sans";
    left: auto;
    position: absolute;
    right: 9px;
    top: 9px;
}
.builder:before {
    height: 30px;
    left: -30px;
    top: 47px;
    width: 30px;
}
.builder .builder-toggle {
    height: 30px;
    left: -28px;
    line-height: 30px;
    top: 48px;
    width: 30px;
}
.main-content .page-content .panel-content {
    padding-top: 0px;
}
.fixed-table-loading {
    padding-top: 10px;
}
.append-icon {
  position: relative;
}
.append-icon input {
  padding-right: 36px;
}
.append-icon i {
  color: #1b1e25;
  color: rgba(27, 30, 37, 0.3);
  font-size: 14px;
  height: 34px;
  left: auto;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 36px;
}
.append-icon .input-lg ~ i {
  font-size: 20px;
  height: 46px;
  line-height: 46px;
  width: 46px;
}
.append-icon .form-dark ~ i {
  color: #C3C3C3;
}

.append-icon i {
    color: #1b1e25;
    color: rgba(27, 30, 37, 0.3);
    font-size: 14px;
    height: 34px;
    left: auto;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 36px;
}

#page-signin-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
#page-signin-bg .bg-overlay {
    background: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#page-signin-bg img {
    width: 100%;
}
.sidebar .user-details .btn-outline {
    border-color: #2e333b;
    color: #808b9c;
}
.btn-group>.btn.btn-outline, .btn-group>.btn.btn-outline.btn-flat, .btn-group>.btn.btn-outline.btn-flat.btn-primary, .btn-group>.btn.btn-outline.btn-flat.btn-primary:focus, .btn-group>.btn.btn-outline.btn-flat:focus, .btn-group>.btn.btn-outline.btn-primary, .btn-group>.btn.btn-outline.btn-primary:focus, .btn-group>.btn.btn-outline:focus, .btn.btn-outline, .btn.btn-outline.btn-flat, .btn.btn-outline.btn-flat.btn-primary, .btn.btn-outline.btn-flat.btn-primary:focus, .btn.btn-outline.btn-flat:focus, .btn.btn-outline.btn-primary, .btn.btn-outline.btn-primary:focus, .btn.btn-outline:focus, .input-group-btn>.btn.btn-outline, .input-group-btn>.btn.btn-outline.btn-flat, .input-group-btn>.btn.btn-outline.btn-flat.btn-primary, .input-group-btn>.btn.btn-outline.btn-flat.btn-primary:focus, .input-group-btn>.btn.btn-outline.btn-flat:focus, .input-group-btn>.btn.btn-outline.btn-primary, .input-group-btn>.btn.btn-outline.btn-primary:focus, .input-group-btn>.btn.btn-outline:focus {
    background: 0 0;
    border-color: #e0e0e0;
    border-color: rgba(0,0,0,.12);
}
.panel .panel-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.07);
}


.bg-gray:not(i) {
  background-color: #82848A !important;
  color: #000000 !important;
}
i.bg-gray::before {
  background-color: #82848A !important;
  color: #000000 !important;
}
.bg-gray.form-control:focus {
  background-color: #82848A !important;
  color: #000000 !important;
}
.bg-gray-light:not(i) {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
i.bg-gray-light::before {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
.bg-gray-light.form-control:focus {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
.modal-footer.bg-gray-light:not(i) {
  background-color: #EFEFEF !important;
  color: #5B5B5B !important;
}
.bg-red:not(i) {
  background-color: #C9625F !important;
  color: #fff !important;
}
i.bg-red::before {
  background-color: #C9625F !important;
  color: #fff !important;
}
.bg-red.form-control:focus {
  background-color: #C9625F !important;
  color: #fff !important;
}
.bg-yellow:not(i) {
  background-color: #EBC85E !important;
  color: #fff !important;
}
i.bg-yellow::before {
  background-color: #EBC85E !important;
  color: #fff !important;
}
.bg-yellow.form-control:focus {
  background-color: #EBC85E !important;
  color: #fff !important;
}
.bg-white:not(i) {
  background-color: #fff !important;
  color: black !important;
}
i.bg-white::before {
  background-color: #fff !important;
  color: black !important;
}
.bg-white.form-control:focus {
  background-color: #fff !important;
  color: black !important;
}
.bg-light:not(i) {
  background-color: #E9E9E9 !important;
  color: black !important;
}
i.bg-light::before {
  background-color: #E9E9E9 !important;
  color: black !important;
}
.bg-light.form-control:focus {
  background-color: #E9E9E9 !important;
  color: black !important;
}
.bg-green:not(i) {
  background-color: #18a689 !important;
  color: #fff !important;
}
i.bg-green::before {
  background-color: #18a689 !important;
  color: #fff !important;
}
.bg-green.form-control:focus {
  background-color: #18a689 !important;
  color: #fff !important;
}
.bg-blue:not(i) {
  background-color: #4584D1 !important;
  color: #fff !important;
}
i.bg-blue::before {
  background-color: #4584D1 !important;
  color: #fff !important;
}
.bg-blue.form-control:focus {
  background-color: #4584D1 !important;
  color: #fff !important;
}
.bg-blue2:not(i) {
  background-color: #3498db !important;
  color: #fff !important;
}
i.bg-blue2::before {
  background-color: #3498db !important;
  color: #fff !important;
}
.bg-blue2.form-control:focus {
  background-color: #3498db !important;
  color: #fff !important;
}
.bg-primary:not(i) {
  background-color: #319DB5 !important;
  color: #fff !important;
}
i.bg-primary::before {
  background-color: #319DB5 !important;
  color: #fff !important;
}
.bg-primary.form-control:focus {
  background-color: #319DB5 !important;
  color: #fff !important;
}
.background-primary:not(i) {
  background-color: #319DB5;
  color: #fff;
}
i.background-primary::before {
  background-color: #319DB5;
  color: #fff;
}
.background-primary.form-control:focus {
  background-color: #319DB5;
  color: #fff;
}
.bg-primary-dark:not(i) {
  background-color: #164954;
  color: #fff;
}
i.bg-primary-dark::before {
  background-color: #164954;
  color: #fff;
}
.bg-primary-dark.form-control:focus {
  background-color: #164954;
  color: #fff;
}
.bg-blue-light:not(i) {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
i.bg-blue-light::before {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
.bg-blue-light.form-control:focus {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
.bg-blue-dark:not(i) {
  background-color: #30364A !important;
  color: #fff !important;
}
i.bg-blue-dark::before {
  background-color: #30364A !important;
  color: #fff !important;
}
.bg-blue-dark.form-control:focus {
  background-color: #30364A !important;
  color: #fff !important;
}
.bg-orange:not(i) {
  background-color: #F2A057 !important;
  color: #fff !important;
}
i.bg-orange::before {
  background-color: #F2A057 !important;
  color: #fff !important;
}
.bg-orange.form-control:focus {
  background-color: #F2A057 !important;
  color: #fff !important;
}
.bg-purple:not(i) {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
i.bg-purple::before {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
.bg-purple.form-control:focus {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
.bg-purple2:not(i) {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
i.bg-purple2::before {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
.bg-purple2.form-control:focus {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
.bg-purple-dark:not(i) {
  background-color: #393F51 !important;
  color: #fff !important;
}
i.bg-purple-dark::before {
  background-color: #393F51 !important;
  color: #fff !important;
}
.bg-purple-dark.form-control:focus {
  background-color: #393F51 !important;
  color: #fff !important;
}
.bg-dark:not(i) {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
i.bg-dark::before {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
.bg-dark.form-control:focus {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
.bg-pink:not(i) {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
i.bg-pink::before {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
.bg-pink.form-control:focus {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
.bg-aero:not(i) {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}
i.bg-aero::before {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}
.bg-aero.form-control:focus {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}
.bg-purple-gradient {
  background: #bf9bdd;
  background: -moz-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
  background: -ms-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
  background: -o-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%, #bf9bdd), color-stop(100%, #9e52dd));
  background: -webkit-radial-gradient(center, ellipse cover, #bf9bdd 27%, #9e52dd 100%);
  background: radial-gradient(ellipse at center, #bf9bdd 27%, #9e52dd 100%);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf9bdd', endColorstr='#9e52dd', GradientType=1);
}
.bg-opacity-20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-corporate {
  background-color: #31303A !important;
  color: #fff !important;
}
.bg-iris {
  background-color: #223439 !important;
  color: #fff !important;
}

