<div class="header">
    <h2><i class="fa fa-dashboard"></i>投资人列表</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">投资人编号</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.investorId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">真实姓名</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">登录名</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.loginName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">手机号</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">是否本公司员工</span>
                                <select class="form-control form-white" ng-model="listVM.condition.empFlag" ng-options='i.value as i.text for i in listVM.empFlag'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">试投金状态</span>
                                <select class="form-control form-white" ng-model="listVM.condition.trialFlag" ng-options='s.value as s.text for s in listVM.trialFlag'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">操作来源</span>
                                <select class="form-control form-white" ng-model="listVM.condition.operateOrigin" ng-options='o.value as o.text for o in listVM.operateOrigin'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">理财渠道</span>
                                <select class="form-control form-white" ng-model="listVM.fundChannel" ng-change='listVM.channelChange()' ng-options='c as c.text for c in listVM.fundChannelName'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">理财客户经理</span>
                                <select class="form-control form-white" ng-model="listVM.condition.data.fundManagerName" ng-options='m.code as m.text for m in listVM.fundChannel.children'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">试投金是否已使用</span>
                                <select class="form-control form-white" ng-model="listVM.condition.trialUsed" ng-options='i.value as i.text for i in listVM.trialUsed'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">身份证</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.idNo">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">日期</span>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.condition.createStartTime" is-open="birthdayOpened1" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened1=true" />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.condition.createEndTime" is-open="birthdayOpened2" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened2=true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">绑定钱盒商户</span>
                            <input type="text" class="form-control form-white" ng-model="listVM.condition.bindIboxpayUser">
                        </div>
                    </div>
                </div>
            </div> -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-info">查找</button>
                            <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 m-b-10">
                <button type="button" class="btn btn-success btn-xs" ng-click="listVM.add()"><i class="icon icon-plus m-r-5"></i>新增</button>
            </div>
        </div>
        <table id="investorTable" table-full-size bs-table-control="bsInvestorTableControl"></table>
    </div>
</div>
