<div class="header">
    <h2><i class="fa fa-dashboard"></i>银行账户维护</h2>
</div>
<div class="panel panel-default">
    <div class="panel-header"><i class="icon icon-user"></i>银行账户信息</div>
    <div class="panel-body">
        <table id="bankAccountTable"  bs-table-control="bsBankAccountTableControl"></table>
    </div>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>增加银行账号</div>
    <div class="panel-body">
        <form name="maintainForm" class="form-horizontal form-validation" ng-submit="vm.submit(maintainForm.$invalid)" novalidate>
            <div class="form-group" ng-class="{'has-error':maintainForm.bankAccount.$invalid && (maintainForm.bankAccount.$dirty||vm.submitted)}">
                <label class="col-sm-1 control-label">银行账号</label>
                <div class="col-sm-11">
                    <input type="text" name="bankAccount" ng-model="vm.data.bankAccount" ng-change='vm.getBankName(vm.data.bankAccount)' class="form-control" required ng-pattern="/^[A-Za-z0-9]{12,19}$/">
                    <div class="form-error" ng-if="maintainForm.bankAccount.$error.required">银行账号不能为空!</div>
                    <div class="form-error" ng-if="maintainForm.bankAccount.$error.pattern">银行账号长度必须在12-19位之间!</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':maintainForm.bankCode.$invalid && (maintainForm.bankCode.$dirty||vm.submitted)}">
                <label class="col-sm-1 control-label">银行</label>
                <div class="col-sm-11">
                    <input class="form-control" name="bankCode" ng-model="vm.data.bankCode" readonly required>
                    <div class="form-error" ng-if="maintainForm.bankCode.$error.required">开户行不能为空!</div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-sm-1 control-label">支行</label>
                <div class="col-sm-11">
                    <input class="form-control" ng-model="vm.data.branchCode">
                </div>
            </div> -->
            <div class="form-group" ng-class="{'has-error':maintainForm.bankProvince.$invalid && (maintainForm.bankProvince.$dirty||vm.submitted)}">
                <label class="col-sm-1 control-label">省份</label>
                <div class="col-sm-11">
                    <select class="form-control" name="bankProvince" ng-change="vm.bankProvinceChange()" ng-model="vm.data.bankProvince" ng-options='b.code as b.name for b in vm.bankProvince' required></select>
                    <div class="form-error" ng-if="maintainForm.bankProvince.$error.required">省份不能为空!</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':maintainForm.bankCity.$invalid && (maintainForm.bankCity.$dirty||vm.submitted)}">
                <label class="col-sm-1 control-label">地市</label>
                <div class="col-sm-11">
                    <select class="form-control" name="bankCity" ng-model="vm.data.bankCity" ng-options='b.code as b.name for b in vm.getCities(vm.data.bankProvince)' required></select>
                    <div class="form-error" ng-if="maintainForm.bankCity.$error.required">地市不能为空!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <button type="submit" class="btn btn-primary m-r-10" ng-disabled="vm.processing">
                        <span class="w2em" ng-if="!vm.processing" ng-cloak>提交</span>
                        <i class="fa fa-spin fa-spinner w2em" ng-if="vm.processing" ng-cloak></i>
                    </button>
                    <button type="button" class="cancel btn btn-default" ng-click="reset()">重置</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-5">
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
