<div class="panel m-t-10">
    <div class="panel-header header-line">
        <h3>新增项目</h3>
    </div>
    <div class="panel-body">
        <form class="form-validation" novalidate ng-submit="projectVM.submit()">
            <div class="row m-t-10">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">授信渠道</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.creditChannelId" ng-options="parseInt(item.id) as item.text for item in projectVM.creditChannelList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">授信客户经理</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.creditManagerId" ng-options="item.id as item.text for item in projectVM.getManagerList()">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">借款人编号</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.borrowerId">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">借款人姓名</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.borrowerName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">产品类型</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.prodTypeId" ng-options="p.value as p.text for p in projectVM.productTypeList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">项目类型</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.projectTypeId" ng-options="c.value as c.text for c in projectVM.projectTypeList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">项目名称</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.projectName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">秒杀项目别名</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.promotionTitle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">合同模板</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.contractTemplateId" ng-options="p.value as p.text for p in projectVM.contractList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">显示渠道</label>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">还款方式</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.repaymentType" ng-options="p.value as p.text for p in projectVM.repaymentTypeList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">借款需求金额</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.requestAmount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">借款期限</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.duration"> + 单位
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">借款利息</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.interestRate"> + 单位
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">服务费</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.serviceFeeRate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">投标起步金额</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.biddingStartAmount">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">投标间隔金额</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.biddingStepAmount">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">投标上限金额</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="projectVM.data.biddingEndAmount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">投标截止日期</label>
                                <div class="append-icon">
                                    <input type="text" class="form-control" ng-model="projectVM.data.biddingDeadline">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">结标方式</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.autoApprove" ng-options="c.value as c.text for c in projectVM.autoApproveList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">借款用途</label>
                                <div>
                                    <textarea class="form-control" rows="3" ng-model="projectVM.data.purpose"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">借款情况描述</label>
                                <div>
                                    <textarea class="form-control" rows="3" ng-model="projectVM.data.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">是否担保</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.guaranteeFlag" ng-options="item.value as item.text for item in projectVM.youwuList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">担保情况说明</label>
                                <div>
                                    <textarea class="form-control" rows="3" ng-model="projectVM.data.guarantee"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">是否抵押</label>
                                <div>
                                    <select class="form-control" ng-model="projectVM.data.mortgageFlag" ng-options="item.value as item.text for item in projectVM.youwuList">
                                        <option value="">- 请选择 -</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">抵押情况说明</label>
                                <div>
                                    <textarea class="form-control" rows="3" ng-model="projectVM.data.mortgage"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">备注</label>
                                <div>
                                    <textarea class="form-control" rows="3" ng-model="projectVM.data.memo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success m-r-10">提交</button>
<!--                     <button type="button" class="btn btn-default" ng-click="projectVM.cancel()">返回</button>
 -->                </div>
            </div>
        </form>
    </div>
</div>
