<div class="wrapper-md">
    <form ng-submit="page(1)" novalidate>
        <div class="row">
            <div class="col-md-9 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">操作员名称</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.operator" />
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                    <span class="w2em" ng-if="!listVM.searching" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.searching" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>操作时间</th>
                        <th>IP地址</th>
                        <th>操作</th>
                        <th>操作人员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="5"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="6">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td ng-bind="item.id"></td>
                        <td ng-bind="item.createTime| exDate:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="item.remote_addr"></td>
                        <td ng-bind="item.request_uri"></td>
                        <td ng-bind="item.operator"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
