<div class="panel form-horizontal">
    <div class="panel-heading font-bold">
        修改商品<i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="loading" ng-cloak></i>
    </div>
    <div class="panel-body">
        <tabset class="tab-container m-b-none">
            <tab>
                <tab-heading>
                    基本信息
                </tab-heading>
                <div class="form-group" ng-class="{ 'has-error' : demoform.name.$invalid && !demoform.name.$pristine }">
                    <label for="itemCode" class="col-sm-2 control-label text-danger">
                        商品编号
                    </label>
                    <div class="col-sm-4">
                        <input type="text" autocomplete="off" class="form-control" name="itemCode" id="itemCode" readonly  ng-model="goods.itemCode" />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : demoform.name.$invalid && !demoform.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label text-danger">
                        英文名称
                    </label>
                    <div class="col-sm-4">
                        <input type="text" autocomplete="off" class="form-control" name="name" id="name" required maxlength="500" ng-model="goods.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-danger">
                        主品类
                    </label>
                    <div class="col-sm-4">
                        <div class="input-group m-b" style="width:100% !important;">
                            <span class="form-control btn btn-default tl" data-toggle="dropdown">
                                <span ng-bind="goods.mainCategoryName"></span>
                                <i class="caret pull-right"></i>
                            </span>
                            <div class="dropdown-menu" style="width:100%;max-height:300px;overflow:auto;">
                                <span class="p-5" ng-show="treeData.loading" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
                                <ul id="mainTree" ng-show="!treeData.loading" ng-cloak stop-propagation class="ztree" setting="treeData.settings" z-tree></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group" ng-repeat="item in goods.subCategoryCodes">
                        <label class="col-sm-2 control-label text-danger" ng-if="$index==0">
                            附属品类
                        </label>
                        <label class="col-sm-2 control-label text-danger" ng-if="$index>0">
                        </label>
                        <div class="col-sm-4" >
                            <div class="input-group m-b" style="width:100% !important;">
                            <span class="form-control btn btn-default tl" data-toggle="dropdown">
                                <span ng-bind="item.pcCategoryName"></span>
                                <i class="caret pull-right"></i>
                            </span>
                                <div class="dropdown-menu" style="width:100%;max-height:300px;overflow:auto;">
                                    <span class="p-5" ng-show="" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
                                    <ul id="subTree{{$index}}" ng-cloak stop-propagation class="ztree" setting="treeData.settings" z-tree></ul>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="delAttachedCategories($index)" ng-if="$index>=0">删除</button>
                        <button type="submit" class="btn btn-default" ng-click="addAttachedCategories()" ng-if="$index==0">添加</button>
                    </div>
                </div>
                <div class="form-group m-t">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-disabled="demoform.$invalid || isSaving" ng-click="update(1)">
                            <span ng-bind="isSaving? '保存中':'修改基本信息'"></span>
                        </button>
                        <button type="button" class="btn btn-default m-l" ng-click="back()">
                            返回列表
                        </button>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    商品定价
                </tab-heading>
                <div class="form-group">
                    <label class="col-sm-2 control-label">采购价格</label>
                    <div class="col-sm-4">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="goods.pcFobPrice" ng-readonly="true">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">样品价格</label>
                    <div class="col-sm-4">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="goods.pcSamplePrice" ng-readonly="true">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : demoform.name.$invalid && !demoform.name.$pristine }">
                    <label class="col-sm-2 control-label">增值税率</label>
                    <div class="col-sm-4">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="goods.vatRate" ng-readonly="true">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label ">
                        价格是否分梯度
                    </label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline i-checks i-checks-sm m-l-none m-r-sm">
                            <input type="checkbox" disabled ng-checked="goods.pcHasStep==1"><i></i>
                        </label>
                        <table class="table table-striped m-b-none" ng-if="goods.pcHasStep==1">
                            <thead>
                            <tr>
                                <th class="w150" style="text-align:center;">优惠数量</th>
                                <th class="w150" style="text-align:center;">优惠价格</th>
                                <th class="w50"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in goods.pcStepPrice">
                                <td>
                                    <input type="text" disabled class="form-control input-sm" ng-model="item.count">
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control input-sm" ng-model="item.fobPrice">
                                </td>
                                <td>
                                    <span>{{item.error}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                    <label for="dicValue" class="col-sm-2 control-label">
                        定价方式
                    </label>
                    <div class="col-sm-10">
                        <div class="radio-inline" style="padding-left:0px !important;">
                            <label class="i-checks i-checks-sm">
                                <input type="radio" name="tradeMode" ng-model="goods.priceType" ng-checked="goods.priceType==1" value="1">
                                <i></i> 自动定价
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label class="i-checks i-checks-sm">
                                <input type="radio" name="tradeMode" ng-model="goods.priceType" ng-checked="goods.priceType==2" value="2">
                                <i></i> 手动定价
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">SAMPLE价格</label>
                    <div class="col-sm-4">
                        <div class="input-group m-b" ng-if="goods.priceType==1">
                            <input type="text" class="form-control" ng-model="goods.autoPrice.samplePrice" disabled>
                            <span class="input-group-addon">美元</span>
                        </div>
                        <div class="input-group m-b" ng-if="goods.priceType==2">
                            <input type="text" class="form-control" ng-model="goods.samplePrice">
                            <span class="input-group-addon">美元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">FOB价格</label>
                    <div class="col-sm-4">
                        <div class="input-group m-b" ng-if="goods.priceType==1">
                            <input type="text" class="form-control" ng-model="goods.autoPrice.fobPrice" disabled>
                            <span class="input-group-addon">美元</span>
                        </div>
                        <div class="input-group m-b" ng-if="goods.priceType==2">
                            <input type="text" class="form-control" ng-model="goods.fobPrice">
                            <span class="input-group-addon">美元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label ">
                        价格是否分梯度
                    </label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline i-checks i-checks-sm m-l-none m-r-sm" ng-if="goods.priceType==1" >
                            <input type="checkbox" disabled ng-click="goods.hasStep?goods.hasStep=0:goods.hasStep=1;" ng-checked="goods.hasStep==1"><i></i>
                        </label>
                        <label class="checkbox-inline i-checks i-checks-sm m-l-none m-r-sm" ng-if="goods.priceType==2">
                            <input type="checkbox"  ng-click="goods.hasStep?goods.hasStep=0:goods.hasStep=1;checkHasStep();" ng-checked="goods.hasStep==1"><i></i>
                        </label>
                        <table class="table table-striped m-b-none" ng-if="goods.hasStep==1&&goods.priceType==1">
                            <thead>
                            <tr>
                                <th class="w150" style="text-align:center;">优惠数量</th>
                                <th class="w150" style="text-align:center;">优惠价格</th>
                                <th class="w50"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in goods.autoPrice.prices">
                                <td>
                                    <input type="text" disabled class="form-control input-sm" ng-model="item.count">
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control input-sm" ng-model="item.fobPrice">
                                </td>
                                <td>
                                    <span>{{item.error}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped m-b-none" ng-if="goods.hasStep==1&&goods.priceType==2">
                            <thead>
                            <tr>
                                <th class="w150" style="text-align:center;">优惠数量</th>
                                <th class="w150" style="text-align:center;">优惠价格</th>
                                <th class="w50"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in goods.stepPrice">
                                <td>
                                    <input type="text" class="form-control input-sm" ng-model="item.count" placeholder="请输入数字" ng-blur="validPice(item,$index)" maxlength="10" ng-pattern="/^[1-9]\d*$/">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" ng-model="item.fobPrice" placeholder="请输入数字" maxlength="10" ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/">
                                </td>
                                <td>
                                    <button ng-if="!$index" type="button" class="btn btn-info btn-sm" ng-click="addPice()" ng-cloak>
                                        添加
                                    </button>
                                    <button ng-if="$index" type="button" class="btn btn-danger btn-sm" ng-click="delPice($index)" ng-cloak>
                                        删除
                                    </button>
                                </td>
                                <td>
                                    <span>{{item.error}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group m-t">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-disabled="isSaving" ng-click="update(2)">
                            <span ng-bind="isSaving? '保存中':'修改价格'"></span>
                        </button>
                        <button type="button" class="btn btn-default m-l" ng-click="back()">
                            返回列表
                        </button>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    SEO设置
                </tab-heading>
                <div class="form-group">
                    <label for="seoTitle" class="col-sm-2 control-label">
                        title
                    </label>
                    <div class="col-sm-4">
                        <textarea id="seoTitle" name="seoTitle" class="form-control" rows="5" ng-model="goods.seoTitle" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="seoKeyword" class="col-sm-2 control-label">
                        keyword
                    </label>
                    <div class="col-sm-4">
                        <textarea id="seoKeyword" name="seoKeyword" class="form-control" rows="5" ng-model="goods.seoKeyword" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="seoDescription" class="col-sm-2 control-label">
                        description
                    </label>
                    <div class="col-sm-4">
                        <textarea id="seoDescription" name="seoDescription" class="form-control" rows="5" ng-model="goods.seoDescription" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group m-t">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-disabled="demoform.$invalid || isSaving" ng-click="update(3)">
                            <span ng-bind="isSaving? '保存中':'修改SEO信息'"></span>
                        </button>
                        <button type="button" class="btn btn-default m-l" ng-click="back()">
                            返回列表
                        </button>
                    </div>
                </div>
            </tab>
        </tabset>


    </div>
</div>
