<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
  <div class="text-center m-b-lg">
    <h1 class="text-shadow text-white" style="font-size:100px !important;">出错了</h1>
    <span class="text-shadow" style="font-size:18px !important;">请联系管理员</span>
  </div>
  <div class="list-group bg-info auto m-b-sm m-b-lg">
    <a ui-sref="home" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-mail-forward m-r-xs"></i> 返回首页
    </a>
    <a ui-sref="login" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-sign-in m-r-xs"></i> 重新登录
    </a>
  </div>
</div>