<div class="panel form-horizontal">
    <div class="panel-heading">
        <i class="menu-icon fa fa-sitemap mr5"></i><span class="panel-title">销售订单信息</span>
    </div>
    <div class="panel-body">
        <div style="float:right;">
            <button type="button" class="btn btn-default ml5" ng-click="back()">
                返回列表
            </button>
        </div>
        <div class="clear-fix"></div>
        <div class="panel-body">
            <ul id="saleOrder-tabs" class="nav nav-tabs">
                <li class="active">
                    <a data-target="#soInfo" data-toggle="tab">SO详情
                    <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="soLoading" ng-cloak></i></a>
                </li>
                <li class="">
                    <a data-target="#poInfo" data-toggle="tab" ng-click="loadPoInfo()">PO详情</a>
                </li>
                <li class="">
                    <a data-target="#logInfo" data-toggle="tab" ng-click="loadOpergteLogPage()">日志</a>
                </li>
            </ul>
            <div class="tab-content tab-content-bordered" >
                <!--SO详情-->
                <div class="tab-pane fade active in" id="soInfo">
                    <div class="row">
                        <form id="saleOrderForm" name="saleOrderForm" class="form-horizontal" method="post" ng-submit="updateSaleOrder()" novalidate>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">订单号</span>
                                    <div class="col-sm-10" ng-bind="saleOrder.externOrderNo" ></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">订单下单时间</span>
                                    <div class="col-sm-10" ng-bind="saleOrder.orderDate | date:'yyyy-MM-dd'"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">订单来源</span>
                                    <div class="col-sm-10" ng-bind="saleOrder.orderType"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运单号</span>
                                    <div class="col-sm-10" ng-bind="saleOrder.trackNo"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总重量</span>
                                    <input type="test" class="form-control" ng-model="saleOrder.totalWeight"  ng-disabled="isConfirm" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总体积</span>
                                     <input  type="text"  class="form-control" ng-model="saleOrder.totalVolume" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总价值</span>
                                     <input  type="text" class="form-control" ng-model="saleOrder.orderValue" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">总运费</span>
                                     <input  type="text"  class="form-control" ng-model="saleOrder.shippingCost" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">客户名称</span>
                                     <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.customerName" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">客户联系人</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.customerContacter" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">客户联系电话</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.customerContactNo" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">客户地址</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.customerAddr" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">收件方</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.consigneeName" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">收件联系人</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.consigneeContacter" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">收件人电话</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.consigneeContactNo" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">收件人地址</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.consigneeAddr" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">通知方</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.notifyName" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">通知方联系人</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.notifyContacter" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">通知人联系电话</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.notifyContactNo" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">通知方地址</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.notifyAddr" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">AOM执行人</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.aom_performer" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">发货地</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.originCityCode" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">运输方式</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.transportMode" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">贸易条款</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.incoterm" ng-disabled="isConfirm"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">订单状态</span>
                                    <input  type="text" class="form-control" maxlength="20" ng-model="saleOrder.statusDesc" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-if="!soLoading">
                                    <div class="col-sm-offset-10" ng-if="!isConfirm">
                                        <button type="submit" class="btn btn-primary" >
                                            <span ng-bind="isSaving? '保存中':'保存'"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="comfirmSaleOrder()">
                                            <span ng-bind="isConfirming? '确认中':'确认'"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="back()">
                                            <span ng-bind="'取消'"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>订单明细</span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>
                                            产品编号
                                        </th>
                                        <th>
                                            SKU
                                        </th>
                                        <th>
                                            海关编码
                                        </th>
                                        <th>
                                            货物类型
                                        </th>
                                        <th>
                                            数量
                                        </th>
                                        <th>
                                            包装数量
                                        </th>
                                        <th>
                                            装箱重量
                                        </th>
                                        <th>
                                            装箱尺寸<br>
                                            (长*宽*高)
                                        </th>
                                        <th>
                                            装箱体积
                                        </th>
                                        <th>
                                            FOB单位价格
                                        </th>
                                        <th>
                                            销售单价
                                        </th>
                                        <th>
                                            货运成本
                                        </th>
                                        <th>
                                            货币
                                        </th>
                                        <th>
                                            货物状态
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="sodLoading" ng-cloak>
                                        <td class="text-center" colspan="14"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                                    </tr>
                                    <tr ng-if="!sodLoading&&(!sodQueryResult.Items||sodQueryResult.Items.length==0)" ng-cloak>
                                        <td class="text-center" colspan="14">暂无数据</td>
                                    </tr>
                                    <tr ng-repeat="item in sodQueryResult.Items">
                                        <td>
                                            {{item.externItemNo}}
                                        </td>
                                        <td>
                                            {{item.sku}}
                                        </td>
                                        <td>
                                            {{item.hscode}}
                                        </td>
                                        <td>
                                            {{item.cargoType}}
                                        </td>
                                        <td>
                                            {{item.orderQty}}
                                        </td>
                                        <td>
                                            {{item.packQty}}
                                        </td>
                                        <td>
                                            {{item.packWeight}}
                                        </td>
                                         <td>
                                            {{item.packLength}} ×{{item.packWidth}} × {{item.packHeight}}  ({{item.packUnit}})
                                        </td>
                                        <td>
                                            {{item.packVolume}}
                                        </td>
                                        <td>
                                            {{item.fobUnitPrice}}
                                        </td>
                                        <td>
                                            {{item.salesUnitPrice}}
                                        </td>
                                        <td>
                                            {{item.freightPrice}}
                                        </td>
                                        <td>
                                            {{item.currency}}
                                        </td>
                                        <td>
                                            {{item.statusDesc}}
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="panel-footer" ng-show="sodQueryResult.TotalCount>0" ng-cloak>
                            <div class="row">
                                <div class="col-sm-12 text-right text-center-xs">
                                    <pagination total-items="sodQueryResult.TotalCount" items-per-page="sodQueryResult.PageSize" ng-change="sodPageChanged()" ng-model="sodQueryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>

                <!--PO信息-->
                <div class="tab-pane fade" id="poInfo" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>采购单列表</span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>
                                            采购单号
                                        </th>
                                        <th>
                                            下单时间
                                        </th>
                                        <th>
                                            供应商名称
                                        </th>
                                        <th>
                                            供应商地址
                                        </th>
                                        <th>
                                            联系人
                                        </th>
                                        <th>
                                            联系电话
                                        </th>
                                        <th>
                                            E-mail
                                        </th>
                                        <th>
                                            状态
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="poLoading" ng-cloak>
                                        <td class="text-center" colspan="8"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                                    </tr>
                                    <tr ng-if="!poLoading&&(!poQueryResult.Items||poQueryResult.Items.length==0)" ng-cloak>
                                        <td class="text-center" colspan="8">暂无数据</td>
                                    </tr>
                                    <tr ng-repeat="item in poQueryResult.Items">
                                        <td>
                                            {{item.poKey}}
                                        </td>
                                        <td>
                                            {{item.poDate}}
                                        </td>
                                        <td>
                                            {{item.vendorName}}
                                        </td>
                                        <td>
                                            {{item.vendorAddr}}
                                        </td>
                                        <td>
                                            {{item.vendorContacter}}
                                        </td>
                                        <td>
                                            {{item.vendorContactNo}}
                                        </td>
                                        <td>
                                            {{item.vendorEmail}}
                                        </td>
                                        <td>
                                            {{item.poStatus}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="panel-footer" ng-show="poQueryResult.TotalCount>0" ng-cloak>
                            <div class="row">
                                <div class="col-sm-12 text-right text-center-xs">
                                    <pagination total-items="poQueryResult.TotalCount" items-per-page="poQueryResult.PageSize" ng-change="poPageChanged()" ng-model="poQueryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                                </div>
                            </div>
                        </footer>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>采购单明细</span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>
                                            采购单号
                                        </th>
                                        <th>
                                            商品编号
                                        </th>
                                        <th>
                                            SKU
                                        </th>
                                        <th>
                                            数量
                                        </th>
                                        <th>
                                            联系人
                                        </th>
                                        <th>
                                            联系电话
                                        </th>
                                        <th>
                                            E-mail
                                        </th>
                                        <th>
                                            发货城市
                                        </th>
                                         <th>
                                            发货地址
                                        </th>
                                         <th>
                                            预计准备日期
                                        </th>
                                         <th>
                                            实际准备日期
                                        </th>
                                         <th>
                                            预计质检日期
                                        </th>
                                         <th>
                                            实际质检日期
                                        </th>
                                         <th>
                                            预计发货日期
                                        </th>
                                         <th>
                                            实际发货日期
                                        </th>
                                        <th style="width:80px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="podLoading" ng-cloak>
                                        <td class="text-center" colspan="15"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                                    </tr>
                                    <tr ng-if="!podLoading&&(!podQueryResult.Items||podQueryResult.Items.length==0)" ng-cloak>
                                        <td class="text-center" colspan="15">暂无数据</td>
                                    </tr>
                                    <tr ng-repeat="item in podQueryResult.Items">
                                        <td>
                                            {{item.poKey}}
                                        </td>
                                        <td>
                                            {{item.poItemNo}}
                                        </td>
                                        <td>
                                            {{item.sku}}
                                        </td>
                                        <td>
                                            {{item.quantity}}
                                        </td>
                                        <td>
                                            {{item.consignerName}}
                                        </td>
                                        <td>
                                            {{item.consignerContactNo}}
                                        </td>
                                        <td>
                                            {{item.consignerEmail}}
                                        </td>
                                        <td>
                                            {{item.pickUpCityCode}}
                                        </td>
                                         <td>
                                            {{item.pickUpAddr}}
                                        </td>
                                        <td>
                                            {{item.estPreparedDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.actualPreparedDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.estQaDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.actualQaDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.estPickUpDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.actualPickUpDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td class="text-bg">
                                            <a href ng-click="openPoDetailDate(item)" class="fa fa-edit" title="编辑"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="panel-footer" ng-show="podQueryResult.TotalCount>0" ng-cloak>
                            <div class="row">
                                <div class="col-sm-12 text-right text-center-xs">
                                    <pagination total-items="podQueryResult.TotalCount" items-per-page="podQueryResult.PageSize" ng-change="podPageChanged()" ng-model="podQueryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
                 <!--操作日志-->
                <div class="tab-pane fade" id="logInfo" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>订单操作日志</span>
                        </div>
                        <div class="table-responsive col-sm-10">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>
                                            操作时间
                                        </th>
                                        <th>
                                            操作人员
                                        </th>
                                         <th>
                                            订单类型
                                        </th>
                                        <th>
                                            操作事项
                                        </th>
                                        <th>
                                            备注
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="logLoading" ng-cloak>
                                        <td class="text-center" colspan="5"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                                    </tr>
                                    <tr ng-if="!logLoading&&(!logQueryResult.Items||logQueryResult.Items.length==0)" ng-cloak>
                                        <td class="text-center" colspan="5">暂无数据</td>
                                    </tr>
                                    <tr ng-repeat="item in logQueryResult.Items">
                                        <td>
                                            {{item.logDate | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{item.operator}}
                                        </td>
                                        <td>
                                            {{item.operateType}}
                                        </td>
                                        <td>
                                            {{item.operateDesc}}
                                        </td>
                                        <td>
                                            {{item.remarks}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="panel-footer" ng-show="logQueryResult.TotalCount>0" ng-cloak>
                            <div class="row">
                                <div class="col-sm-10 text-right text-center-xs">
                                    <pagination total-items="logQueryResult.TotalCount" items-per-page="logQueryResult.PageSize" ng-change="logPageChanged()" ng-model="logQueryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>