<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">订单号</span>
                    <input type="text" class="form-control" ng-model="condition.externOrderNo" />
                </div>
            </div>
             <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">订单来源</span>
                    <select class="form-control input-sm" ng-model="condition.orderType">
                        <option value="" ng-selected="!condition.isValid">全部</option>
                        <option value="goExW">goExW</option>
                        <option value="exiao">exiao</option>
                        <option value="234plog">234plog</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">下单时间</span>
                     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="condition.orderDateBegin" is-open="openB" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openBegin($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openBegin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
             <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">至</span>
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="condition.orderDateEnd" is-open="openE" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openEnd($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">客户名称</span>
                    <input type="text" class="form-control"  ng-model="condition.customerName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">客户电话</span>
                    <input type="text" class="form-control"  ng-model="condition.customerContactNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">收货人</span>
                    <input type="text" class="form-control"  ng-model="condition.consigneeName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">收货人电话</span>
                    <input type="text" class="form-control"  ng-model="condition.consigneeContactNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">订单状态</span>
                    <select class="form-control input-sm" ng-model="condition.orderStatus">
                        <option value="" ng-selected="!condition.isValid">请选择</option>
                        <option value="0">未完成</option>
                        <option value="1">完成</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">AOM订单执行人</span>
                    <input type="text" class="form-control"  ng-model="condition.aomPerformer" />
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                    <span class="w2em" ng-if="!loading" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="loading" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>销售订单列表</span>
            <div class="btn-group pull-right">
                <a class="btn btn-primary btn-xs" ng-click="add()" ng-disabled="isAdding? true:false">
                     <span ng-bind="isAdding? '生成中':'生成运单'"></span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped tight-table b-t b-light">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th style="width:20px;">
                        </th>
                        <th class="pointer" ng-click="reSort('externorderno')">
                            订单号
                            <span class="fa m-l-2 text-sm {{sortClass('externorderno')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('ordertype')">
                            订单来源
                            <span class="fa m-l-2 text-sm {{sortClass('ordertype')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('orderdate')">
                            下单时间
                            <span class="fa m-l-2 text-sm {{sortClass('orderdate')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('customer_name')">
                            客户名称
                            <span class="fa m-l-2 text-sm {{sortClass('customer_name')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('consignee_Name')">
                            收货人
                            <span class="fa m-l-2 text-sm {{sortClass('consignee_Name')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('consignee_Addr')">
                            收货地址
                            <span class="fa m-l-2 text-sm {{sortClass('consignee_Addr')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('consignee_ContactNo')">
                            收货人联系电话
                            <span class="fa m-l-2 text-sm {{sortClass('consignee_ContactNo')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('aom_performer')">
                            AOM执行人
                            <span class="fa m-l-2 text-sm {{sortClass('aom_performer')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalpackage')">
                            物流包装件数
                            <span class="fa m-l-2 text-sm {{sortClass('totalpackage')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalweight')">
                            重量
                            <span class="fa m-l-2 text-sm {{sortClass('totalweight')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('totalvolume')">
                            体积
                            <span class="fa m-l-2 text-sm {{sortClass('totalvolume')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('transportmode')">
                            运输方式
                            <span class="fa m-l-2 text-sm {{sortClass('transportmode')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('incoterm')">
                            交易条款
                            <span class="fa m-l-2 text-sm {{sortClass('incoterm')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('ordervalue')">
                            总价
                            <span class="fa m-l-2 text-sm {{sortClass('ordervalue')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('trackno')">
                            运单号
                            <span class="fa m-l-2 text-sm {{sortClass('trackno')}}">
                        </th>
                        <th class="pointer" ng-click="reSort('orderstatus')">
                            订单状态
                            <span class="fa m-l-2 text-sm {{sortClass('orderstatus')}}">
                        </th>
                        <th style="width:80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="loading" ng-cloak>
                        <td class="text-center" colspan="19"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="19">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td>
                            {{(queryResult.pageNo-1)*10+$index+1}}
                        </td>
                        <td>
                            <label class="radio-inline i-checks i-checks-sm" ng-if="item.trackNo == null || item.trackNo==''">
                                <input type="radio" ng-model="$parent.$parent.selectValue" name="select" ng-value="{{item}}"  /><i></i>
                            </label>
                        </td>
                        <td>
                            <a href ng-click="editSaleOrder(item.orderId)" class="editLink" > {{item.externOrderNo}}</a>
                        </td>
                        <td>
                            {{item.orderType}}
                        </td>
                        <td>
                            {{item.orderDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{item.customerName}}
                        </td>
                        <td>
                            {{item.consigneeName}}
                        </td>
                        <td>
                            {{item.consigneeAddr}}
                        </td>
                        <td>
                            {{item.consigneeContactNo}}
                        </td>
                        <td>
                            {{item.aomPerformer}}
                        </td>
                        <td>
                            {{item.totalPackage}}
                        </td>
                        <td>
                            {{item.totalWeight}}
                        </td>
                        <td>
                            {{item.totalVolume}}
                        </td>
                        <td>
                            {{item.transportMode}}
                        </td>
                        <td>
                            {{item.incoterm}}
                        </td>
                        <td nowrap="true">
                            {{item.orderValue}} {{item.currency}}
                        </td>
                        <td>
                            {{item.trackNo}}
                        </td>
                        <td>
                            {{item.statusDesc}}
                        </td>
                        <td class="text-bg">
                            <a href ng-click="editSaleOrder(item.orderId)" class="fa fa-edit" title="编辑"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
