<div class="panel panel-default m-b-none">
    <form name="trackDocForm" method="post" ng-submit="ok()" novalidate>
        <div class="panel-heading font-bold">
            <span ng-bind="poDetailtitle">
        </div>
        <div class="panel-body">
            <div  ng-cloak>
                <div class="input-group m-b">
                    <span class="input-group-addon">实际准备日期</span>
                     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="poDetailInfo.actualPreparedDate" is-open="openAp" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openApDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openApDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

                <div class="input-group m-b">
                    <span class="input-group-addon">实际质检日期</span>
                     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="poDetailInfo.actualQaDate" is-open="openAq" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openAqDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openAqDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

                <div class="input-group m-b">
                    <span class="input-group-addon">实际发货日期</span>
                     <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="poDetailInfo.actualPickUpDate" is-open="openApu" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="关闭" ng-click="openApuDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openApuDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
               
            </div>
        </div>
        <div class="panel-footer text-right">
             <button type="submit" class="btn btn-primary m-r-sm" ng-disabled="saving"  ng-cloak>
                <span class="w2em" ng-if="!saving" ng-cloak>保存</span>
                <i class="fa fa-spin fa-spinner w2em" ng-if="saving" ng-cloak></i>
            </button>
            <button type="button" class="btn btn-default" ng-disabled="saving" ng-click="cancel()">返回</button>
        </div>
    </form>
</div>
