<div class="wrapper-md">
    <form ng-submit="page(1)" novalidate>
        <div class="row">
            <div class="col-md-4 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">用户名称</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.userName" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">用户状态:</span>
                    <select class="form-control" ng-model="listVM.condition.activestatus">
                        <option value="" default>- 请选择 -</option>
                        <option value="0">激活</option>
                        <option value="1">禁用</option>
                    </select>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                    <span class="w2em" ng-if="!listVM.searching" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.searching" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
                <button type="button" class="btn btn-success m-l-xs m-b pull-right" ng-click="add()">新增</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <span class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名称</th>
                        <th>岗位名称</th>
                        <th>用户状态</th>
                        <!--<th>用户状态</th>-->
                        <th>部门</th>
                        <th>创建时间</th>
                        <th>登录时间</th>
                        <th class="w130">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="7"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="7">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td ng-bind="item.loginName"></td>
                        <td ng-bind="item.userName"></td>
                        <td ng-bind="item.roleName"></td>
                        <td>
                          <span ng-if="item.locked == 0||item.locked == NULL">
                              活动
                          </span>
                            <span ng-if="item.locked ==1">
                                禁用
                              </span>
                        </td>
                        <!--
                        <td>
                          <span ng-if="item.logicalDel == 0||item.logicalDel == NULL">
                               正常
                          </span>
                            <span ng-if="item.logicalDel ==1">
                                已删除
                              </span>
                        </td>
                        -->
                        <td ng-bind="item.deptName"></td>
                        <td ng-bind="item.createTime|exDate:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="item.loginDate| exDate:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td class="v-middle">
                            <a href ng-click="view(item.id)" class="fa fa-file-text-o text-sm" title="查看用户信息"></a>
                            <a href ng-click="edit(item.id)" class="fa fa-edit text-sm m-l-xs" title="修改用户信息"></a>
                            <span ng-if="loginName == 'admin'">
                                <span ng-if="(item.locked == 0||item.locked == NULL)&&item.logicalDel == 0">
                                    <a href ng-click="forbid(item)" class="icon-ban" title="禁用" ng-if="item.id>1" ng-cloak></a>
                          </span>
                            <span ng-if="item.locked ==1&&item.logicalDel == 0">
                                <a href ng-click="active(item)" class="icon-bulb" title=" 激活" ng-if="item.id>1" ng-cloak></a>
                              </span>
                           <span ng-if="item.logicalDel == 0">
                            <a ui-sref="sys.user.password({id:item.id})" class="btn btn-link btn-xs b-a" title="重置用户密码">
                                <i class="fa fa-key"></i>
                            </a>
                             </span>
                            <!-- <span ng-if="item.logicalDel == 0">
                            <a href ng-click="del(item)" class="fa fa-trash-o text-sm m-l-xs" title="删除用户" ng-if="item.id>1" ng-cloak></a>
                             </span>
                             -->
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
