<div class="header">
    <h2><i class="fa fa-dashboard"></i>基本信息</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>信息详情</div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-md-12 portlets">
                    <table class="table table-bordered th-right">
                        <tbody>
                            <tr>
                                <th class='w-140'>
                                    充值编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.id"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    投资人编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.investorId"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    投资人姓名
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.investorVO.name"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-140'>
                                    金额
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.amount"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    服务费
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.serviceFee"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    账户科目
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.accountSubjectCode|meta:vm.subject"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-140'>
                                    状态
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.status|meta:vm.status"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    充值类型
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.paymentType|meta:vm.paymentType"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    充值渠道
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.paymentChannel|meta:vm.paymentChannel"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-140'>
                                    支付序号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.paymentOrderNo"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    外部参考编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.externalRef"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    创建时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.createDatetime|exDate:'yyyy-MM-dd HH:mm:ss'"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-140'>
                                    完成时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.finishDatetime|exDate:'yyyy-MM-dd HH:mm:ss'"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    操作员
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.op"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    错误编码
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.errorCode"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-140'>
                                    错误信息
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.errorMsg"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    银行卡号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.bankCard"></label>
                                    </div>
                                </th>
                                <th class='w-140'>
                                    备注
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.rechargeVO.memo"></label>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-5">
                <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
            </div>
        </div>
    </div>
</div>
