<div class="header">
    <h2><i class="fa fa-dashboard"></i>基本信息</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-md-12 portlets">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        充值编号
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-model="vm.data.chargeCode"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        投资人编号
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.investorCode"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        投资人姓名
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.investorName"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        金额
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.amount"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        服务费
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.serviceFee"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        账户科目
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.subject"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        状态
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.status"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        充值类型
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.chargeType"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        充值渠道
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.channel"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        支付序号
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.payNum"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        外部参考编号
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.externalCode"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        创建时间
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.buildTime"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        完成时间
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.achieveTime"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        操作员
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.operator"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        错误编码
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.errorCode"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        错误信息
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.errorInformation"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        银行卡号
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.bankCard"></label>
                                    </div>
                                </td>
                                <td class='w-150'>
                                    <label class="col-sm-12 control-label">
                                        备注
                                    </label>
                                    </td>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" class="form-control" ng-model="vm.data.memo"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-5">
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
    </div>
    </form>
</div>
