<div class="header">
    <h2><i class="fa fa-dashboard"></i>投资列表</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">投资人编号</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.data.investorId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">项目编号</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.data.projectId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <select class="form-control form-white" ng-model="listView.condition.data.statusName" ng-options='status as status.text for status in listView.status'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">理财渠道</span>
                                <select class="form-control form-white" ng-model="listView.fundChannel" ng-options='channel as channel.text for channel in listView.fundChannelName'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">理财客户经理</span>
                                <select class="form-control form-white" ng-model="listView.condition.data.fundManagerName" ng-options='item.code as item.text for item in listView.fundChannel.children'>
                                    <option value="">- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">投资开始日期</span>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.condition.data.debtStartDate" is-open="birthdayOpened1" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened1=true" />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.condition.data.debtEndDate" is-open="birthdayOpened2" datepicker-options="dateOptions" close-text="关闭" ng-click="birthdayOpened2=true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">是否包含试投金</span>
                            <select class="form-control form-white" ng-model="listView.condition.data.hasTrial" ng-options='hasTrial as hasTrial.text for hasTrial in listView.hasTrial'>
                                <option value="">- 请选择 -</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-5">
                <div class="form-group col-md-4">
                    <button class="btn btn-info"  ng-click="search()">查找</button>
                    <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-header"><i class="icon icon-user"></i>查询结果</div>
    <div class="panel-body">
        <table id="investmentListTable" table-full-size bs-table-control="bsInvestmentListTableControl"></table>
    </div>
</div>
