<div class="panel panel-default form-horizontal m-b-none">
    <div class="panel-heading font-bold">
        <span ng-bind="attrVM.title"></span>
    </div>
    <form id="attrform" name="attrform" method="post" novalidate>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label"><i class="text-danger m-r-xs">*</i>属性名</label>
                <div class="col-sm-9" ng-class="{'has-error':resp.errorName||(attrform.attributeenname.$invalid&&(attrVM.submitted||attrform.attributeenname.$dirty))}" required>
                    <input type="text" name="attributeenname" class="form-control" maxlength="50" ng-model="attrVM.data.attributeEnName" ng-keyup="resp.errorName=''" maxlength="20" required/>
                    <span ng-show="resp.errorName&&(attrVM.submitted||attrform.attributeenname.$dirty)" class="help-block text-xs"> {{resp.errorName}}</span>
                </div>
            </div>
            <div class="form-group" ng-if="attrVM.type==2" ng-cloak>
                <label class="col-sm-3 control-label">中文属性名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" maxlength="50" ng-model="attrVM.data.attributeName" maxlength="20" />
                </div>
            </div>
            <div class="form-group" ng-if="attrVM.type==1" ng-cloak>
                <label class="col-sm-3 control-label"><i class="text-danger m-r-xs">*</i>属性值</label>
                <div class="col-sm-9" ng-class="{'has-error':attrVM.data.attributeVal[0].errorMsg||(attrform.envalue.$invalid&&(attrVM.submitted||attrform.envalue.$dirty))}">
                    <input type="text" name="envalue" class="form-control" maxlength="500" ng-model="attrVM.data.attributeVal[0].enValue" ng-keyup="attrVM.data.attributeVal[0].errorMsg=''" required>
                    <span ng-show="attrVM.data.attributeVal[0].errorMsg&&(attrVM.submitted||attrform.envalue.$dirty)" class="help-block text-xs">{{attrVM.data.attributeVal[0].errorMsg}}</span>
                </div>
            </div>
            <div class="form-group" ng-if="attrVM.type==2" ng-cloak>
                <label class="col-sm-3 control-label">属性值</label>
                <div class="col-sm-9">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th class="p-l-none"><i class="text-danger m-r-xs">*</i>英文值</th>
                                <th class="p-l-none">中文值</th>
                                <th class="w80 p-l-none" ng-if="attrVM.type==2" ng-cloak>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in attrVM.data.attributeVal">
                                <td class="p-l-none">
                                    <div ng-class="{'has-error':item.errorMsg||(attrform['envalue'+$index].$invalid&&(attrVM.submitted||attrform['envalue'+$index].$dirty))}" required>
                                        <input type="text" name="envalue{{$index}}" class="form-control input-sm" maxlength="500" ng-model="item.enValue" ng-keyup="item.errorMsg=''" required>
                                        <span ng-show="item.errorMsg&&(attrVM.submitted||attrform['envalue'+$index].$dirty)" class="help-block text-xs"> {{item.errorMsg}}</span>
                                    </div>
                                </td>
                                <td class="p-l-none">
                                    <input type="text" class="form-control input-sm" maxlength="500" ng-model="item.cnValue">
                                </td>
                                <td class="p-l-none">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="delValue($index)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-info btn-sm m-t-xs" ng-click="addValue()" ng-if="attrVM.type==2" ng-cloak>添加值</button>
                </div>
            </div>
        </div>
        <form>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary m-r-sm" ng-click="save(attrform.$invalid)" ng-cloak>保存</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
</div>
