<div class="panel form-horizontal">
    <div class="panel-body">
    <form name="importForm" method="post" novalidate>
        <div class="panel-heading font-bold" ng-bind="auditVM.title"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">
                审核项
            </label>
            <div class="col-sm-10" ng-class="{ 'has-error':auditOption == '' && view.submitted}">
                <label class="checkbox-inline i-checks i-checks-sm m-l-none m-rs" ng-repeat="item in auditVM.auditOption.vals">
                    <input type="checkbox" checklist-model="auditVM.auditOption.selectedItems"  checklist-value="item.contentCn" ng-change="view.optionsChanged=true" /><i></i> {{item.contentCn}}
                </label>
                <span class="help-block text-xs" ng-if="(view.optionsChanged||view.submitted) && (!deliveryFlags.selectedItems||deliveryFlags.selectedItems.length<1)" ng-cloak>必填项！</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">审核意见</label>
            <div class="col-sm-10">
                <textarea autocomplete="off" maxlength="1000" class="form-control" rows="10" ng-model="auditVM.remark"></textarea>
                <input type="hidden" ng-model="auditVM.codes" value="code">
            </div>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-default m-l-xs" ng-click="cancel()">
                取消
            </button>
            <button type="button" class="btn btn-primary" ng-disabled="auditVM.auditPass||importForm.$invalid" ng-click="auditPass()">
                <span class="w2em" ng-if="!importVM.saving" ng-cloak>确定</span>
                <i class="fa fa-spin fa-spinner w2em" ng-if="auditVM.auditPass" ng-cloak></i>
            </button>
        </div>
    </form>
</div>
</div>
