<div class="panel panel-default form-horizontal">
    <div class="panel-heading font-bold">
        <span class="panel-title">批量上传</span>
    </div>
    <div class="panel-body">
        <div class="col-md-4 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">上传路径</span>
                <input type="text" class="form-control" value="D:/images/" ng-model="vm.filePath" />
            </div>
        </div>
        <div class="col-md-4 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">上传类型</span>
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="uploadType" ng-model="vm.uploadType" ng-checked="vm.uploadType==1" value="1">
                    <i></i> 正常上传
                </label>
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="uploadType" ng-model="vm.uploadType" ng-checked="vm.uploadType==2" value="2">
                    <i></i> 非正常上传
                </label>
            </div>
        </div>
        <div class="col-md-4 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">编码前缀</span>
                <input type="text" class="form-control" value="D:/images/" ng-model="vm.codePrefix" />
            </div>
        </div>



        <button type="button" class="btn btn-primary m-b" ng-click="batchUpload()" ng-disabled="vm.uploading">
            <span class="w4em" ng-if="!vm.uploading" ng-cloak>批量上传</span>
            <i class="fa fa-spin fa-spinner w4em" ng-if="vm.uploading" ng-cloak></i>
        </button>
        <div class="col-md-8 p-r-none">
            <span  class="help-block text-xs">
                上传路径：图片在服务器上的物理根路径。 上传类型：  按照需求约定命名的图片为正常上传；  只有一套图，需要分为总图和细节图的为非正常上传
            编码前缀：code编码以什么字母开头，默认为PBU如有测试需要可自定义，如PBV
            </span>
        </div>
    </div>
</div>
