<div class="wrapper-md">
    <form ng-submit="page(1)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group m-b" style="width:100% !important;">
                    <span class="input-group-addon">品类</span>
                    <span class="form-control btn btn-default tl" data-toggle="dropdown">
                        <span ng-bind="listVM.condition.categoryName"></span>
                    <i class="caret pull-right"></i>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" ng-click="clearCategory()" class="btn btn-default no-border-l">
                            <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    </span>
                    <div class="dropdown-menu" style="width:100%;max-height:300px;overflow:auto;">
                        <span class="p-5" ng-show="treeData.initializing" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
                        <ul ng-show="!treeData.initializing" ng-cloak stop-propagation class="ztree" setting="treeData.settings" z-tree></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">供应商</span>
                    <ui-select ng-model="listVM.condition.selectedSupplier" theme="bootstrap">
                        <ui-select-match placeholder="">{{listVM.condition.selectedSupplier.companyName}}</ui-select-match>
                        <ui-select-choices repeat="item in listVM.suppliers | filter: $select.search" refresh="refreshSupplier($select.search)" refresh-delay="500">
                            <span ng-bind-html="item.companyName | highlight: $select.search"></span>
                            <small ng-bind-html="item.email | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button ng-if="!listVM.supplierLoading" ng-cloak type="button" ng-click="listVM.condition.selectedSupplier = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <span class="btn btn-default" ng-if="listVM.supplierLoading" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">ESIN名称</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.name" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group m-b">
                    <span class="input-group-addon">ESIN编号</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.code" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">SKU英文名称</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.skuEnName" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">SKU编号</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.skuCode" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">审核类型</span>
                    <select class="form-control" ng-model="listVM.condition.status">
                        <option value="">- 请选择 -</option>
                        <option value="0">待提交</option>
                        <option value="3">新品审核未通过</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                    <span class="w2em" ng-if="!listVM.searching" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.searching" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" ng-click="batchProcess(1)" class="btn btn-primary btn-xs m-l-xs" ng-disabled="listVM.checkedProductCodes.length==0">提交新品审核<span ng-bind="'('+listVM.checkedProductCodes.length+')'" ng-if="listVM.checkedProductCodes.length>0" ng-cloak></span></button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th class="w40">
                            <label class="checkbox-inline i-checks i-checks-sm">
                                <input type="checkbox" ng-click="selectAll()" ng-checked="listVM.items.length >0 && listVM.checkedProductCodes.length == listVM.items.length" /><i></i>
                            </label>
                        </th>
                        <th>
                            图片
                        </th>
                        <th>
                            ESIN名称
                        </th>
                        <th class="pointer" ng-click="reSort('code')">ESIN编号<span class="fa m-l-2 text-sm {{sortClass('code')}}"></span></th>
                        <th class="pointer m-w100" ng-click="reSort('category_code')">产品品类<span class="fa m-l-2 text-sm {{sortClass('category_code')}}"></span></th>
                        <th class="m-w75">
                            供应商
                        </th>
                        <th class="w90">
                            细分SKU
                        </th>
                        <th class="pointer m-w100" ng-click="reSort('status')">审核类型<span class="fa m-l-2 text-sm {{sortClass('status')}}"></span></th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th class="pointer w130" ng-click="reSort('update_time')">修改时间<span class="fa m-l-2 text-sm {{sortClass('update_time')}}"></span></th>
                        <th class="w80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="12"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="12">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td>
                            <label class="checkbox-inline i-checks i-checks-sm" >
                                <input type="checkbox" ng-model="item.IsChecked" ng-disabled="(item.skuCount||0)==0" ng-click="processCheckedItem(item)" /><i></i>
                            </label>
                        </td>
                        <td class="v-middle">
                            <img ng-src="{{item.productPics|mainImgPath:'_70x70'}}" error-src="{{item.productPics|mainImgPath}}" alt="" class="list-img">
                        </td>
                        <td class="v-middle" ng-bind="item.enName"></td>
                        <td class="v-middle" ng-bind="item.code"></td>
                        <td class="v-middle" ng-bind="item.categoryName"></td>
                        <td class="v-middle">
                            {{item.supplierName}}
                            <p class="text-danger m-b-none text-xs" ng-if="item.supplierAuthStatus!=2" ng-cloak>{{item.supplierAuthStatus|certifStatus}}</p>
                        </td>
                        <td class="v-middle">
                            <span ng-if="(item.skuCount||0)>0" ng-cloak>含<span class="text-info m-l-1 m-r-1" ng-bind="item.skuCount"></span>SKU</span>
                            <span ng-if="(item.skuCount||0)==0" ng-cloak>无SKU</span>
                        </td>
                        <td class="v-middle" ng-bind="item.status|meta:listVM.esinStatusList"></td>
                        <td class="v-middle" ng-bind="item.productOptHistoryVO.operator"></td>
                        <td class="v-middle" ng-bind="item.productOptHistoryVO.operationTime|exDate:'yyyy-MM-dd HH:mm'"></td>
                        <td class="v-middle" ng-bind="item.updateTime|exDate:'yyyy-MM-dd HH:mm'"></td>
                        <td class="v-middle">
                            <a href ng-click="editProduct(item.code)" class="fa fa-edit text-sm" title="修改ESIN信息"> 修改</a>
                            <a href ng-click="viewProduct(item.code)" class="fa fa-file-text-o text-sm" title="查看ESIN详细信息"> 查看</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <sl-page-size-changer class="m-r-xs" total-items="listVM.paginate.totalItemsCount" ng-model="listVM.condition.pageSize" ng-change="pageChanged()">
                    </sl-page-size-changer>
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.condition.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
