<div class="panel panel-default">
    <div class="panel-heading font-bold">
        <span ng-bind="skusVM.title"></span> 
        <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="view.loading" ng-cloak></i>
    </div>
    <div class="panel-body">
        <table class="table table-striped m-b-none">
            <thead>
                <tr>
                    <!-- <th ng-repeat="item in skusVM.data.skus[0].productAttrss" ng-if="item.nsStandard" ng-bind="item.attributeName"></th> -->
                    <th>SKU名称</th>
                    <th>SKU编号</th>
                    <th>货号</th>
                    <th>规格属性</th> 
                    <th>查看</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in skusVM.data.skus">
                    <!-- <td ng-repeat="att in item.productAttrss" ng-if="att.nsStandard" ng-bind="att.attributeVal+(att.suffix?att.suffix:'')"></td> -->
                    <td ng-bind="item.enName"></td>
                    <td ng-bind="item.code"></td>
                    <td ng-bind="item.supplierSku"></td>
                    <td>
                        <span class="m-r-xs" ng-repeat="att in item.productAttrss" ng-bind="att.attributeVal+(att.suffix?att.suffix:'')" ng-if="att.nsStandard" ng-cloak></span>
                    </td>
                    <td>
                        <!-- <label ng-bind="item.hasCustom?'自定义':'默认'"></label> -->
                        <button class="btn btn-default btn-xs m-l-xs" ng-click="viewCustomAttribute(item)">
                            <i class="fa fa-file-text-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="back()">返回列表</button>
    </div>
</div>
