<form name="pageForm" class="bs-example form-horizontal" ng-submit="ok(pageForm.$valid)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="recommendVM.title"></h3>
    </div>
    <div class="modal-body p-r">
        <div class="form-group">
            <label class="col-lg-2 control-label">编号</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="recommendVM.data.code" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">名称</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="recommendVM.data.name" required maxlength="36">
            </div>
        </div>
        <fieldset ng-disabled="recommendVM.data.id">
            <div class="form-group">
                <label class="col-lg-2 control-label text-danger">类型</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="recommendVM.data.type" ng-change="typeChanged()" ng-options="item.value as item.text for item in recommendVM.typeList" required>
                        <option value="">- 请选择 -</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-group"  ng-if="recommendVM.data.type == 5">
        	<label class="col-lg-2 control-label text-danger">品类</label>
            <div class="col-lg-10">
                <select class="form-control" ng-model="recommendVM.data.categoryCode" ng-options="item.code as item.name for item in recommendVM.categoryList" required="">
                    <option value="">- {{recommendVM.categoryList.length == 0 ? '加载中' : '请选择'}} -</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">备注</label>
            <div class="col-lg-10">
                <textarea class="form-control" ng-model="recommendVM.data.remarks" maxlength="100"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="recommendVM.processing||pageForm.$invalid">
            <span class="w2em" ng-if="!recommendVM.processing" ng-cloak>保存</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="recommendVM.processing" ng-cloak></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
