<div class="header">
    <h2><i class="fa fa-dashboard"></i>出款指令详情</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>出款指令详情</div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-md-12 portlets">
                    <table class="table table-bordered th-right">
                        <tbody>
                            <tr>
                                <th class='w-120'>
                                    出款指令编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.id"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    出款类型
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.fundOutType"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    出款金额
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.amount"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    状态
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.statusName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    发起方编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.referenceId"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    银行账户名称
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankAccountName"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    银行名称
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    银行账户
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankAccount"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    银行所在省份
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankProvince"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    银行所在城市
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankCity"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    开户支行名称
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.workspace9"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    出款渠道
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.exeChannel"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    外部参考凭证
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.externalRef"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    执行日期
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.exeDate|exDate"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    执行人
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.exeOp"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    审核人
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.checkOp"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    创建时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.createDatetime|exDate:'yyyy-MM-dd HH:mm:ss'"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    更新时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.updateDatetime|exDate:'yyyy-MM-dd HH:mm:ss'"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    备注
                                </th>
                                <td>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.memo"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-5">
            <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
        </div>
    </div>
</div>
