<div class="panel panel-default">
    <div class="panel-heading font-bold">
        <span class="panel-title" ng-bind="title"></span>
        添加活动<i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="loading" ng-cloak></i>
    </div>
    <div class="panel-body">
        <form id="form" name="form" class="form-horizontal"novalidate>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label text-danger">
                    活动名称
                </label>
                <div class="col-sm-4" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                    <input type="text" autocomplete="off" class="form-control" name="name" id="name" required maxlength="50" ng-model="active.name" />
                    <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">必填项！</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : demoform.name.$invalid && !demoform.name.$pristine }">
                <label for="startTime" class="col-sm-2 control-label text-danger">
                    生效时间
                </label>
                <div class="col-sm-10" ng-class="{ 'has-error' : form.startTime.$invalid && !form.startTime.$pristine }">
                    <div class="input-group w-md">
                        <input type="text" id="startTime" name="startTime" readonly class="form-control txt-ro" datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-model="active.startTime" is-open="active.beginDateOpened" min-date="minDate" datepicker-options="dateOptions" close-text="关闭" ng-click="openBeginDate($event)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <p ng-show="form.startTime.$invalid && !form.startTime.$pristine" class="help-block">必填项！</p>
                </div>
            </div>
            <div class="form-group">
                <label for="endTime" class="col-sm-2 control-label text-danger">
                    失效时间
                </label>
                <div class="col-sm-10" ng-class="{ 'has-error' : form.endTime.$invalid && !form.endTime.$pristine }">
                    <div class="input-group w-md">
                        <input type="text" id="endTime" name="endTime" readonly class="form-control txt-ro" datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-model="active.endTime" is-open="active.endDateOpened" min-date="minDate" datepicker-options="dateOptions" close-text="关闭" ng-click="openEndDate($event)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <p ng-show="form.endTime.$invalid && !form.endTime.$pristine" class="help-block">必填项！</p>
                </div>
            </div>
            <div class="form-group">
                <label for="minPrice" class="col-sm-2 control-label">
                    订单金额限制
                </label>
                <div class="col-sm-4">
                    <input type="text" autocomplete="off" class="form-control" name="minPrice" id="minPrice" maxlength="50" ng-model="active.minPrice" />
                </div>
                <span class="help-block m-b-none">美元以上</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    促销类型
                </label>
                <div class="col-sm-10" ng-init="active.type = 1">
                    <div class="radio-inline" style="padding-left:0px !important;">
                        <label class="i-checks i-checks-sm">
                            <input type="radio" name="type" ng-model="active.type" ng-checked="true" ng-value="1">
                            <i></i> 满金额减免
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="i-checks i-checks-sm">
                            <input type="radio" name="type" ng-model="active.type" ng-value="2">
                            <i></i> 满金额享受折扣
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="i-checks i-checks-sm">
                            <input type="radio" name="type" ng-model="active.type" ng-value="3">
                            <i></i> 样品包邮
                        </label>
                    </div>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div ng-if="active.type == 1">
                <div class="form-group">
                    <label for="reducePrice" class="col-sm-2 control-label text-danger">
                        减免现金
                    </label>
                    <div class="col-sm-4"  ng-class="{ 'has-error' : form.reducePrice.$invalid && !form.reducePrice.$pristine }">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="active.reducePrice" name="reducePrice" id="reducePrice"
                                   ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                            <span class="input-group-addon">美元</span>
                        </div>
                        <p ng-show="form.reducePrice.$invalid && !form.reducePrice.$pristine" class="help-block">必填项！</p>
                    </div>
                </div>
            </div>
            <div ng-if="active.type == 2">
                <div class="form-group">
                    <label for="discount" class="col-sm-2 control-label text-danger">
                        折扣幅度
                    </label>
                    <div class="col-sm-4" ng-class="{ 'has-error' : form.discount.$invalid  && !form.discount.$pristine }">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="active.discount" id="discount" name="discount" ng-pattern="/^[1-9]\d*$/" required>
                            <span class="input-group-addon">%</span>
                        </div>
                        <p ng-show="form.discount.$invalid  && !form.discount.$pristine" class="help-block">请输入正整数！</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxAmount" class="col-sm-2 control-label text-danger">
                        减免上限
                    </label>
                    <div class="col-sm-4" ng-class="{ 'has-error' : form.maxAmount.$invalid  && !form.maxAmount.$pristine }">
                        <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="active.maxAmount" id="maxAmount" name="maxAmount" ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                            <span class="input-group-addon">美元</span>
                        </div>
                        <p ng-show="form.maxAmount.$invalid  && !form.maxAmount.$pristine" class="help-block">输入小数，精确到小数点后2位！</p>
                    </div>
                </div>
            </div>
            <div ng-if="active.type == 3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" ng-click="open()" class="btn btn-primary btn-xs m-l-xs" >添加商品</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>商品名称</th>
                                <th>商品编号</th>
                                <th>规格</th>
                                <th class="w80">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="!goodsList&&goodsList.length==0" ng-cloak>
                                <td class="text-center" colspan="10">暂无数据</td>
                            </tr>
                            <tr ng-repeat="item in goodsList">
                                <td class="v-middle" ng-bind="$index+1"></td>
                                <td class="v-middle" ng-bind="item.name"></td>
                                <td class="v-middle" ng-bind="item.code"></td>
                                <td class="v-middle" ng-bind="item.categoryName"></td>
                                <td class="v-middle">
                                    <a ng-href="" ng-click="deleteGoods($index)" class="fa fa-trash-o" title="删除"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-disabled="isSaving" ng-click="save()">
                        <span>保存品类</span>
                    </button>
                    <button type="button" class="btn btn-default m-l-sm" ng-click="back()">
                        返回列表
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

