<div class="modal-header">
    <h3 class="modal-title">选择促销商品</h3>
</div>
<div class="modal-body">
    <div class="wrapper-md">
        <form ng-submit="page(1)" novalidate>
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group m-b" style="width:100% !important;">
                        <span class="input-group-addon">商品品类</span>
                    <span class="form-control btn btn-default tl" data-toggle="dropdown">
                        <span ng-bind="listVM.condition.categoryName"></span>
                    <i class="caret pull-right"></i>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" ng-click="clearCategory()" class="btn btn-default no-border-l">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                        <div class="dropdown-menu" style="width:100%;max-height:300px;overflow:auto;">
                            <span class="p-5" ng-show="treeData.initializing" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
                            <ul ng-show="!treeData.initializing" ng-cloak stop-propagation class="ztree" setting="treeData.settings" z-tree></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-r-none">
                    <div class="input-group m-b">
                        <span class="input-group-addon">ESIN名称</span>
                        <input type="text" class="form-control" ng-model="listVM.condition.esinName" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group m-b">
                        <span class="input-group-addon">ESIN编号</span>
                        <input type="text" class="form-control" ng-model="listVM.condition.esinCodes" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-r-none">
                    <div class="input-group m-b">
                        <span class="input-group-addon">SKU名称</span>
                        <input type="text" class="form-control" ng-model="listVM.condition.itemName" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group m-b">
                        <span class="input-group-addon">SKU编号</span>
                        <input type="text" class="form-control" ng-model="listVM.condition.itemCodes" />
                    </div>
                </div>
                <div class="col-md-2 p-r-none">
                    <div class="input-group m-b">
                        <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                            <span class="w2em" ng-if="!listVM.loading" ng-cloak>查询</span>
                            <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.loading" ng-cloak></i>
                        </button>
                        <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th class="w40">
                            <label class="checkbox-inline i-checks i-checks-sm">
                                <input type="checkbox" ng-click="selectAll()" ng-checked="listVM.items.length >0 && listVM.checkedGoodsCodes.length == listVM.items.length" /><i></i>
                            </label>
                        </th>
                        <th class="w150">商品名称</th>
                        <th class="w140">商品编号</th>
                        <th>ESIN编号</th>
                        <th class="w90">FOB价格</th>
                        <th class="w150">阶梯价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="10"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="10">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items" repeat-done="showPopver()">
                        <td>
                            <label class="checkbox-inline i-checks i-checks-sm">
                                <input type="checkbox" ng-model="item.IsChecked" ng-click="processCheckedItem(item)" /><i></i>
                            </label>
                        </td>
                        <td class="v-middle" ng-bind="item.name"></td>
                        <td class="v-middle" ng-bind="item.code"></td>
                        <td class="v-middle" ng-bind="item.esinCode"></td>
                        <td class="v-middle" ng-bind="item.priceInfo.fobPrice"></td>
                        <td class="v-middle">
                            <div ng-if="item.priceInfo.prices != null && item.priceInfo.prices.length > 0">
                                <div  name="popovers-demo1" data-trigger="hover" data-toggle="popover" data-placement="top"
                                      data-content={{item.text}} data-html="true"
                                      data-title="" data-original-title="" title="">
                                    ${{item.priceInfo.prices[0].fobPrice}}&#45;&#45;${{item.priceInfo.prices[item.priceInfo.prices.length-1].fobPrice}}
                                </div>
                            </div>
                            <div ng-if="item.priceInfo.prices == null">无</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
                <div class="row">
                    <div class="col-sm-12 text-right text-center-xs">
                        <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>