<div class="modal-header">
    <h3 class="modal-title">上级品类</h3>
</div>
<div class="modal-body">
    <div class="input-group m-b" style="width:100% !important;">
                            <span class="form-control btn btn-default tl" data-toggle="dropdown">
                                <span ng-bind="categoryName"></span>
                                <i class="caret pull-right"></i>
                            </span>
        <div class="dropdown-menu" style="width:100%;max-height:300px;overflow:auto;">
            <span class="p-5" ng-show="treeData.loading" ng-cloak><i class="fa fa-spin fa-spinner text-lg"></i></span>
            <ul id="treeChoice" ng-show="!treeData.loading" ng-cloak stop-propagation class="ztree" setting="treeData2.settings" z-tree></ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>