<div class="wrapper-md panel panel-default m-b-none">
    <div class="panel-headding font-bold m-b-sm text-lg" ng-bind="authorizeVM.title"></div>
    <div class="row m-r-none">
        <div class="col-md-12 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">岗位</span>
                <select class="form-control" ng-model="authorizeVM.condition.roleId" ng-options="o.id as o.roleName for o in defaultRoles" ng-change="page(1)">
                    <option value="" default>- 请选择 -</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th class="text-center w40">
                        <label class="px-single">
                            <input type="checkbox" class="px" name=='allcheck' id="'allcheck'"  ng-click="selectAll()" ng-checked="checkedPermissionIds.length>0&&checkedPermissionIds==authorizeVM.items.length" /><span class="lbl"></span></label>
                    </th>
                    <th>
                        编号
                    </th>
                    <th>
                        权限名称
                    </th>
                    <th>
                        菜单链接
                    </th>
                    <th>
                        权限标识
                    </th>
                    <th>
                        序号
                    </th>
                    <th>
                        创建时间
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="authorizeVM.searching" ng-cloak>
                    <td class="text-center" colspan="7"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                    </td>
                </tr>
                <tr ng-if="!authorizeVM.searching&&authorizeVM.items.length==0" ng-cloak>
                    <td class="text-center" colspan="7">暂无数据</td>
                </tr>
                <tr ng-repeat="item in authorizeVM.items">
                    <td class="text-center w10">
                        <label class="px-single">
                            <input type="checkbox" class="px" ng-model="item.IsChecked" ng-click="processCheckedItem(item)" /><span class="lbl"></span></label>
                    </td>
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.name"></td>
                    <td ng-bind="item.href_url"></td>
                    <td ng-bind="item.permission"></td>
                    <td ng-bind="item.sort"></td>
                    <td ng-bind="item.createTime|date:'yyyy-MM-dd hh:mm:ss'"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="panel-footer" ng-show="authorizeVM.paginate.totalItemsCount>0" ng-cloak>
        <div class="row">
            <div class="col-sm-12 text-right text-center-xs">
                <pagination total-items="authorizeVM.paginate.totalItemsCount" items-per-page="authorizeVM.paginate.pageSize" ng-change="pageChanged()" ng-model="authorizeVM.paginate.pageNumber" is-paging="authorizeVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
            </div>
        </div>
    </footer>
    <div class="row text-right m-r-none">
        <form name="roleform" method="post" ng-submit="save(roleform.$valid)" novalidate>
            <div class="form-group">
                <button type="submit" class="btn btn-primary m-r-xs" ng-disabled="!authorizeVM.condition.roleId||checkedPermissionIds.length==0||authorizeVM.saving">
                    <span ng-bind="authorizeVM.saving?'正在授权':'确认授权'"></span>
                </button>
                <button type="button" class="btn btn-default ml5" ng-click="cancel()">
                    返回列表
                </button>
            </div>
        </form>
    </div>
</div>
