<div class="wrapper-md">
    <form ng-submit="page(1)" novalidate>
        <div class="row">
            <div class="col-md-9 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">岗位</span>
                    <select class="form-control" id="roleId" ng-model="listVM.condition.roleId" ng-options="o.id as o.roleName for o in defaultRoles">
                        <option value="" default>- 请选择 -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                    <span class="w2em" ng-if="!listVM.searching" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.searching" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
                <button type="button" class="btn btn-success m-l-xs m-b pull-right" ng-click="add()">授权</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            权限编号
                        </th>
                        <th>
                            权限名称
                        </th>
                        <th>
                            权限菜单
                        </th>
                        <th>
                            权限标识
                        </th>
                        <th>
                            岗位编号
                        </th>
                        <th>
                            岗位名称
                        </th>
                        <th class="w60">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="8"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="8">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td ng-bind="item.id"></td>
                        <td ng-bind="item.permissionId"></td>
                        <td ng-bind="item.permissionName"></td>
                        <td ng-bind="item.menu"></td>
                        <td ng-bind="item.permission"></td>
                        <td ng-bind="item.roleId"></td>
                        <td ng-bind="item.roleName"></td>
                        <td class="v-middle">
                            <a href ng-click="del(item)" class="fa fa-trash-o text-sm m-l-xs" title="删除"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
