<div class="header">
    <h2><i class="fa fa-dashboard"></i>出款明细</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>出款明细</div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-md-12 portlets">
                    <table class="table table-bordered th-right">
                        <tbody>
                            <tr>
                                <th class='w-120'>
                                    编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.id"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    出款类型
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.fundOutTypeName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    账户名称
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankAccountName"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    卡号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankAccount"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    银行
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    开户支行名称
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.bankBranchName"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    省份
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.provinceName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    地市
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.cityName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    出款金额
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.amount"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    状态
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.statusName"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    备注
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.memo"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    创建时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.createDatetime"></label>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-5">
            <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
        </div>
    </div>
</div>
