<div class="header">
    <h2><i class="fa fa-dashboard"></i>提现出款监控</h2>
</div>
<div class="row">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">批次号</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.batchCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">提现渠道</span>
                                <select class="form-control form-white" ng-model="listView.condition.exechannel" ng-options='s.value as s.text for s in listView.channel'>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">发送状态</span>
                                <select class="form-control form-white" ng-model="listView.condition.exeStatus" ng-options='s.value as s.text for s in listView.execStatus'>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">创建日期</span>
                                <div class="input-group">
                                    <div>
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.data.creation" is-open="creationOpened" datepicker-options="dateOptions" close-text="关闭" ng-click="creationOpened=true" />
                                    </div>
                                    <span class="input-group-addon">~</span>
                                    <div>
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.data.finish" is-open="finishOpened" datepicker-options="dateOptions" close-text="关闭" ng-click="finishOpened=true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">回执日期</span>
                                <div class="input-group">
                                    <div>
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.data.creation2" is-open="creation2Opened" datepicker-options="dateOptions" close-text="关闭" ng-click="creation2Opened=true" />
                                    </div>
                                    <span class="input-group-addon">~</span>
                                    <div>
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listVM.data.finish2" is-open="finish2Opened" datepicker-options="dateOptions" close-text="关闭" ng-click="finish2Opened=true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">回执状态</span>
                                <select class="form-control form-white" ng-model="listView.condition.receiptStatus" ng-options='s.value as s.text for s in listView.receiptStatus'>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-md-offset-5">
                    <div class="form-group col-md-4">
                        <button class="btn btn-info">查找</button>
                        <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 m-b-10">
        <!--<button type="button" class="btn btn-success btn-xs" ng-click="listVM.check()"><i class="fa fa-search m-r-5"></i>查看明细</button>-->
        <!--<button type="button" class="btn btn-success btn-xs" ng-click="listVM.senf()"><i class="fa fa-mail-forward m-r-5"></i>重新发送</button>-->
        <!--<button type="button" class="btn btn-success btn-xs" ng-click="listVM.receipt()"><i class="fa fa-mail-forward m-r-5"></i>回执对账</button>-->
        <button type="button" class="btn btn-success btn-xs" ng-click="checkRow()"><i class="fa fa-cloud-download m-r-5"></i>下载</button>
    </div>
</div>
<table id="withdrawCashMonitorTable" table-full-size bs-table-control="bsWithdrawCashMonitorTableControl"></table>

