<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-3 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">买家邮箱</span>
                <input type="text" class="form-control" placeholder="买家邮箱" ng-model="view.condition.userEmail" />
            </div>
        </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">商品名称</span>
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="view.condition.productName" />

                </div>
                <!--<div class="input-group m-b">-->
                    <!--<span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp至&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
                    <!--<input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"-->
                           <!--ng-model="view.condition.dateTo" is-open="listVM.endDateOpened" min-date="minDate"-->
                           <!--datepicker-options="dateOptions" close-text="关闭" ng-click="openEndDate($event)" />-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
            </div>

            <!--<div class="col-md-3 p-r-none">-->
                <!--<div class="input-group m-b">-->
                    <!--<span class="input-group-addon">注册状态</span>-->
                    <!--<select name="searchRegStatus" class="form-control"  ng-model="view.condition.regStatus" ng-options="item.value as item.text for item in view.buyerRegStatus" >-->
                        <!--<option value=''>- 请选择 -</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="input-group m-b">-->
                    <!--<span class="input-group-addon">国家</span>-->
                    <!--<input type="text" class="form-control" placeholder="国家" ng-model="view.condition.countryCode" />-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-3 p-r-none">
                <!--<div class="input-group m-b">-->
                    <!--<span class="input-group-addon">用户状态</span>-->
                    <!--<select name="searchcategory" class="form-control"  ng-model="view.condition.flagEnable" ng-options="item.value as item.text for item in view.buyerEnableFlag" >-->
                        <!--<option value=''>- 请选择 -</option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="input-group m-b">
                    <button type="submit" class="btn btn-primary" ng-disabled="view.loading">
                        查询
                    </button>
                    <button type="button" class="btn btn-default m-l-xs" ng-click="reset()">
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <!--th>序号</th-->
                        <th class="w100">买家邮箱</th>
                        <th class="w100">产品名称</th>
                        <th class="w100">产品描述</th>
                        <th>购买数量</th>
                        <th class="w100">提交日期</th>
                        <th class="w100">过期日期</th>
                        <th class="w100">回复日期</th>
                        <th>Icon term</th>
                        <th class="w100">目标价位</th>
                        <th>Ship To</th>
                        <th>Ship Method</th>
                        <th>付款方式</th>
                        <th>用户授权</th>
                        <th>File-Link</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="view.loading" ng-cloak>
                        <td class="text-center" colspan="11">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!view.loading && (!view.result.Items||view.result.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="11">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in view.result.Items">
                        <td>
                            {{item.userEmail}}
                        </td>
                        <td>
                            {{item.productName}}
                        </td>
                        <td>
                            {{item.productDescription}}
                        </td>
                        <td>
                            {{item.purchaseQuantity}}
                        </td>
                        <td>
                            {{item.createTime |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.expiredDate |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.updateTime |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.shipmentTerms}}
                        </td>
                        <td>
                            {{item.targetPrice}}
                        </td>
                        <td>
                            {{item.shipTo}}
                        </td>
                        <td>
                            {{item.shipMethod}}
                        </td>
                        <td>
                            {{item.paymentTerms}}
                        </td>
                        <td>
                            {{item.supplierCertification}}
                        </td>
                        <td>
                            <a ng-click='open(item.relevantFile)' class="fa fa-file" title="附件下载"></a>
                        </td>
                        <td>
                            <a ng-click='finish(item.id)' class="fa fa-bell" title="结束询盘" ng-if="item.status==0"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="view.result.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="view.result.TotalCount" items-per-page="view.result.PageSize"
                                ng-change="page(view.result.PageIndex)" ng-model="view.result.PageIndex"
                                is-paging="view.loading"
                                max-size="5" boundary-links="true" rotate="false">

                    </pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
