<div class="header">
    <h3><i class="fa fa-dashboard m-r-5"></i>关键数据</h3>
    <div class="header-right text-md">
        <div class="label label-success">今日</div>
        <div class="label label-warning">本周</div>
        <div class="label label-danger">本月</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> 项目监控</h3>
            </div>
            <div class="panel-content">
                <ul class="todo-list">
                    <li>
                        <div>项目列表</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>还款中: <span class="label label-success">2</span></span>
                                <span>发布中: <span class="label label-success">5</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div>发布审核</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>新建项目: <span class="label label-warning">12</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="medium">
                        <div>结标审核</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>投标完成: <span class="label label-warning">22</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> 投资人监控</h3>
            </div>
            <div class="panel-content">
                <ul class="todo-list">
                    <li>
                        <div>提现审核</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>提现申请: <span class="label label-success">28</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div>充值列表</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>失败: <span class="label label-danger">1</span></span>
                                <span>待支付: <span class="label label-warning">2</span></span>
                                <span>待确认: <span class="label label-warning">3</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="medium">
                        <div>投标列表</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>待结标: <span class="label label-warning">3</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> 日志监控</h3>
            </div>
            <div class="panel-content">
                <ul class="todo-list">
                    <li>
                        <div>定时任务日志</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>运行异常: <span class="label label-danger">2</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div>在线投资人监控</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>在线投资人: <span class="label label-success">12</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> 资金监控</h3>
            </div>
            <div class="panel-content">
                <ul class="todo-list">
                    <li>
                        <div>满标出款</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>项目待出款: <span class="label label-warning">2</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="low">
                        <div>提现出款</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>提现待出款: <span class="label label-warning">2</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="medium">
                        <div>划款打印</div>
                        <div class="todo-right pull-right">
                            <div>
                                <span>2T7I/E: <span class="label label-warning">22</span></span>
                                <span>2T4: <span class="label label-warning">22</span></span>
                                <span>2T3: <span class="label label-warning">22</span></span>
                                <span>2T6: <span class="label label-warning">22</span></span>
                                <span>2T1: <span class="label label-warning">22</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
