<div class="header">
    <span class="f-18">关键数据</span>
    <span class="f-12">（以下数据从2016年8月8日开始统计，近7日/30日不包括今日）</span>
    <div class="header-right text-md">
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default" ng-class="{'btn-success': dashboardVM.dataRange==1}" ng-click="dashboardVM.changeDataRange(1)">今日</button>
            <button type="button" class="btn btn-xs btn-default" ng-class="{'btn-success': dashboardVM.dataRange==2}" ng-click="dashboardVM.changeDataRange(2)">本周</button>
            <button type="button" class="btn btn-xs btn-default" ng-class="{'btn-success': dashboardVM.dataRange==3}" ng-click="dashboardVM.changeDataRange(3)">本月</button>
        </div>
    </div>
</div>
<div class="row m-t-60 bold">
	<div class="col-md-3 text-center">
		<span>交易总额(元)</span>
		<p class="c-orange m-t-10">10,025,976</p>
	</div>
	<div class="col-md-3 text-center">
		<span>交易总笔数(笔)</span>
		<p class="c-orange m-t-10">6178</p>
	</div>
	<div class="col-md-3 text-center">
		<span>赎回资金(元)</span>
		<p class="c-orange m-t-10">589,312</p>
	</div>
	<div class="col-md-3 text-center">
		<span>赎回利息(元)</span>
		<p class="c-orange m-t-10">36,065</p>
	</div>
</div>
<div class="header m-t-60">
    <span class="f-18">每日趋势数据</span>
</div>