<div class="panel panel-default m-b-none">
    <form name="pwdform" method="post" ng-submit="save(pwdform.$valid)" novalidate>
        <div class="panel-heading font-bold">
            <i class="fa fa-key"></i>
            <span ng-bind="pwdVM.title"></span>
            <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="pwdVM.loading" ng-cloak></i>
        </div>
        <div class="panel-body">
            <div class="row" ng-class="{true:'has-error'}[(pwdform.oriPsd.$dirty||pwdVM.submitted)&&pwdform.oriPsd.$error.required]">
                <div class="col-sm-2 text-right font-bold m-t-xs">原始密码</div>
                <div class="col-sm-5">
                    <input type="password" name="oriPsd" required autocomplete="off" class="form-control" maxlength="50" ng-model="pwdVM.data.oriPsd" />
                </div>
                <div class="col-sm-5 m-t-xs">
                    <span class="text-danger" ng-if="(pwdform.oriPsd.$dirty||pwdVM.submitted)&&pwdform.oriPsd.$error.required" ng-cloak>
                        请输入原始密码！
                    </span>
                </div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row" ng-class="{true:'has-error'}[(pwdform.newPsd.$dirty||pwdVM.submitted)&&pwdform.newPsd.$error.required]">
                <div class="col-sm-2 text-right font-bold m-t-xs">新密码</div>
                <div class="col-sm-5">
                    <input type="password" name="newPsd" required autocomplete="off" class="form-control" ng-model="pwdVM.data.newPsd" />
                </div>
                <div class="col-sm-5 m-t-xs">
                    <span class="text-danger m-t-xs" ng-if="(pwdform.newPsd.$dirty||pwdVM.submitted)&&pwdform.newPsd.$error.required" ng-cloak>
                        请输入新密码！
                    </span>
                </div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row" ng-class="{true:'has-error'}[pwdVM.submitted&&!confirmPswValid()]">
                <div class="col-sm-2 text-right font-bold m-t-xs">确认密码</div>
                <div class="col-sm-5">
                    <input type="password" name="confirmPsw" autocomplete="off" class="form-control" ng-model="pwdVM.data.confirmPsw" />
                </div>
                <div class="col-sm-5 m-t-xs">
                    <span class="text-danger" ng-if="pwdVM.submitted&&!confirmPswValid()" ng-cloak>
                        两次密码不一致！
                    </span>
                </div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-r-sm" ng-disabled="pwdVM.saving||pwdform.$invalid||pwdVM.data.newPsd!=pwdVM.data.confirmPsw">
                        <span class="w4em" ng-if="!pwdVM.saving" ng-cloak>修改密码</span>
                        <i class="fa fa-spin fa-spinner w4em" ng-if="pwdVM.saving" ng-cloak></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
