<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-sm-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">标题</span>
                    <input type="text" class="form-control" placeholder="标题" ng-model="condition.title" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">公司名称</span>
                    <input type="text" class="form-control" placeholder="公司名称" ng-model="condition.supplierName" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group m-b">
                    <span class="input-group-addon">类型</span>
                    <select ng-model="condition.type" class="form-control" ng-options="item.Id as item.Name for item in feedbackType">
                        <option value="" default>- 请选择 -</option>
                    </select>
                    <ex-singleselect model="condition.type" options="feedbackType" style="width: 120"></ex-singleselect>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" ng-disabled="view.loading">
                    查询
                </button>
                <button type="button" class="btn btn-default m-l-xs" ng-click="reset()">
                    重置
                </button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>公司名称</th>
                        <th>类型</th>
                        <th>提交时间</th>
                        <th>备注</th>
                        <th>备注人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="view.loading" ng-cloak>
                        <td class="text-center" colspan="7">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!view.loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="7">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.supplierName}}
                        </td>
                        <td>
                            {{item.type}}
                        </td>
                        <td>
                            {{item.feedbackTime | date:'yyyy-MM-dd HH:mm:ss' }}
                        </td>
                        <td>
                            {{item.handleVerified}}
                        </td>
                        <td>
                            {{item.handleUser}}
                        </td>
                        <td>
                            <a ng-click='gotoPage("supplier.feedback.detail",item.id)' class="fa fa-edit" title="编辑"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="view.loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>