<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">名称</span>
                    <input type="text" class="form-control" placeholder="产品库名称" ng-model="condition.name" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">说明</span>
                    <input type="text" class="form-control" placeholder="产品库说明" ng-model="condition.des" />
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">启用</span>
                    <select class="form-control input-sm" ng-model="condition.isValid">
                        <option value="" ng-selected="!condition.isValid">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                    <span class="w2em" ng-if="!loading" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="loading" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a ui-sref="pc.warehouse.add" class="btn btn-primary btn-xs">添加</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th class="pointer m-w100" ng-click="reSort('name')">产品库名称<span class="fa m-l-2 text-sm {{sortClass('name')}}"></span>
                            <!--<a ng-href="" class="fa m-l-xs text-sm text-success fa-caret-up" ng-click="doSort('asc','name')" title=""></a>
                            <a ng-href="" class="fa m-l-xs text-sm text-success fa-caret-down" ng-click="doSort('desc','name')" title=""></a>-->
                        <th class="pointer m-w100" ng-click="reSort('des')">产品库说明<span class="fa m-l-2 text-sm {{sortClass('des')}}"></span>
                        <th class="pointer m-w100" ng-click="reSort('is_valid')">是否启用<span class="fa m-l-2 text-sm {{sortClass('is_valid')}}"></span>
                        <th style="width:80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="loading" ng-cloak>
                        <td class="text-center" colspan="4"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="4">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.des}}
                        </td>
                        <td>
                            <span ng-switch on="item.isValid">
                            <span ng-switch-when="0">否</span>
                            <span ng-switch-when="1">是</span>
                            </span>
                        </td>
                        <td class="text-bg">
                            <a ui-sref="pc.warehouse.edit({code:item.code})" class="fa fa-edit" title="编辑"></a>
                            <span class="text-danger ml5">
                                <a ng-href="" ng-click="delWarehouse(item)" ng-if="item.isValid==0" class="fa fa-trash-o" title="删除"></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
