<div class="wrapper-md">
    <!--<div class="row">
        <form ng-submit="search()">
            <div class="col-md-4">
                <div class="input-group m-b">
                    <span class="input-group-addon">名称</span>
                    <input class="form-control" type="text" ng-model="listVM.condition.name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group m-b">
                    <span class="input-group-addon">状态</span>
                    <select class="form-control" ng-model="listVM.condition.status" ng-options="item.value as item.text for item in listVM.statusList">
                        <option value="">- 全部 -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.processing">
                    <span class="w2em" ng-if="!listVM.processing" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.processing" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
            </div>
        </form>
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            终端列表
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-success" ng-click="add()">新增</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" ng-model="listVM.checkedAll" ng-change="checkAll()"><i></i>
                            </label>
                        </th>
                        <th>终端编号</th>
                        <th>终端名称</th>
                        <th>业务渠道</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th style="width:130px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.processing" ng-cloak>
                        <td class="text-center" colspan="7"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!listVM.processing&&(!listVM.items||listVM.items.length==0)" ng-cloak>
                        <td class="text-center" colspan="7">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td>
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" checklist-model="listVM.selectedList" checklist-value="item.id" /><i></i></label>
                        </td>
                        <td ng-bind="item.code"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.channel|meta:listVM.channelList"></td>
                        <td ng-bind="item.createUserName"></td>
                        <td ng-bind="item.createTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td>
                            <a href class="btn btn-info btn-xs" ng-click="edit(item)">修改</a>
                            <a class="btn btn-info btn-xs" ui-sref="page.list({t: item.code})">页面管理</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItems>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItems" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.currentPage" is-paging="listVM.processing" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
