<style type="text/css">
.red_bt {
    vertical-align: sub;
    font-size: 16px;
    color: red;
}

.mrt10 {
    margin-right: 10px;
}
</style>
<div class="panel panel-default form-horizontal">
    <div class="panel-heading font-bold">
        <span class="panel-title">买家信息</span>
        <div class="pull-right">
            <!--<button type="button" class="btn btn-primary btn-xs" ng-click="goPoList()">-->
                <!--查看订单-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-primary btn-xs m-l-xs" ng-click="goProdList()">-->
                <!--查看产品-->
            <!--</button>-->
            <button type="button" class="btn btn-default btn-xs m-l-xs" ng-click="back()">
                返回列表
            </button>
        </div>
    </div>
    <div class="panel-body">
            <form id="authform" name="authform" method="post" ng-submit="save(authform.$valid)" novalidate>
                <b><i class="fa fa-star m-r-xs"></i>基本信息</b>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        买家名称：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.buyerAccount.name" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        邮箱：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.buyerAccount.email" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        公司名称：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.buyerInfo.companyName" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        国家：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.countryCode" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        注册状态：
                    </label>
                    <div class="col-sm-6">
                        <div ng-repeat="obj in view.buyerRegStatus | filter:{value:(view.buyerAccount.regStatus==null?-1:view.buyerAccount.regStatus)}">
                            <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="obj.text" required>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        验证URL：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.URL" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        联系方式：
                    </label>
                    <div class="col-sm-6">
                        <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="view.buyerInfo.phoneNumber" required>
                    </div>
                </div>

                <b><i class="fa fa-star m-r-xs"></i>公司认证</b>
                <div class="line line-dashed b-b pull-in"></div>
                <div ng-repeat="obj in view.buyerCmpCert">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            认证： {{obj.certType}}
                        </label>
                        <div class="col-sm-6">
                            <input ng-disabled="true" type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="obj.value">
                        </div>
                    </div>
                </div>

                <b><i class="fa fa-star m-r-xs"></i>地址信息</b>
                <div class="line line-dashed b-b pull-in"></div>
                <div ng-repeat="obj in view.buyerAddress">
                    <div class="form-group" ng-init="obj.readOnly = true">
                        <label class="col-sm-2 control-label">
                            联系人：
                        </label>
                        <div class="col-sm-3">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="100" ng-model="obj.firstName" required/>
                        </div>
                        <label class="col-sm-1 control-label">
                            &nbsp;
                        </label>
                        <label class="col-sm-2 control-label">
                            默认地址：
                        </label>
                        <div class="col-sm-2" ng-if="obj.readOnly">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="50" ng-if="obj.flagDefaultAddress==0" value="N"/>
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="50" ng-if="obj.flagDefaultAddress==1" value="Y"/>
                        </div>
                        <div class="col-sm-2" ng-if="!obj.readOnly">
                            <select  class="form-control" ng-model="obj.flagDefaultAddress" ng-options="o.value as o.text for o in flagList"></select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" ng-click="editAddress(obj)">
                                编辑
                            </button>
                            <button ng-disabled="obj.readOnly" type="button" class="btn btn-primary" ng-click="saveAddress(obj)">
                                保存
                            </button>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">
                            公司名称：
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="500" ng-model="obj.company" required/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">
                            联系电话：
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="100" ng-model="obj.phoneNumber" required/>
                        </div>
                    </div>
                    <div ng-if="obj.readOnly">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                国家：
                            </label>
                            <div class="col-sm-2">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="200" ng-model="obj.countryCode" required/>
                            </div>
                            <label class="col-sm-2 control-label">
                                国家名称：
                            </label>
                            <div class="col-sm-4">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="200" ng-model="obj.countryName" required/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                省市：
                            </label>
                            <div class="col-sm-2">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="200" ng-model="obj.stateCode" required/>
                            </div>
                            <label class="col-sm-2 control-label">
                                省市名称：
                            </label>
                            <div class="col-sm-4">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="200" ng-model="obj.stateName" required/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                城市：
                            </label>
                            <div class="col-sm-2">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="10" ng-model="obj.cityCode" required/>
                            </div>
                            <label class="col-sm-2 control-label">
                                城市名称：
                            </label>
                            <div class="col-sm-4">
                                <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="200" ng-model="obj.cityName" required/>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!obj.readOnly">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                国家：
                            </label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="obj.countryCode" ng-options="item.countryCode as item.countryName for item in countryList" ng-change="changeCountry(obj)">
                                    <option value="" default>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                省市：
                            </label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="obj.stateCode" ng-options="item.stateCode as item.stateName for item in stateList" ng-change="changeState(obj)">
                                    <option value="" default>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                城市：
                            </label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="obj.cityCode" ng-options="item.cityCode as item.cityName for item in cityList" ng-change="changeCity(obj)">
                                    <option value="" default>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">
                            邮编：
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="10" ng-model="obj.zipCode" required/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">
                            地址详情：
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled="obj.readOnly" type="text" autocomplete="off" class="form-control" maxlength="500" ng-model="obj.addressLine" required/>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>
