<div class="wrapper-md">
    <div class="row">
        <form ng-submit="query()">
            <div class="col-md-3 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">SKU编号</span>
                <input type="text" class="form-control" placeholder="SKU名称" ng-model="listVM.condition.sku" />
            </div>
            <div class="input-group m-b">
                <span class="input-group-addon">生成日期&nbsp&nbsp&nbsp&nbsp从</span>
                <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                       ng-model="listVM.condition.dateFrom" is-open="listVM.beginDateOpened" min-date="minDate"
                       datepicker-options="dateOptions" close-text="关闭" ng-click="openBeginDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
            <div class="input-group m-b">
                <span class="input-group-addon">回复日期&nbsp&nbsp&nbsp&nbsp从</span>
                <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                       ng-model="listVM.condition.updateDateFrom" is-open="listVM.ResentBeginDateOpened" min-date="minDate"
                       datepicker-options="dateOptions" close-text="关闭" ng-click="openResentBeginDate($event)" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openResentBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">买家邮箱</span>
                    <input type="text" class="form-control" placeholder="买家邮箱" ng-model="listVM.condition.email" />

                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp至&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                           ng-model="listVM.condition.dateTo" is-open="listVM.endDateOpened" min-date="minDate"
                           datepicker-options="dateOptions" close-text="关闭" ng-click="openEndDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp至&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                           ng-model="listVM.condition.updateDateTo" is-open="listVM.ResentEndDateOpened" min-date="minDate"
                           datepicker-options="dateOptions" close-text="关闭" ng-click="openResentEndDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openResentEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <button type="submit" class="btn btn-primary" ng-disabled="!listVM.loading">
                        查询
                    </button>
                    <button type="button" class="btn btn-default m-l-xs" ng-click="reset()">
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>公司名称</th>
                        <th>客户名称</th>
                        <th>邮箱</th>
                        <th>SKU编号</th>
                        <th  class="w60">数量</th>
                        <th class="w100">发货方式</th>
                        <th class="w100">运输方式</th>
                        <th>运送地址</th>
                        <th>地址代码</th>
                        <th class="w100">询价类型</th>
                        <th class="w100">创建时间</th>
                        <th class="w100">回复时间</th>
                        <th class="w60">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!listVM.loading" ng-cloak>
                        <td class="text-center" colspan="11">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="11">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td>
                            {{item.companyName}}
                        </td>
                        <td>
                            {{item.customerName}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td>
                            {{item.sku}}
                        </td>
                        <td>
                            {{item.qty}}
                        </td>
                        <td>
                            {{item.shippingMethod}}
                        </td>
                        <td>
                            {{item.shipVia}}
                        </td>
                        <td ng-bind-html="item.shipTo">
                        </td>
                        <td>
                            {{item.shipToCode.split('|')[0]}}
                        </td>
                        <td>
                            {{item.requirement}}
                        </td>
                        <td>
                            {{item.createTime |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.updateTime |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            <a ng-click='finish(item)' class="fa fa-bell" title="结束询价" ng-if="item.status==0"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <sl-page-size-changer class="m-r-xs" total-items="listVM.paginate.totalItemsCount" ng-model="listVM.condition.pageSize" ng-change="pageChanged()">
                    </sl-page-size-changer>
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.condition.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
