<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page()">
            <div class="col-md-3 p-r-none">
            <div class="input-group m-b">
                <span class="input-group-addon">FirstName</span>
                <input type="text" class="form-control" placeholder="FirstName" ng-model="listVM.condition.firstName" />
            </div>
            <div class="input-group m-b">
                <span class="input-group-addon">日期&nbsp&nbsp&nbsp&nbsp从</span>
                <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                       ng-model="listVM.condition.dateFrom" is-open="listVM.beginDateOpened" min-date="minDate"
                       datepicker-options="dateOptions" close-text="关闭" ng-click="openBeginDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
            <div class="input-group m-b">
                <span class="input-group-addon">注册状态</span>
                <select name="searchRegStatus" class="form-control"  ng-model="listVM.condition.regStatus" ng-options="item.value as item.text for item in listVM.buyerRegStatus" >
                    <option value=''>- 请选择 -</option>
                </select>
            </div>
        </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">LastName</span>
                    <input type="text" class="form-control" placeholder="LastName" ng-model="listVM.condition.lastName" />
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp至&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <input type="text" readonly class="form-control txt-ro" datepicker-popup="{{format}}"
                           ng-model="listVM.condition.dateTo" is-open="listVM.endDateOpened" min-date="minDate"
                           datepicker-options="dateOptions" close-text="关闭" ng-click="openEndDate($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default no-border-l no-border-r" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon">用户状态</span>
                    <select name="searchcategory" class="form-control"  ng-model="listVM.condition.flagEnable" ng-options="item.value as item.text for item in listVM.buyerEnableFlag" >
                        <option value=''>- 请选择 -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">买家邮箱</span>
                    <input type="text" class="form-control" placeholder="买家邮箱" ng-model="listVM.condition.email" />
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon">国家</span>
                    <input type="text" class="form-control" placeholder="国家" ng-model="listVM.condition.countryCode" />
                </div>
                <div class="input-group m-b">
                    <button type="submit" class="btn btn-primary" ng-disabled="!listVM.loading">
                        查询
                    </button>
                    <button type="button" class="btn btn-default m-l-xs" ng-click="reset()">
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>买家邮箱</th>
                        <th>公司名称</th>
                        <th>注册日期</th>
                        <th>国家</th>
                        <th>电话</th>
                        <th>注册状态</th>
                        <th>账号状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!listVM.loading" ng-cloak>
                        <td class="text-center" colspan="10">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="10">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td>
                            {{item.firstName}}
                        </td>
                        <td>
                            {{item.lastName}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td>
                            {{item.companyName}}
                        </td>
                        <td>
                            {{item.createTime |exDate:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.countryCode}}
                        </td>
                        <td>
                            {{item.phoneNumber}}
                        </td>
                        <td>
                            <div ng-repeat="obj in listVM.buyerRegStatus | filter:{value:(item.regStatus==null?-1:item.regStatus)}">
                                {{obj.text}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="obj in listVM.buyerEnableFlag | filter:{value:item.flagEnable}">
                                {{obj.text}}
                            </div>
                        </td>

                        <td>
                            <a ui-sref="buyer.info.edit({id:item.id,listVM:listVM})" class="fa fa-edit m-r-xs" title="修改"></a>
                            <a ng-click='enable(item.id,true,item.flagEnable)' class="fa fa-eject" title="启用" ng-disabled="item.flagEnable==1"></a>
                            <a ng-click='enable(item.id,false,item.flagEnable)' class="fa fa-bell" title="禁用" ng-disabled="item.flagEnable==0"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <sl-page-size-changer class="m-r-xs" total-items="listVM.paginate.totalItemsCount" ng-model="listVM.condition.pageSize" ng-change="pageChanged()">
                    </sl-page-size-changer>
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.condition.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
