<style type="text/css">
    .red_bt {
        vertical-align: sub;
        font-size: 16px;
        color: red;
    }

    .mrt10 {
        margin-right: 10px;
    }
</style>
<!--<div ng-controller="supplierEditCtrl">-->
<!--<ul class="breadcrumb breadcrumb-page">-->
<!--<div class="breadcrumb-label text-light-gray">-->
<!--当前位置:-->
<!--</div>-->
<!--<li><i class="menu-icon fa fa-cogs mr5"></i>供应商列表</li>-->
<!--<li class="active"><i class="menu-icon fa fa-sitemap mr5"></i>供应商信息</li>-->
<!--</ul>-->
<div class="panel form-horizontal">
    <div class="panel-heading">
        <i class="menu-icon fa fa-sitemap mr5"></i><span class="panel-title">供应商信息</span>
    </div>
    <div class="panel-body">
        <div style="float:right;">
            <button type="button" class="btn btn-default ml5" ng-click="goPoList()">
                查看订单
            </button>
            <button type="button" class="btn btn-default ml5" ng-click="goProdList()">
                查看产品
            </button>
            <button type="button" class="btn btn-default ml5" ng-click="back()">
                返回列表
            </button>
        </div>
        <div class="clear-fix"></div>
        <div class="col-sm-6">
            <ul id="product-tabs" class="nav nav-tabs">
                <li class="active">
                    <a data-target="#registInfo" data-toggle="tab">基本信息</span></a>
                </li>
                <li class="">
                    <a data-target="#authInfo" data-toggle="tab">认证信息</span></a>
                </li>
                <!--                    <li class="">
                                        <a data-target="#merchantInfo" data-toggle="tab">商家信息</span></a>
                                    </li>-->
            </ul>
            <div class="tab-content tab-content-bordered">
                <div class="tab-pane fade active in" id="registInfo">

                    <form id="registInfoform" name="registInfoform" method="post"
                          ng-submit="updateRegistInfo(registInfoform.$valid)"
                          novalidate>
                        <div class="form-group"
                             ng-class="{ 'has-error' : registInfoform.name.$invalid && !registInfoform.name.$pristine }">
                            <label for="email" class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>邮箱地址：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="email" autocomplete="off" id="email"
                                       class="form-control"
                                       maxlength="50"
                                       ng-model="supplierBaseInfo.email"
                                       ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required/>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : registInfoform.name.$invalid && !registInfoform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>公司名：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="companyName"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierBaseInfo.companyName" required/>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : registInfoform.name.$invalid && !registInfoform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>手机号：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="mobilePhone"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierBaseInfo.mobilePhone" required/>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>经营品类：
                            </label>
                            <div class="col-sm-10">
                                <ul class="clearfix mlf10">
                                    <li ng-repeat="item in view.businessCategoryList">
                                        <label>

                                            <input type="checkbox" name="category"
                                                   checklist-model="view.selectedBusinessCategory"
                                                   checklist-value="item.value" ng-disabled="true"/> {{item.text}}

                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                注册时间：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="regTime"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierBaseInfo.regTime" date-format="yyyy-MM-dd HH:mm:ss"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">-->
                        <!--注册地址：-->
                        <!--</label>-->
                        <!--<div class="col-sm-10">-->
                        <!--<input ng-disabled="true" type="text" autocomplete="off"  class="form-control" maxlength="50"-->
                        <!--ng-model="supplierAuthInfo.regProvince"/>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group"
                             ng-class="{ 'has-error' : demoform.name.$invalid && !demoform.name.$pristine }">
                            <label for="emailVerified" class="col-sm-2 control-label">
                                验证状态：
                            </label>
                            <div class="col-sm-10">
                                <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                 disabled="true"
                                                 model="supplierBaseInfo.emailVerified"
                                                 options="defaultVatInvoiceAbility" ng-mousedown=""></ex-singleselect>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validateTime" class="col-sm-2 control-label">
                                验证时间：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="validateTime"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierBaseInfo.emailVerifiedTime"
                                       date-format="yyyy-MM-dd HH:mm:ss"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                <!--|zmDate:'yyyy-MM-dd HH:mm:ss'-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authTime" class="col-sm-2 control-label">
                                认证状态：
                            </label>
                            <div class="col-sm-10">
                                <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                 disabled="true"
                                                 model="supplierAuthInfo.authStatus"
                                                 options="defaultAuditStatus" ng-mousedown=""></ex-singleselect>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authTime" class="col-sm-2 control-label">
                                认证时间：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="authTime"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierBaseInfo.authTime" date-format="yyyy-MM-dd HH:mm:ss"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productNum" class="col-sm-2 control-label">
                                产品数量：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="productNum"
                                       class="form-control"
                                       maxlength="50" ng-model="productNum"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orderNum" class="col-sm-2 control-label">
                                订单数量：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="orderNum"
                                       class="form-control"
                                       maxlength="50" ng-model="orderNum"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="check" class="col-sm-2 control-label">
                                审核人员：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="auditUser"
                                       class="form-control" ng-model="supplierBaseInfo.auditUser"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="check" class="col-sm-2 control-label">
                                审核备注：
                            </label>
                            <div class="col-sm-10">
                                <textarea rows="3" ng-disabled="true" autocomplete="off" id="auditremark"
                                          class="form-control" ng-model="supplierBaseInfo.auditremark"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="authInfo">
                    <form id="authform" name="authform" method="post" ng-submit="save(authform.$valid)" novalidate>
                        <b style="font-size: larger;"><i class="fa fa-star"></i>基本信息</b>
                        <hr>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">

                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>供应商名称：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="supplierName"
                                       class="form-control"
                                       maxlength="50"
                                       ng-model="supplierAuthInfo.supplierName" required>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>发票相关
                            </label>
                            <div class="col-sm-10">
                                <!--  <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                  disabled="true"
                                                  model="supplierAuthInfo.vatInvoiceAbility"
                                                  options="defaultVatInvoiceAbility"  required></ex-singleselect> -->
                                <select name="invoice" class="select2-container select2-container-disabled form-control"
                                        ng-model="supplierAuthInfo.vatInvoiceAbility"
                                        ng-options="item.value as item.text for item in defaultVatInvoiceAbility"
                                        required>
                                    <option value=''>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>供应商类别：
                            </label>
                            <div class="col-sm-10">
                                <!-- <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                 disabled="true"
                                                 model="supplierAuthInfo.supplierCategory"
                                                 options="defaultSupplierCategory"  required></ex-singleselect> -->
                                <select name="companyType"
                                        class="elect2-container select2-container-disabled form-control"
                                        ng-model="supplierAuthInfo.supplierCategory"
                                        ng-options="item.Id as item.Name for item in defaultSupplierCategory" required>
                                    <option value=''>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>注册所在省份：
                            </label>
                            <div class="col-sm-10">
                                <select ng-disabled="true" name="regProvince" class="form-control  input-sm"
                                        ng-model="supplierAuthInfo.regProvince" required>
                                    <option value="" ng-selected="!supplierAuthInfo.regProvince">- 请选择 -</option>
                                    <option ng-repeat="item in view.provinces"
                                            ng-selected="item.provinceName == supplierAuthInfo.regProvince"
                                            value="{{item.provinceName}}">
                                        {{item.provinceName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>是否有进出口权：
                            </label>
                            <div class="col-sm-10">
                                <!--  <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                  disabled="true"
                                                  model="supplierAuthInfo.importExportPermit"
                                                  options="defaultImportExportPermit"  required></ex-singleselect> -->
                                <select name="canInOut"
                                        class="select2-container select2-container-disabled form-control"
                                        ng-model="supplierAuthInfo.importExportPermit"
                                        ng-options="item.Id as item.Name for item in defaultImportExportPermit"
                                        required>
                                    <option value=''>- 请选择 -</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>企业办公地址:
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" name="companyAddress"
                                       id="companyAddress"
                                       class="form-control"
                                       maxlength="50"
                                       ng-model="supplierAuthInfo.companyAddress" required/>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>纳税人资格：
                            </label>
                            <div class="col-sm-10">
                                <!-- <ex-singleselect class="select2-container select2-container-disabled form-control"
                                                 disabled="true"
                                                 model="supplierAuthInfo.taxpayerQualification"
                                                 options="defaultTaxpayerQualification"  required></ex-singleselect> -->
                                <select name="taxpayer" class="elect2-container select2-container-disabled form-control"
                                        ng-model="supplierAuthInfo.taxpayerQualification"
                                        ng-options="item.value as item.text for item in defaultTaxpayerQualification"
                                        required>
                                    <option value=''>- 请选择 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                店铺链接：
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" name="shopAddress"
                                       id="shopAddress" class="form-control"
                                       maxlength="50"
                                       ng-model="supplierAuthInfo.shopAddress"/>
                            </div>
                        </div>
                        <!-- <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label  class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>经营品类：
                            </label>
                            <div class="col-sm-10">
                                <ul class="clearfix mlf10">
                                    <li ng-repeat="item in view.businessCategoryList">
                                        <label>
                                            <input  type="checkbox" name="category" checklist-model="view.selectedBusinessCategory" checklist-value="item.value" /> {{item.text}}

                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <b style="font-size: larger;"><i class="fa fa-star"></i>资质信息</b>
                        <hr>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>税务登记证：
                            </label>
                            <div class="col-sm-10">
                                <img ng-src="{{getPicUrl(supplierAuthInfo.taxRegistrationNumberUrl)}}"
                                     class="img-thumbnail"
                                     alt="" width="200" height="200"
                                     ng-click="viewOriginalPic(getPicUrl(supplierAuthInfo.taxRegistrationNumberUrl))">
                                <input ng-disabled="true" type="file" id="fileTax" style="display:none;"
                                       accept="image/*" base-sixty-four
                                       base-sixty-four-success="taxFileSuccess(file,data,formData)"/>
                                <a target="_blank" href="javascript:;" onclick="$('#fileTax').click();"
                                   class="valign-bottom btn btn-default ml5">
                                    本地上传
                                </a>
                                <!--<input  ng-disabled="true" type="text" autocomplete="off" id="taxRegistrationNumber" class="form-control" maxlength="50"-->
                                <!--ng-model="supplierAuthInfo.taxRegistrationNumber"  required/>-->
                            </div>
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="taxRegistrationNumber"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierAuthInfo.taxRegistrationNumber" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                组织机构代码证：
                            </label>
                            <div class="col-sm-10">
                                <img ng-src="{{getPicUrl(supplierAuthInfo.organizationCodeUrl)}}" class="img-thumbnail"
                                     alt="" width="200" height="200"
                                     ng-click="viewOriginalPic(getPicUrl(supplierAuthInfo.organizationCodeUrl))">
                                <input ng-disabled="true" type="file" id="fileOrgCode" style="display:none;"
                                       accept="image/*" base-sixty-four
                                       base-sixty-four-success="orgCodeFileSuccess(file,data,formData)"/>
                                <a target="_blank" href="javascript:;" onclick="$('#fileOrgCode').click();"
                                   class="valign-bottom btn btn-default ml5">
                                    本地上传
                                </a>
                                <input ng-disabled="true" type="text" autocomplete="off" id="organizationCode"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierAuthInfo.organizationCode"/>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>营业执照：
                            </label>
                            <div class="col-sm-10">
                                <img ng-src="{{getPicUrl(supplierAuthInfo.businessLicenseNumberUrl)}}"
                                     class="img-thumbnail"
                                     alt="" width="200" height="200"
                                     ng-click="viewOriginalPic(getPicUrl(supplierAuthInfo.businessLicenseNumberUrl))">
                                <input ng-disabled="true" type="file" id="fileBL" style="display:none;" accept="image/*"
                                       base-sixty-four base-sixty-four-success="blFileSuccess(file,data,formData)"/>
                                <a target="_blank" href="javascript:;" onclick="$('#fileBL').click();"
                                   class="valign-bottom btn btn-default ml5">
                                    本地上传
                                </a>
                                <!--<input  ng-disabled="true" type="text" autocomplete="off" id="businessLicenseNumber" class="form-control" maxlength="50"-->
                                <!--ng-model="supplierAuthInfo.businessLicenseNumber"  required/>-->
                            </div>
                            <label class="col-sm-2 control-label">
                                <i class="red_bt mrt10">*</i>
                            </label>
                            <div class="col-sm-10">
                                <input ng-disabled="true" type="text" autocomplete="off" id="businessLicenseNumber"
                                       class="form-control" maxlength="50"
                                       ng-model="supplierAuthInfo.businessLicenseNumber" required/>
                            </div>
                        </div>
                        <div>其他资质</div>

                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }"
                     ng-repeat="item in supplierAuthInfo.customZZ.data| filter:{item:'!'}">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>资质名称
                    </label>
                    <div class="col-sm-10">
                        <img ng-src="{{getPicUrl(item.imgurl)}}" class="img-thumbnail"
                             alt="" width="200" height="200"
                             ng-click="viewOriginalPic(getPicUrl(item.imgurl))">
                        <input ng-disabled="true" type="file" id="zz{{item.index}}" style="display:none;"
                               accept="image/*" base-sixty-four
                               base-sixty-four-success="blFileSuccess(file,data,formData)"/>
                        <a target="_blank" href="javascript:;" onclick="$('#fileBL').click();"
                           class="valign-bottom btn btn-default ml5">
                            本地上传
                        </a>

                    </div>
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="Ztitle{{item.index}}"
                               class="form-control" maxlength="50"
                               ng-model="item.title" required/>
                    </div>
                </div>

                <b style="font-size: larger;"><i class="fa fa-star"></i>联系信息</b>
                <hr>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>联系人：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="contactPerson" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.contactPerson" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        电话：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="contactPhone" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.contactPhone"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        QQ：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="contactQQ" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.contactQQ"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>邮件地址：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="contactEmail" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.contactEmail" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>手机：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="contactMobilephone"
                               class="form-control" maxlength="50"
                               ng-model="supplierAuthInfo.contactMobilephone" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>银行账号：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="bankAccount" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.bankAccount" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>开户银行：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="bankName" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.branchBankName" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>账户名称：
                    </label>
                    <div class="col-sm-10">
                        <input ng-disabled="true" type="text" autocomplete="off" id="" class="form-control"
                               maxlength="50"
                               ng-model="supplierAuthInfo.bankName" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>结算币种：
                    </label>
                    <div class="col-sm-10">
                        <ex-singleselect class="select2-container select2-container-disabled form-control"
                                         disabled="true"
                                         disabled="true"
                                         model="supplierAuthInfo.currency" options="defaultCurrency"
                                         required></ex-singleselect>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>结算方式：
                    </label>
                    <div class="col-sm-10">

                        <select name="settlement" class="select2-container select2-container-disabled form-control"
                                ng-model="supplierAuthInfo.settlementMethod"
                                ng-options="item.value as item.text for item in view.settlementMethodList" required>
                            <option value=''>- 请选择 -</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>是否接受先货后款：
                    </label>
                    <div class="col-sm-10">
                        <select name="acceptancefirstshipment"
                                class="select2-container select2-container-disabled form-control"
                                ng-model="view.data.acceptanceFirstShipment"
                                ng-options="item.value as item.text for item in yesNoMapping" required>
                            <option value=''>- 请选择 -</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>是否接受退换货
                    </label>
                    <div class="col-sm-10">
                        <select name="acceptreturns" class="select2-container select2-container-disabled form-control"
                                ng-model="view.data.acceptReturns"
                                ng-options="item.value as item.text for item in yesNoMapping" required>
                            <option value=''>- 请选择 -</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : authform.name.$invalid && !authform.name.$pristine }">
                    <label class="col-sm-2 control-label">
                        <i class="red_bt mrt10">*</i>已售市场
                    </label>
                    <div class="col-sm-10">
                        <ul class="clearfix mlf10" disabled="true">
                            <li ng-repeat="item in view.soldMarketList">
                                <label>
                                    <input type="checkbox" name="soldMarket" checklist-model="view.selectSoldMarketList"
                                           value="{{item.value}}" checklist-value="item.value"/> {{item.text}}
                                </label>
                            </li>
                        </ul>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<button type="submit" class="btn btn-primary" ng-disabled="authform.$invalid || isSaving">-->
                            <!--<span ng-bind="isSaving? '正在保存':'保存'"></span>-->
                            <!--</button>-->
                            <button type="button" class="btn btn-default ml5" ng-click="back()">
                                返回列表
                            </button>
                        </div>
                    </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<!--<ex-loading show-model="loading"></ex-loading>-->
<!--</div>-->
