<form name="pageForm" class="bs-example form-horizontal" ng-submit="ok(pageForm.$valid)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="pageVM.title"></h3>
    </div>
    <div class="modal-body p-r">
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">页面编码</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="pageVM.data.code" required readonly="readonly">
            </div>
        </div>    	
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">页面名称</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="pageVM.data.name" required  ng-blur="validName(pageVM.data.name)">
            </div>
            <div class="col-lg-10" ng-show="nameInValid">
            	名称已存在
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">页面类型</label>
            <div class="col-lg-10">
                <select class="form-control" ng-model="pageVM.data.type" ng-options="item.value as item.text for item in pageVM.pageTypeList" required>
                    <option value="">- 请选择 -</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="pageVM.data.type == 1">
            <label class="col-lg-2 control-label text-danger">品类编号</label>
            <div class="col-lg-10">
            	<i class="fa fa-spin fa-spinner text-lg m-t-sm" ng-if="pageVM.tagListLoading" ng-cloak></i>
            	<label class="checkbox-inline i-checks i-checks-sm m-l-none m-r" ng-repeat="item in pageVM.categoryCodeList">
            		<input type="checkbox" checklist-model="pageVM.data.categoryCodes" checklist-value="item.code"/><i></i>{{item.name}}
            	</label>
                <!--<select class="form-control" ng-model="pageVM.data.categoryCodes" ng-options="item.id as item.name for item in pageVM.categoryCodeList">
                    <option value="">- 请选择 -</option>
                </select>-->
            </div>
        </div>          
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">状态</label>
            <div class="col-lg-10">
                <select class="form-control" ng-model="pageVM.data.status" ng-options="item.value as item.text for item in pageVM.statusList" required>
                    <option value="">- 请选择 -</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">备注</label>
            <div class="col-lg-10">
                <textarea class="form-control" ng-model="pageVM.data.remarks"></textarea>
            </div>
        </div>
        <div class="form-group" ng-show="pageVM.data.id">
             <label class="col-lg-2 control-label">创建时间</label>
            <div class="col-lg-10">
                <input class="form-control" ng-value="pageVM.data.createTime | date:'yyyy-MM-dd hh:mm:ss'" readonly="readonly"/>
            </div>       	
        </div>
        <div class="form-group" ng-show="pageVM.data.id">
             <label class="col-lg-2 control-label">创建人</label>
            <div class="col-lg-10">
                <input class="form-control" ng-value="pageVM.data.createUserName"  readonly="readonly"/>
            </div>       	
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="pageVM.processing||pageForm.$invalid || getCategoryCodeListError || pageVM.tagListLoading || nameInValid">
            <span class="w2em" ng-if="!pageVM.processing" ng-cloak>保存</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="pageVM.processing" ng-cloak></i>
        </button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
