<form name="pageForm" class="bs-example form-horizontal" ng-submit="ok(pageForm.$valid)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="productVM.title"></h3>
    </div>
    <div class="modal-body p-r">
        <div class="form-group">
            <label class="col-lg-2 control-label">商品名称</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="productVM.data.title" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">编号</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-value="parseContent(productVM.data.content).code" readonly="readonly">
            </div>
        </div>        
        <div class="form-group">
            <label class="col-lg-2 control-label text-danger">上传图片</label>
            <div class="col-lg-10">
                <input id="mainImg" type="file" accept="image/jpg,image/jpeg,image/png,image/gif"
                       base-sixty-four base-sixty-four-success="fileSuccess(file, data, formData)" file-max-size="5" style="display: none" />
                <button type="button" class="btn btn-info btn-sm" onclick="$('#mainImg').click()">选择图片</button>
            </div>
        </div>
        <div ng-if="productVM.data.imgUrl" class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <a href="{{productVM.data.imgUrl==null ? productVM.data.usImgUrl : productVM.prefix + '/' + productVM.data.imgUrl}}" target="_blank">
                    <img width="256px" height="256px" class="img-responsive" ng-src="{{productVM.data.imgUrl==null ? productVM.data.usImgUrl : productVM.prefix + '/' + productVM.data.imgUrl}}">
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">跳转链接</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="productVM.data.skipUrl">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">价格</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-value="parseContent(productVM.data.content).price" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">对比价格</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-value="rate(parseContent(productVM.data.content).price)" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">最小起订量</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-value="parseContent(productVM.data.content).moq" readonly="readonly">
            </div>
        </div>        
        <div class="form-group">
            <label class="col-lg-2 control-label">备注</label>
            <div class="col-lg-10">
                <textarea class="form-control" ng-model="productVM.data.remarks" maxlength="200"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="productVM.processing||pageForm.$invalid">
            <span class="w2em" ng-if="!productVM.processing" ng-cloak>保存</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="productVM.processing" ng-cloak></i>
        </button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
