<form name="pageForm" class="bs-example form-horizontal" ng-submit="ok(pageForm.$valid)" novalidate>
	<div class="modal-header">
		<h3 class="modal-title" ng-bind="rateVM.title"></h3>
	</div>
	<div class="modal-body p-r">
        <div class="input-group">
            <div class="input-group-addon">系数</div>
            <input type="text" class="form-control" ng-model="rateVM.data.val" placeholder="对比系数">
            <div class="input-group-addon">%</div>
        </div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="rateVM.processing||pageForm.$invalid">
				<span class="w2em" ng-if="!rateVM.processing" ng-cloak>保存</span>
				<i class="fa fa-spin fa-spinner w2em" ng-if="rateVM.processing" ng-cloak></i>
			</button>
			<button class="btn btn-default" ng-click="cancel()">取消</button>
		</div>
	</div>
</form>