<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-5 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">公司名称</span>
                    <input type="text" class="form-control" placeholder="公司名称" ng-model="condition.companyName" />
                </div>
            </div>
            <div class="col-md-5 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">注册邮箱</span>
                    <input type="text" class="form-control" placeholder="注册邮箱" ng-model="condition.email" />
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" ng-disabled="view.loading">
                    查询
                </button>
                <button type="button" class="btn btn-default m-l-xs" ng-click="reset()">
                    重置
                </button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>公司名称</th>
                        <th>手机号</th>
                        <th>注册邮箱</th>
                        <!--<th>验证状态</th>-->
                        <th>注册成功时间</th>
                        <th>认证状态</th>
                        <!--<th>业务范围</th>-->
                        <th>来源地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="view.loading" ng-cloak>
                        <td class="text-center" colspan="9">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!view.loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="9">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items">
                        <td>
                            {{item.companyName}}
                        </td>
                        <td>
                            {{item.mobilePhone}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <!--<td>-->
                            <!--<span ng-switch on="item.emailVerified">-->
                            <!--<span ng-switch-when="0">否</span>-->
                            <!--<span ng-switch-when="1">是</span>-->
                            <!--</span>-->
                        <!--</td>-->
                        <td>
                            {{item.emailVerifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            <div ng-repeat="obj in defaultAuditStatus | filter:{value:(item.authStatus==null?-1:item.authStatus)}">
                                {{obj.text}}
                            </div>
                        </td>
                        <!--<td>-->
                            <!--{{item.scopeBusiness==null?'出口':item.scopeBusiness}}-->
                        <!--</td>-->
                        <td>
                            <div style="width:300px;word-wrap: break-word;">{{item.source}}</div>
                        </td>
                        <td>

                            <a target="_blank"  href="#/supplier/info/edit/{{item.supplierId}}/1"  class="fa fa-edit" title="编辑"></a>
                            <a target="_blank" href="#/supplier/info/edit/{{item.supplierId}}/0" class="fa fa-eye" title="查看"></a>
                            <a target="_blank" href="#/supplier/order/list/{{item.supplierId}}" class="fa fa-shopping-cart" title="订单"></a>
                            <a target="_blank" href="#/supplier/product/list/{{item.supplierId}}" class="fa fa-briefcase" title="产品"></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <sl-page-size-changer class="m-r-xs" total-items="queryResult.TotalCount" ng-model="queryResult.PageSize" ng-change="pageChanged()">
                    </sl-page-size-changer>
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="view.loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
