<div class="header">
    <h2><i class="fa fa-dashboard"></i>提现</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header">
        <i class="icon icon-user"></i>提现申请
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    投资人编号
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="listView.condition.investorCode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    投资人姓名
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="listView.condition.investorName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    账户信息
                </label>
                <div class="col-sm-10">
                    <table id="accountInfoTable" bs-table-control="bsAccountInfoTableControl"></table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    提现账户
                </label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-header"><i class="icon icon-user"></i>银行账户列表</div>
                        <div class="panel-body">
                            <table id="bankListTable" bs-table-control="bsBankListTableControl"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    提现渠道
                </label>
                <div class="col-sm-10">
                    <select class="form-control form-white" ng-model="listView.condition.channel" ng-options='c as c.title for c in listView.channel'>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    提取金额
                </label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control" ng-model="listView.condition.amount">
                </div>
                <div class="col-sm-6">
                    <div class="checkbox checkbox-info">
                        <input class="styled" type="checkbox" id="checkbox"> 
                        <label for="checkbox">大额提现</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    服务费
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="listView.condition.serviceFee">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    备注
                </label>
                <div class="col-sm-10">
                    <textarea type="text" name="name" class="form-control" ng-model="listView.condition.remark"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <button type="submit" class="btn btn-primary m-r-10">提交申请</button>
                </div>
            </div>
    </div>
    </form>
</div>
