<div class="panel panel-default">
    <div class="panel-heading font-bold">
        财务参数
        <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="loading" ng-cloak></i>
    </div>
    <div class="panel-body" ng-form="financeForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">EC利润率</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.profitMargin.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.profitMargin" name="profitMargin"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">%</span>
                </div>
                <p ng-show="financeForm.profitMargin.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
            <span class="help-block m-b-none">每个SKU保证的利润率</span>
        </div>
        <div class="form-group">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <label class="col-sm-2 control-label">EC每票最低利润</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.minProfitPerTicket.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.minProfitPerTicket" name="minProfitPerTicket"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">元</span>
                </div>
                <p ng-show="financeForm.minProfitPerTicket.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
            <span class="help-block m-b-none">每个物流配送单位要保证的利润额度</span>
        </div>
        <div class="form-group">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <label class="col-sm-2 control-label">美元与人民币汇率</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.exchangeRate.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.exchangeRate" name="exchangeRate"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">USD/RMB</span>
                </div>
                <p ng-show="financeForm.exchangeRate.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
        </div>
        <div class="form-group">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <label class="col-sm-2 control-label">印花税税率</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.stampDutyRate.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.stampDutyRate" name="stampDutyRate"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">%</span>
                </div>
                <p ng-show="financeForm.stampDutyRate.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
            <span class="help-block m-b-none">印花税税率</span>
        </div>
        <div class="form-group">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <label class="col-sm-2 control-label">不可预计成本的比率</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.estimatedCostRate.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.estimatedCostRate" name="estimatedCostRate"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">%</span>
                </div>
                <p ng-show="financeForm.estimatedCostRate.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
            <span class="help-block m-b-none">不可预计成本的比率</span>
        </div>
        <div class="form-group">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <label class="col-sm-2 control-label">样品利润率</label>
            <div class="col-sm-4" ng-class="{ 'has-error': financeForm.sampleProfitRate.$invalid }">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="finance.sampleProfitRate" name="sampleProfitRate"
                           ng-pattern="/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/" required>
                    <span class="input-group-addon">%</span>
                </div>
                <p ng-show="financeForm.sampleProfitRate.$invalid" class="help-block">如输入小数，精确到小数点后两位！</p>
            </div>
            <span class="help-block m-b-none">自动定价时要保证的样品利润</span>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" ng-disabled="saving" ng-click="saveFinanceParameter()">
                    <span>保存</span>
                </button>
            </div>
        </div>
    </div>
</div>
