<div class="header">
    <h2><i class="fa fa-dashboard"></i>利润提取明细</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>查询结果</div>
    <div class="panel-body">
        <table id="profitDrawDetailTable" table-full-size bs-table-control="bsProfitDrawDetailTableControl"></table>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-5">
                <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
            </div>
        </div>
    </div>
</div>