<div class="header">
    <h2><i class="fa fa-dashboard"></i>利润提取列表</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                         <div class="input-group">
                            <span class="input-group-addon">创建时间</span>
                            <div class="input-daterange b-datepicker input-group form-white" id="datepicker">
                                <input type="date" class="input-sm form-control" ng-model="listView.condition.BuildStartDate">
                                <span class="input-group-addon">~</span>
                                <input type="date" class="input-sm form-control form-white" ng-model="listView.condition.BuildEndDate">
                            </div>
                        </div>
                        </div>
                    </div>     
                </div>
                <div class="col-md-4">
                    <div class="form-group col-md-4">
                        <button class="btn btn-info">查找</button>
                        <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-header"><i class="icon icon-user"></i>查询结果</div>
    <div class="panel-body">
        <table id="profitDrawListTable" table-full-size bs-table-control="bsProfitDrawListTableControl"></table>
    </div>
</div>
