<div class="panel panel-default m-b-none">
    <form name="permissionform" method="post" ng-submit="ok(permissionform.$valid)" novalidate>
        <div class="panel-heading font-bold">
            <span ng-bind="permissionVM.title"></span> <i class="fa fa-spin fa-spinner m-r-xs text-lg" ng-if="permissionVM.loading" ng-cloak></i>
        </div>
        <div class="panel-body">
            <div ng-if="permissionVM.type==3" ng-cloak>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">权限名称</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.name"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">菜单链接</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.href_url"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">权限标识</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.permission"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">父级</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.parentId"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">目标</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.target"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">图标</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.icon"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">序号</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.sort"></div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">创建时间</div>
                    <div class="col-sm-10" ng-bind="permissionVM.data.createTime|date:'yyyy-MM-dd hh:mm'"></div>
                </div>
            </div>
            <div ng-if="permissionVM.type!=3" ng-cloak>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold text-danger">上级菜单</div>
                    <div class="col-sm-10">
                        <input type="text" name="parentid" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.parentId" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row" ng-class="{'has-error':permissionform.name.$invalid&&!permissionform.name.$pristine}">
                    <div class="col-sm-2 text-right font-bold">权限名称</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.name" required />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">菜单链接</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.href_url" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">权限标识</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.permission" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">菜单图标</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.icon" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">排序</div>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off" class="form-control" maxlength="50" ng-model="permissionVM.data.sort" />
                    </div>
                </div>
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">是否显示</div>
                    <div class="col-sm-10">
                        <label class="checkbox-inline i-checks i-checks-sm m-l-none m-r-sm">
                            <input type="checkbox" ng-model="permissionVM.data.isShow"  ng-checked="permissionVM.data.isShow.indexOf('1') >= 0"   ng-true-value="1" ng-false-value="0"><i></i>
                        </label>
                            <span class="text-danger">提示：是否在用户导航中显示出为菜单</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary m-r-sm" ng-disabled="permissionVM.saving||permissionform.$invalid" ng-if="permissionVM.type!=3" ng-cloak>
                <span class="w2em" ng-if="!permissionVM.saving" ng-cloak>保存</span>
                <i class="fa fa-spin fa-spinner w2em" ng-if="permissionVM.saving" ng-cloak></i>
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">返回</button>
        </div>
    </form>
</div>
