<div class="wrapper-md">
    <form ng-submit="page(1)" novalidate>
        <div class="row">
            <div class="col-md-9 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">权限名称</span>
                    <input type="text" class="form-control" ng-model="listVM.condition.name" />
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary m-b" ng-disabled="listVM.searching">
                    <span class="w2em" ng-if="!listVM.searching" ng-cloak>查询</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="listVM.searching" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-default m-l-xs m-b" ng-click="reset()">重置</button>
                <button type="button" class="btn btn-success m-l-xs m-b pull-right" ng-click="add()">新增</button>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            上级菜单
                        </th>
                        <th>
                            权限名称
                        </th>
                        <th>
                            菜单链接
                        </th>
                        <th>
                            权限标识
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            创建时间
                        </th>
                        <th class="w90">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.searching" ng-cloak>
                        <td class="text-center" colspan="8"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i> 正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!listVM.searching&&listVM.items.length==0" ng-cloak>
                        <td class="text-center" colspan="8">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td ng-bind="item.id"></td>
                        <td ng-bind="item.parentId"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.href_url"></td>
                        <td ng-bind="item.permission"></td>
                        <td ng-bind="item.sort"></td>
                        <td ng-bind="item.createTime|exDate:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td class="v-middle">
                            <a href ng-click="view(item.id)" class="fa fa-file-text-o text-sm" title="查看权限信息"></a>
                            <a href ng-click="edit(item.id)" class="fa fa-edit text-sm m-l-xs" title="修改权限信息"></a>
                            <a href ng-click="del(item)" class="fa fa-trash-o text-sm m-l-xs" title="删除权限"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItemsCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItemsCount" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.pageNumber" is-paging="listVM.searching" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
