<div class="header">
    <h2><i class="fa fa-dashboard"></i>加息券模板管理</h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 m-b-10">
                <button type="button" class="btn btn-success btn-xs" ng-click="listVM.add()"><i class="icon icon-plus m-r-5"></i>新增</button>
            </div>
        </div>
        <table id="marketingTable" table-full-size bs-table-control="bsMarketingTableControl"></table>
    </div>
</div>
