<div class="wrapper-md">
    <div ng-include="'view/cms/recommend/linkBar.html'"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>图片列表</span>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-info m-r-xs" ng-disabled="!listVM.selectedList.length > 0 || operating.publish" ng-click="publish(0)">
                    <span class="w2em" ng-if="!operating.publish" ng-cloak>启用</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="operating.publish" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-xs btn-info m-r-xs" ng-disabled="!listVM.selectedList.length > 0 || operating.offline" ng-click="publish(1)">
                    <span class="w2em" ng-if="!operating.offline" ng-cloak>禁用</span>
                    <i class="fa fa-spin fa-spinner w2em" ng-if="operating.offline" ng-cloak></i>
                </button>
                <button type="button" class="btn btn-xs btn-info m-r-xs" ng-click="addPic()">新增</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" ng-model="listVM.checkedAll" ng-change="checkAll()"><i></i>
                            </label>
                        </th>
                        <th>序号</th>
                        <th>标题</th>
                        <!-- <th>跳转链接</th> -->
                        <th>状态</th>
                        <th>创建人</th>
                        <th>上线时间</th>
                        <th>创建时间</th>
                        <th style="width:170px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="listVM.processing" ng-cloak>
                        <td class="text-center" colspan="9"><i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...</td>
                    </tr>
                    <tr ng-if="!listVM.processing&&(!listVM.items||listVM.items.length==0)" ng-cloak>
                        <td class="text-center" colspan="9">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in listVM.items">
                        <td>
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" checklist-model="listVM.selectedList" checklist-value="item.id"/><i></i></label>
                        </td>
                        <td ng-bind="::((listVM.paginate.currentPage-1)*listVM.paginate.pageSize+$index+1)"></td>
                        <td ng-bind="item.title"></td>
                        <!-- <td ng-bind="item.skipUrl"></td> -->
                        <td ng-class="{1:'text-danger',0:'text-success'}[item.status]" ng-bind="item.status|meta:listVM.statusList"></td>
                        <td ng-bind="item.createUserName"></td>
                        <td ng-bind="item.publishTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="item.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td>
                            <a href class="btn btn-info btn-xs" ng-click="editPic(item)">修改</a>
                            <a href class="btn btn-info btn-xs" ng-click="showPic(item)">查看</a>
                            <a href class="btn btn-info btn-xs" ng-click="setTop(item.id,item.updateTime ? '0' : '1')" ng-if="item.status == 0" ng-bind="item.updateTime ? '取消置顶' : '置顶'"></a>
                            <a href class="btn btn-info btn-xs" ng-if="item.status == 1" ng-click="deleteById(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="listVM.paginate.totalItems>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="listVM.paginate.totalItems" items-per-page="listVM.paginate.pageSize" ng-change="pageChanged()" ng-model="listVM.paginate.currentPage" is-paging="listVM.processing" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
