<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">
        <span>查看图片信息</span>
    </div>
    <div class="panel-body">
        <div ng-cloak>
            <div class="row">
                <div class="col-sm-2 text-right font-bold">标题</div>
                <div class="col-sm-10" ng-bind="picVM.data.title"></div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row">
                <div class="col-sm-2 text-right font-bold">图片</div>
                <img width="256px" height="256px" class="img-responsive" ng-src="{{picVM.prefix + '/' + picVM.data.imgUrl}}">
                <!-- <div class="col-sm-10" ng-bind="picVM.data.imgUrl"></div> -->
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row">
                <div class="col-sm-2 text-right font-bold">跳转链接</div>
                <div class="col-sm-10" ng-bind="picVM.data.skipUrl"></div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row">
                <div class="col-sm-2 text-right font-bold">备注</div>
                <div class="col-sm-10" ng-bind="picVM.data.remarks"></div>
            </div>
            <div class="line line-dashed b-b pull-in"></div>
            <div class="row">
                <div class="col-sm-2 text-right font-bold">创建时间</div>
                <div class="col-sm-10" ng-bind="picVM.data.createTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
            </div>
            <div ng-if="picVM.data.publishTime">
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">上线时间</div>
                    <div class="col-sm-10" ng-bind="picVM.data.publishTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
                </div>
            </div>
            <div ng-if="picVM.data.offTime">
                <div class="line line-dashed b-b pull-in"></div>
                <div class="row">
                    <div class="col-sm-2 text-right font-bold">下线时间</div>
                    <div class="col-sm-10" ng-bind="picVM.data.offTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-default" ng-click="cancelPic()">关闭</button>
    </div>
</div>
