<div class="panel m-t-10">
    <div class="panel-header">
        <h3>资金账户信息</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
        <div class="form-group" ng-show="vm.action=='edit'">
                <label class="col-sm-2 control-label">
                    借款人编号
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    姓名
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    身份证号码
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.idNo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    手机
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    固定电话
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.telephone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    邮箱
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.bank" ng-options='bank for bank in vm.bank'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行省份
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.province" ng-options='province for province in vm.province'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行城市
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.city" ng-options='city for city in vm.city'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    银行账户名
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.bankAccountName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    银行账户号
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.accountNo">
                </div>
            </div>
            <div class="form-group" ng-show="vm.action=='edit'">
                <label class="col-sm-2 control-label">
                    状态
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.status" ng-options='status for status in vm.status'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    地址
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    邮编
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.zipCode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    备注
                </label>
                <div class="col-sm-10">
                    <textarea name="comment" rows="3" class="form-control" ng-model="vm.data.memo"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary m-r-10">保存</button>
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
