<div class="panel m-t-10">
    <div class="panel-header">
        <h3>资金账户信息</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group" ng-show="vm.action=='edit'">
                <label class="col-sm-2 control-label">
                    资金账户标识
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.capitalAccountId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    账户名称
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.bankAccountName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    银行账户名称
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.bankAccountName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    银行账户号码
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.bankAccount">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    余额
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.balance">
                </div>
            </div>
            <!-- TODO开户行这里需要一个能够搜索的下拉列表 -->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.bankName" ng-options='b as b.title for b in vm.bank'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行省份
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.bankProvince" ng-options='p as p.name for p in vm.provinces'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    开户行城市
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.bankCity" ng-options='c as c.name for c in vm.data.provinces.children'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    大额行号
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.largePaymentNumber">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    公司名称
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.companyName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    备注
                </label>
                <div class="col-sm-10">
                    <textarea name="comment" rows="3" class="form-control" ng-model="vm.data.memo"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary m-r-10" ng-click="vm.save()">保存</button>
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
