<div class="header">
    <h3><i class="fa fa-files-o m-r-5"></i><span ng-bind="listVM.title"></span></h3>
</div>
<div class="row">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="listVM.search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">借款人编号</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.borrowerCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.borrowerName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">身份证</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.idCard">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">手机号</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <input type="text" class="form-control form-white" ng-model="listVM.condition.status">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary">查找</button>
                    <button type="button" class="btn btn-default" ng-click="listVM.reset()">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 m-b-10">
        <button type="button" class="btn btn-success btn-xs m-r-5" ng-click="listVM.add()" ng-if="listVM.action=='draft'" ng-cloak><i class="icon icon-plus m-r-5"></i>新增</button>
<!--         <button type="button" class="btn btn-success btn-xs" ng-click="listVM.batchUpload()" ng-if="listVM.action=='todo'" ng-cloak><i class="icon icon-plus m-r-5"></i>批量导入</button>
 -->    </div>
</div>
<table id="assetTable" table-full-size bs-table-control="tbControl"></table>
