
<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">
        <ul class="nav nav-pills pull-right">
            <li><a href>x</a></li>
        </ul>
        数据加载中...
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <progressbar class="progress-striped active m-b-sm" value="100" type="success"></progressbar>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
