<div class="header">
    <h2><i class="fa fa-dashboard"></i>借款人还款信息</h2>
</div>
<div class="panel m-t-10">
    <div class="panel-header"><i class="icon icon-user"></i>基本信息</div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-md-12 portlets">
                    <table class="table table-bordered th-right">
                        <tbody>
                            <tr>
                                <th class='w-120'>
                                    借款人编号
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.borrowerId"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    借款人姓名
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.name"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    还款日期
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.repaymentDate"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    还款金额
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.amount"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    账户余额
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.balance"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    还款渠道
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.repaymentChannel"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    参考凭证
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.externalRef"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    操作人
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.op"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    创建时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.createDatetime"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    更新时间
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.updateDatetime"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    手机号码
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.mobile"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    身份证
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.idNo"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    邮编
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.zipCode"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    备注
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.memo"></label>
                                    </div>
                                </th>
                                <th class='w-120'>
                                    账户科目
                                </th>
                                <th>
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.accountSubjectCode"></label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class='w-120'>
                                    地址
                                </th>
                                <th colspan="5">
                                    <div class="col-sm-12">
                                        <label type="text" name="name" ng-bind="vm.data.address"></label>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-5">
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>