<div class="wrapper-md">
    <div class="row">
        <form ng-submit="page(1)">
            <div class="col-md-10 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon">状态</span>
                    <select class="form-control" ng-model="view.status" ng-options="item.Id as item.Name for item in view.pcStatusList">
                        <option value="" default>- 请选择 -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary m-r-xs" ng-disabled="view.loading">
                    查询
                </button>
                <button type="button" class="btn btn-default" ng-click="reset();view.status=''">
                    重置
                </button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>产品编号</th>
                        <th>产品中文名称</th>
                        <!--<th>规格</th>-->
                        <th>状态</th>
                        <th>所属分类</th>
                        <th>最小起订量</th>
                        <th>价格</th>
                        <!--<th>货号</th>-->
                        <th class="w60">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="view.loading" ng-cloak>
                        <td class="text-center" colspan="9">
                            <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                        </td>
                    </tr>
                    <tr ng-if="!view.loading&&(!queryResult.Items||queryResult.Items.length==0)" ng-cloak>
                        <td class="text-center" colspan="9">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in queryResult.Items" repeat-done="showPopver()">
                        <td>
                            {{item.code}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <!--<td>-->
                            <!--{{item.skuPackstyle}}-->
                        <!--</td>-->
                        <td ng-repeat="obj in view.pcStatusList | filter:{Id:(item.status==null?-1:item.status)}">
                            {{obj.Name}}
                        </td>
                        <td>
                            {{item.categoryName}}
                        </td>
                        <td>
                            {{item.moq}}
                        </td>
                        <td>
                            <div ng-if="item.isGrads == '0'">
                                <div name="popovers-demo1" data-trigger="hover" data-toggle="popover" data-placement="top" data-template={{item.text}} data-title="" data-original-title="" title="">
                                    {{item.price | currency:''}} 元
                                </div>
                            </div>
                            <div ng-if="item.isGrads == '1'">
                                <div name="popovers-demo1" data-trigger="hover" data-toggle="popover" data-placement="top" data-template={{item.text}} data-title="" data-original-title="" title="">
                                    {{item.productPrices[0].price}} 元-- {{item.productPrices[item.productPrices.length-1].price}} 元
                                </div>
                            </div>
                        </td>
                        <!--<td>-->
                            <!--{{item.stockno}}-->
                        <!--</td>-->
                        <td>
                            <a class="fa fa-bookmark" title="查看" ng-click="goToProd(item.code)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer" ng-show="queryResult.TotalCount>0" ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="view.loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>

