<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="#/"></a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <div class="userlogged clearfix">
                <i class="icon icons-faces-users-01"></i>
                <div class="user-details">
                    <h4 ng-bind="appView.user.name"></h4>
                    <div class="btn-group">
                        <a ui-sref="info" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
                        <a ui-sref="settings" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
                        <a href="" ng-click="logout()" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off" title="注销"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-title">
            菜单导航
        </div>
        <ul class="nav nav-sidebar">
            <li ng-repeat="menu in appView.menus" ng-class="{'nav-parent': menu.subMenus.length>0, 'active': appView.isActive([menu.state, menu.state+'*'])}">
                <a href='{{$state.href(menu.state)}}' ng-class="{'submenu-root': menu.subMenus.length>0}">
                    <i class="{{menu.icon}}"></i>
                    <span ng-bind="menu.text"></span>
                    <span class="fa arrow" ng-show="menu.subMenus.length>0"></span>
                </a>
                <ul ng-show="menu.subMenus.length>0" class="children collapse" style="{{appView.getSubMenuStyle([menu.state+'*'])}}" ng-cloak>
                    <li ng-repeat="submenu in menu.subMenus" ng-class="{active: appView.isActive(submenu.state)}">
                        <a ui-sref="{{submenu.state}}" ng-bind="submenu.text"></a>
                    </li>
                </ul>
            </li>
            <!-- <li ng-class="{active: appView.isActive('dashboard')}">
                <a ui-sref="dashboard"><i class="icon-home"></i><span>控制台</span></a>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['borrower.*'])}">
                <a href="" class="submenu-root">
                    <i class="icon-screen-desktop"></i>
                    <span>借款人管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['borrower.*'])}}">
                    <li ng-class="{active: appView.isActive('borrower.info.list')}">
                        <a ui-sref="borrower.info.list"> 借款人列表</a>
                    </li>
                    <li ng-class="{active:appView.isActive('borrower.repayment.list')}"><a ui-sref="borrower.repayment.list"> 借款人还款列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['investor.*'])}">
                <a href="" class="submenu-root"><i class="icon-screen-desktop"></i><span>投资人及投资管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['investor.*'])}}">
                    <li ng-class="{ active:isActive('investor.investor.list')}"><a ui-sref="investor.investor.list">投资人列表</a></li>
                    <li ng-class="{ active:isActive('investor.check.list')}"><a ui-sref="investor.check.list">投资人修改审核</a></li>
                    <li ng-class="{ active:isActive('investor.new.list')}"><a ui-sref="investor.new.list">新增投标</a></li>
                    <li ng-class="{ active:isActive('tender.tender.list')}"><a ui-sref="investor.tender.list">投标列表</a></li>
                    <li ng-class="{ active:isActive('investor.info.list')}"><a ui-sref="investor.info.list">投资列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['project.*'])}">
                <a href=""><i class="fa fa-table"></i><span>项目管理</span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['project.*'])}}">
                    <li ng-class="{ active:isActive('project.info.info')}"><a ui-sref="project.info.info">项目列表</a></li>
                    <li ng-class="{ active:isActive('project.new.new')}"><a ui-sref="project.new.new">新增项目</a></li>
                    <li ng-class="{ active:isActive('project.release.release')}"><a ui-sref="project.release.release">发布审核</a></li>
                    <li ng-class="{ active:isActive('project.check.check')}"><a ui-sref="project.check.check">结标审核</a></li>
                    <li ng-class="{ active:isActive('project.repayment.repayment')}"><a ui-sref="project.repayment.repayment">项目还款计划列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['fund.*'])}">
                <a href=""><i class="icon-bar-chart"></i><span>资金管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['fund.*'])}}">
                    <li ng-class="{ active:isActive('fund.charge.charge')}"><a ui-sref="fund.charge.charge">充值列表</a></li>
                    <li ng-class="{ active:isActive('fund.check.check')}"><a ui-sref="fund.check.check">提现审核</a></li>
                    <li ng-class="{ active:isActive('fund.withdraw.withdraw')}"><a ui-sref="fund.withdraw.withdraw">提现列表</a></li>
                    <li ng-class="{ active:isActive('fund.rate.rate')}"><a ui-sref="fund.rate.rate">费率维护</a></li>
                    <li ng-class="{ active:isActive('fund.fallback.fallback')}"><a ui-sref="fund.fallback.fallback">回退审核</a></li>
                    <li ng-class="{ active:isActive('fund.query.query')}"><a ui-sref="fund.query.query">充值查询(客服)</a></li>
                    <li ng-class="{ active:isActive('fund.wquery.wquery')}"><a ui-sref="fund.wquery.wquery">提现查询(客服)</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['account.*'])}">
                <a href=""><i class="icon-picture"></i><span>资金账户</span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['account.*'])}}">
                    <li ng-class="{ active : isActive('account.list.list')}"><a ui-sref="account.list.list">资金账户列表</a></li>
                    <li ng-class="{ active : isActive('account.query.query')}"><a ui-sref="account.query.query">资金账户流水查询</a></li>
                    <li ng-class="{ active : isActive('account.rate.rate')}"><a ui-sref="account.rate.rate">资金费率维护</a></li>
                    <li ng-class="{ active : isActive('account.withdraw.withdraw')}"><a ui-sref="account.withdraw.withdraw">利润提取</a></li>
                    <li ng-class="{ active : isActive('account.profitlist.profitlist')}"><a ui-sref="account.profitlist.profitlist">利润提取列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['financial.*'])}">
                <a href=""><i class="icon-docs"></i><span>财务管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['financial.*'])}}">
                    <li ng-class="{ active  : isActive('financial.withdraw.withdraw')}"><a ui-sref="financial.withdraw.withdraw">提现出款</a></li>
                    <li ng-class="{ active:isActive('financial.full.full')}"><a ui-sref="financial.full.full">满标出款</a></li>
                    <li ng-class="{ active:isActive('financial.directive.directive')}"><a ui-sref="financial.directive.directive">出款指令列表</a></li>
                    <li ng-class="{ active:isActive('financial.print.print')}"><a ui-sref="financial.print.print">划款打印</a></li>
                    <li ng-class="{ active:isActive('financial.monitor.monitor')}"><a ui-sref="financial.monitor.monitor">提现出款监控</a></li>
                    <li ng-class="{ active:isActive('financial.list.list')}"><a ui-sref="financial.list.list">催款单列表</a></li>
                    <li ng-class="{ active:isActive('financial.check.check')}"><a ui-sref="financial.check.check">催款单审核</a></li>
                    <li ng-class="{ active:isActive('financial.POS.POS')}"><a ui-sref="financial.POS.POS">POS充值对账</a></li>
                    <li ng-class="{ active:isActive('financia.recon.recon')}"><a ui-sref="financial.recon.recon">提现出款对账</a></li>
                    <li ng-class="{ active:isActive('financial.file.file')}"><a ui-sref="financial.file.file">文件接口日志</a></li>
                    <li ng-class="{ active:isActive('financial.ERP.ERP')}"><a ui-sref="financial.ERP.ERP">ERP接口</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['marketing.*'])}">
                <a href=""><i class="icon-user"></i><span>营销管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['marketing.*'])}}">
                    <li ng-class="{ active:isActive('marketing.message.message')}"><a ui-sref="marketing.message.message">短信列表</a></li>
                    <li ng-class="{ active:isActive('marketing.channel.channel')}"><a ui-sref="marketing.channel.channel">短信渠道</a></li>
                    <li ng-class="{ active:isActive('marketing.mail.mail')}"><a ui-sref="marketing.mail.mail">邮件日志</a></li>
                    <li ng-class="{ active:isActive('marketing.notice.notice')}"><a ui-sref="marketing.notice.notice">系统公告列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['statement-*'])}">
                <a href=""><i class="icon-bar-chart"></i><span>报表 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['statement-*'])}}">
                    <li ng-class="{ active  : isActive('statement-dashboard')}"><a ui-sref="statement-dashboard">Dashboard</a></li>
                    <li ng-class="{ active  : isActive('statement-earnedValue')}"><a ui-sref="statement-earnedValue">利润报表</a></li>
                    <li ng-class="{ active  : isActive('statement-lendingStatement')}"><a ui-sref="statement-lendingStatement">借贷统计报表</a></li>
                    <li ng-class="{ active  : isActive('statement-projectStatement')}"><a ui-sref="statement-projectStatement">项目报表</a></li>
                    <li ng-class="{ active  : isActive('statement-dueRepayment')}"><a ui-sref="statement-dueRepayment">到期还款报表 </a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['systemManagement-*'])}">
                <a href=""><i class="icon-settings"></i><span>系统管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['systemManagement-*'])}}">
                    <li ng-class="{ active  : isActive('systemManagement-usersList')}"><a ui-sref="systemManagement-usersList"> 用户列表</a></li>
                    <li ng-class="{ active  : isActive('systemManagement-roleList')}"><a ui-sref="systemManagement-roleList"> 角色列表 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-departmentMaintains')}"><a ui-sref="systemManagement-departmentMaintains"> 部门维护 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-regularJobLog')}"><a ui-sref="systemManagement-regularJobLog"> 定时任务日志 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-onlineMonitoring')}"><a ui-sref="systemManagement-onlineMonitoring"> 在线投资人监控 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-staticParameters')}"><a ui-sref="systemManagement-staticParameters"> 静态参数维护 </a></li>
                </ul>
            </li> -->
        </ul>
        <div class="sidebar-footer clearfix">
            <a class="pull-left footer-settings" data-target="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                <i class="icon-settings"></i>
            </a>
            <a class="pull-left toggle_fullscreen" data-target="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
            <a class="pull-left" href="../../user-lockscreen.html" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i>
            </a>
            <a class="pull-left btn-effect" href="" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout" ng-click="logout()">
                <i class="icon-power"></i>
            </a>
        </div>
    </div>
</div>
