<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="#/"></a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <div class="userlogged clearfix">
                <i class="icon icons-faces-users-01"></i>
                <div class="user-details">
                    <h4 ng-bind="appView.user.name"></h4>
                    <div class="btn-group">
                        <a ui-sref="info" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
                        <a ui-sref="settings" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
                        <a href="" ng-click="logout()" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off" title="注销"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-title">
            菜单导航
        </div>
        <ul class="nav nav-sidebar">
            <li ng-class="{active: appView.isActive('dashboard')}">
                <a ui-sref="dashboard"><i class="icon-home"></i><span>控制台</span></a>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['borrowerManagement-*'])}">
                <a href="" class="submenu-root">
                    <i class="icon-screen-desktop"></i>
                    <span>借款人管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['borrowerManagement-*'])}}">
                    <li ng-class="{active: appView.isActive('borrowerManagement-borrowerList-list')}">
                        <a ui-sref="borrower-list"> 借款人列表</a>
                    </li>
                    <li ng-class="{active:appView.isActive('borrower-repayments')}"><a ui-sref="borrower-repayments"> 借款人还款列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['investor-*'])}">
                <a href="" class="submenu-root"><i class="icon-screen-desktop"></i><span>投资人及投资管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['investor-*'])}}">
                    <li ng-class="{ active:isActive('investor-investorList')}"><a ui-sref="investor-investorList">投资人列表</a></li>
                    <li ng-class="{ active:isActive('investor-investorCheck')}"><a ui-sref="investor-investorCheck">投资人修改审核</a></li>
                    <li ng-class="{ active:isActive('investor-newTender')}"><a ui-sref="investor-newTender">新增投标</a></li>
                    <li ng-class="{ active:isActive('investor-tenderList')}"><a ui-sref="investor-tenderList">投标列表</a></li>
                    <li ng-class="{ active:isActive('investor-investmentList')}"><a ui-sref="investor-investmentList">投资列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['projectManagement-*'])}">
                <a href=""><i class="fa fa-table"></i><span>项目管理</span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['projectManagement-*'])}}">
                    <li ng-class="{ active:isActive('projectManagement-projectList')}"><a ui-sref="projectManagement-projectList">项目列表</a></li>
                    <li ng-class="{ active:isActive('projectManagement-newProject')}"><a ui-sref="projectManagement-newProject">新增项目</a></li>
                    <li ng-class="{ active:isActive('projectManagement-releaseCheck')}"><a ui-sref="projectManagement-releaseCheck">发布审核</a></li>
                    <li ng-class="{ active:isActive('projectManagement-endTenderCheck')}"><a ui-sref="projectManagement-endTenderCheck">结标审核</a></li>
                    <li ng-class="{ active:isActive('projectManagement-repaymentList')}"><a ui-sref="projectManagement-repaymentList">项目还款计划列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['fundManagement-*'])}">
                <a href=""><i class="icon-bar-chart"></i><span>资金管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['fundManagement-*'])}}">
                    <li ng-class="{ active:isActive('fundManagement-chargeList')}"><a ui-sref="fundManagement-chargeList">充值列表</a></li>
                    <li ng-class="{ active:isActive('fundManagement-withdrawCheck')}"><a ui-sref="fundManagement-withdrawCheck">提现审核</a></li>
                    <li ng-class="{ active:isActive('fundManagement-withdrawList')}"><a ui-sref="fundManagement-withdrawList">提现列表</a></li>
                    <li ng-class="{ active:isActive('fundManagement-ratePreserve')}"><a ui-sref="fundManagement-ratePreserve">费率维护</a></li>
                    <li ng-class="{ active:isActive('fundManagement-fallbackCheck')}"><a ui-sref="fundManagement-fallbackCheck">回退审核</a></li>
                    <li ng-class="{ active:isActive('fundManagement-chargeQuery')}"><a ui-sref="fundManagement-chargeQuery">充值查询(客服)</a></li>
                    <li ng-class="{ active:isActive('fundManagement-withdrawQuery')}"><a ui-sref="fundManagement-withdrawQuery">提现查询(客服)</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['fundAccount-*'])}">
                <a href=""><i class="icon-picture"></i><span>资金账户</span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['fundAccount-*'])}}">
                    <li ng-class="{ active : isActive('fundAccount-fundAccountList')}"><a ui-sref="fundAccount-fundAccountList">资金账户列表</a></li>
                    <li ng-class="{ active : isActive('fundAccount-fundAccountQuery')}"><a ui-sref="fundAccount-fundAccountQuery">资金账户流水查询</a></li>
                    <li ng-class="{ active : isActive('fundAccount-fundRatePreserve')}"><a ui-sref="fundAccount-fundRatePreserve">资金费率维护</a></li>
                    <li ng-class="{ active : isActive('fundAccount-profitDraw')}"><a ui-sref="fundAccount-profitDraw">利润提取</a></li>
                    <li ng-class="{ active : isActive('fundAccount-profitDrawList')}"><a ui-sref="fundAccount-profitDrawList">利润提取列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['financialManagement-*'])}">
                <a href=""><i class="icon-docs"></i><span>财务管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['financialManagement-*'])}}">
                    <li ng-class="{ active  : isActive('financialManagement-withdrawCash')}"><a ui-sref="financialManagement-withdrawCash">提现出款</a></li>
                    <li ng-class="{ active:isActive('financialManagement-endBiddingCash')}"><a ui-sref="financialManagement-endBiddingCash">满标出款</a></li>
                    <li ng-class="{ active:isActive('financialManagement-cashDirectiveList')}"><a ui-sref="financialManagement-cashDirectiveList">出款指令列表</a></li>
                    <li ng-class="{ active:isActive('financialManagement-transferCashPrint')}"><a ui-sref="financialManagement-transferCashPrint">划款打印</a></li>
                    <li ng-class="{ active:isActive('financialManagement-withdrawCashMonitor')}"><a ui-sref="financialManagement-withdrawCashMonitor">提现出款监控</a></li>
                    <li ng-class="{ active:isActive('financialManagement-promptList')}"><a ui-sref="financialManagement-promptList">催款单列表</a></li>
                    <li ng-class="{ active:isActive('financialManagement-promptCheck')}"><a ui-sref="financialManagement-promptCheck">催款单审核</a></li>
                    <li ng-class="{ active:isActive('financialManagement-POSchargeRecon')}"><a ui-sref="financialManagement-POSchargeRecon">POS充值对账</a></li>
                    <li ng-class="{ active:isActive('financialManagement-withdrawCashRecon')}"><a ui-sref="financialManagement-withdrawCashRecon">提现出款对账</a></li>
                    <li ng-class="{ active:isActive('financialManagement-fileInterfaceLog')}"><a ui-sref="financialManagement-fileInterfaceLog">文件接口日志</a></li>
                    <li ng-class="{ active:isActive('financialManagement-ERPinterface')}"><a ui-sref="financialManagement-ERPinterface">ERP接口</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['marketingManagement-*'])}">
                <a href=""><i class="icon-user"></i><span>营销管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['marketingManagement-*'])}}">
                    <li ng-class="{ active:isActive('marketingManagement-messageList')}"><a ui-sref="marketingManagement-messageList">短信列表</a></li>
                    <li ng-class="{ active:isActive('marketingManagement-SMSchannel')}"><a ui-sref="marketingManagement-SMSchannel">短信渠道</a></li>
                    <li ng-class="{ active:isActive('marketingManagement-mailLog')}"><a ui-sref="marketingManagement-mailLog">邮件日志</a></li>
                    <li ng-class="{ active:isActive('marketingManagement-systemNoticeList')}"><a ui-sref="marketingManagement-systemNoticeList">系统公告列表</a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['statement-*'])}">
                <a href=""><i class="icon-bar-chart"></i><span>报表 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['statement-*'])}}">
                    <li ng-class="{ active  : isActive('statement-dashboard')}"><a ui-sref="statement-dashboard">Dashboard</a></li>
                    <li ng-class="{ active  : isActive('statement-earnedValue')}"><a ui-sref="statement-earnedValue">利润报表</a></li>
                    <li ng-class="{ active  : isActive('statement-lendingStatement')}"><a ui-sref="statement-lendingStatement">借贷统计报表</a></li>
                    <li ng-class="{ active  : isActive('statement-projectStatement')}"><a ui-sref="statement-projectStatement">项目报表</a></li>
                    <li ng-class="{ active  : isActive('statement-dueRepayment')}"><a ui-sref="statement-dueRepayment">到期还款报表 </a></li>
                </ul>
            </li>
            <li class="nav-parent" ng-class="{active: appView.isActive(['systemManagement-*'])}">
                <a href=""><i class="icon-settings"></i><span>系统管理 </span><span class="fa arrow"></span></a>
                <ul class="children collapse" style="{{appView.getSubMenuStyle(['systemManagement-*'])}}">
                    <li ng-class="{ active  : isActive('systemManagement-usersList')}"><a ui-sref="systemManagement-usersList"> 用户列表</a></li>
                    <li ng-class="{ active  : isActive('systemManagement-roleList')}"><a ui-sref="systemManagement-roleList"> 角色列表 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-departmentMaintains')}"><a ui-sref="systemManagement-departmentMaintains"> 部门维护 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-regularJobLog')}"><a ui-sref="systemManagement-regularJobLog"> 定时任务日志 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-onlineMonitoring')}"><a ui-sref="systemManagement-onlineMonitoring"> 在线投资人监控 </a></li>
                    <li ng-class="{ active  : isActive('systemManagement-staticParameters')}"><a ui-sref="systemManagement-staticParameters"> 静态参数维护 </a></li>

                </ul>
            </li>
        </ul>
        <div class="sidebar-footer clearfix">
            <a class="pull-left footer-settings" data-target="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                <i class="icon-settings"></i>
            </a>
            <a class="pull-left toggle_fullscreen" data-target="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
            <a class="pull-left" href="../../user-lockscreen.html" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i>
            </a>
            <a class="pull-left btn-effect" href="" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout" ng-click="logout()">
                <i class="icon-power"></i>
            </a>
        </div>
    </div>
</div>
