<form name="pageForm" class="bs-example form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()"><i class="icons-office-52"></i></button>
        <h4 class="modal-title">确认操作</h4>
    </div>
    <div class="modal-body p-r">
        <div class="form-group">
            <div class="col-md-12 portlets">
                <table class="table table-bordered th-right">
                    <tbody>
                        <tr>
                            <th class='w-120'>
                                提现笔数
                            </th>
                            <th>
                                <div class="col-sm-12">
                                    <label type="text" name="name" ng-bind="checkVM.withdrawNum"></label>
                                </div>
                            </th>
                            <th class='w-120'>
                                提现金额
                            </th>
                            <th>
                                <div class="col-sm-12">
                                    <label type="text" name="name" ng-bind="checkVM.withdrawAmount"></label>
                                </div>
                            </th>
                            <th class='w-120'>
                                提现服务费
                            </th>
                            <th>
                                <div class="col-sm-12">
                                    <label type="text" name="name" ng-bind="checkVM.withdrawFee"></label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class='w-120'>
                                审批意见
                            </th>
                            <th colspan="5">
                                <div class="col-sm-12">
                                    <textarea type="text" name="name" ng-model="checkVM.memo"></textarea>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="confirmData.processing">
            <span class="w2em" ng-if="!confirmData.processing" ng-cloak>批准</span>
            <i class="fa fa-spin fa-spinner w2em" ng-if="confirmData.processing" ng-cloak></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">拒绝</button>
    </div>
</form>
