
<div class="wrapper-md">
        <div class="row">
            <div class="col-sm-5 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon" >认证类型</span>
                    <!--<ex-singleselect model="selectedType" options="supAuthTypeList"></ex-singleselect>-->
                    <select name="searchtype" convert-to-number class="form-control" ng-model="selectedType" ng-options="item.Id as item.Name for item in supAuthTypeList" >
                        <option value=''>- 请选择 -</option>
                    </select>

                </div>
            </div>
            <div class="col-md-5 p-r-none">
                <div class="input-group m-b">
                    <span class="input-group-addon" >公司名称</span>
                    <input type="text" class="form-control" placeholder="公司名称" ng-model="condition.companyName" />
                </div>
            </div>
            <!--<div class="col-md-3 p-r-none">-->
                <!--<div class="input-group m-b">-->
                    <!--<span class="input-group-addon" >经营品类</span>-->
                    <!--<select name="searchcategory" class="form-control"  ng-model="condition.businessCategory" ng-options="item.value as item.text for item in businessCategory" >-->
                        <!--<option value=''>- 请选择 -</option>-->
                    <!--</select>-->

                <!--</div>-->
            <!--</div>-->

            <div class="col-md-2">
                <div></div>
                <div class="form-group form-group-margin">
                    <button class="btn btn-primary mr5" ng-click="page(1)" ng-disabled="searching">
                        查询
                    </button>
                    <button class="btn btn-default" ng-click="reset()">
                        重置
                    </button>
                </div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>公司名称</th>
                    <!--<th>经营品类</th>-->
                    <th>手机号</th>
                    <th>注册邮箱</th>
                    <th>类别</th>
                    <th>提交时间</th>
                    <th>认证类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="view.loading" ng-cloak>
                    <td class="text-center" colspan="7">
                        <i class="fa fa-spin fa-spinner m-r-xs text-lg"></i>正在查询...
                    </td>
                </tr>
                <tr ng-if="!view.loading&&(!feedbackList||feedbackList.length==0)" ng-cloak>
                    <td class="text-center" colspan="7">暂无数据</td>
                </tr>
                <tr ng-repeat="item in feedbackList" ng-if="!view.loading" ng-cloak>
                    <td>
                        {{item.companyName}}
                    </td>
                    <!--<td>-->
                        <!--{{item.businessCategory}}-->
                    <!--</td>-->
                    <td>
                        {{item.mobilePhone}}
                    </td>
                    <td>
                        {{item.email}}
                    </td>
                    <td>
                        <div ng-repeat="obj in supllierCategary | filter:{value:(item.supplierCategory==null?-1:item.supplierCategory)}">
                            {{obj.text}}
                        </div>
                    </td>
                    <td>
                        {{item.authTime|  date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        <div ng-repeat="obj in supAuthTypeList | filter:{Id:(item.authType==null?-1:item.authType)}">
                            {{obj.Name}}
                        </div>
                    </td>
                    <td>
                        <a ng-click='gotoPage("supplier.audit.detail",item.id)' class="fa fa-edit" title="审核"></a>
                        <a class="fa fa-bookmark" title="通过" ng-click="accept(item)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer"  ng-cloak>
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs">
                    <pagination total-items="queryResult.TotalCount" items-per-page="queryResult.PageSize" ng-change="pageChanged()" ng-model="queryResult.PageIndex" is-paging="view.loading" max-size="5" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>