<div class="header">
    <h2><i class="fa fa-dashboard"></i>静态参数维护</h2>
</div>
<div class="row" id="toolbar">
    <form class="form-horizontal ng-pristine novalidate" ng-submit="search()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">静态参数名称</span>
                                <input type="text" class="form-control form-white" ng-model="listView.condition.investorCode">
                            </div>
                        </div>
                    </div>
                </div>                    
                <div class="col-md-4 col-md-offset-5">
                    <div class="form-group col-md-4">
                        <button class="btn btn-info">查找</button>
                        <button type="button" class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-header"><i class="icon icon-user"></i>查询结果</div>
    <div class="panel-body">
        <table id="staticParametersTable" bs-table-control="bsStaticParametersTableControl"></table>
    </div>
</div>