<div class="panel m-t-10">
    <div class="panel-header">
        <h3 ng-bind="vm.title"></h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group" ng-show="vm.action=='edit'">
                <label class="col-sm-2 control-label">
                    费率标识
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.rateMark">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    费率名称
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.rateName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    费率编码
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.rateCode" ng-options='rateCode for rateCode in vm.rateCode'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    费率类型
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.rateType" ng-options='rateType for rateType in vm.rateType'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    费率值
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.rateValue">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    封顶值
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.capValue">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    最低值
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.lowestValue">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    起始值
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.startValue">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    截止值
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="vm.data.endValue">
                </div>
            </div>
            <div class="form-group" ng-show="vm.action=='edit'">
                <label class="col-sm-2 control-label">
                    状态
                </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.data.status" ng-options='status for status in vm.status'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    备注
                </label>
                <div class="col-sm-10">
                    <textarea name="comment" rows="3" class="form-control" ng-model="vm.data.memo"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary m-r-10">保存</button>
                    <button type="button" class="cancel btn btn-default" ng-click="vm.cancel()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
